[2020-11-29 14:04] Tedko opened #1963 "[Bug] Red Packet history need improvement"
## Bug Report

RN we are using home brew server for the query test. Which got some delay and inaccurate for RedP histroy (delay for few minutes or some redP is missing).

@guanbinrui recommand use theGraph API (such as 0x did) to have an improvement of this func

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS

[2020-11-29 14:26] septs commented on #1963
https://github.com/DimensionDev/Maskbook-RedPacket-Subgraph

[2020-11-29 14:34] septs commented on #1447
Solution:
1. Redesign UI display method (Copy click before behavior).
2. Fix upstream library (Snackbar)

https://github.com/DimensionDev/Maskbook/blob/1cb97ec7383c472da31d552a23ec3566c80a3e11/packages/maskbook/src/plugins/FileService/components/Copyable.tsx#L26-L30

[2020-11-30 01:23] guanbinrui opened #1964 "[Release] Hotfix 1.19.5 => 1.19.6"

[2020-11-30 06:49] jk234ert opened #1968 "[Demand] ITO Plugin"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [x] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
Implement ITO plugin

[Figma link](https://www.figma.com/file/gVkQ67y285b4FXVV1KPThN/Twitter?node-id=357%3A979)

## Part 2: Sub-tasks

- [ ] Integrate ITO contract ABI and implement corresponding data models

[2020-11-30 06:53] jk234ert opened #1969 "[Demand] Maskbook Multi-Chain Wallet Library"
## Catalogue

- [x] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [x] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
We need a specific multi-chain support wallet library for Maskbook as the base component of all our block-chain cryptocurrency features.

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-11-30 07:01] yisiliu opened #1970 "[Task] Review and revamp the labels"
We now have 80 labels in this repo and we really need to review them to simplify and formalize the labels.

[2020-11-30 07:05] septs commented on #1970
WARNING:
But delete label no any notification.
Plz update to other label and remove the label.

[2020-11-30 07:08] septs commented on #1970
https://github.com/DimensionDev/Maskbook/blob/0b5eb37e1460812c9698d870d0280ddb37521a55/.github/stale.yml#L6-L15

Redesign label system after, need update the stale bot configuration
See https://github.com/probot/stale#usage

[2020-11-30 07:25] septs commented on #1969
@Jack-Works split into `packages/plugin-wallet` for development? (try switch to monorepo?)

[2020-11-30 07:28] septs commented on #1447
CC @OiCkilL

[2020-11-30 07:34] Tedko commented on #1963
i assume this one's using web3 api; and thegraph have sth better? @guanbinrui

[2020-11-30 11:42] #1962 closed

[2020-11-30 12:25] zhouhanseng commented on #1391
Still can reproduce when select specific contacts in 1.19.6, neither firefox => chrome nor chrome => firefox failed.

The fingerprint is wrong, and can't get it right through reinstall or reconnect.

firefox:

![image](https://user-images.githubusercontent.com/63733714/100609872-b3f8fa80-3349-11eb-94ec-53fc1671ff2a.png)

chrome:

![image](https://user-images.githubusercontent.com/63733714/10060990

[2020-11-30 14:45] Jack-Works commented on #1937
-- https://hyperfoo.io/posts/npm-7-workspaces-1

[2020-11-30 16:52] Tedko commented on #1963
Current problems:
- time lag ( not real time )

[2020-11-30 16:53] Tedko commented on #1906
#1907

[2020-11-30 16:55] Tedko opened #1975 "[Bug] File service `Filekey Copied` Notification is overlayed by img payload"
## Bug Report

<img width="1399" alt="Screen Shot 2020-12-01 at 00 51 16" src="https://user-images.githubusercontent.com/6687437/100639061-aeaea680-336f-11eb-8a09-e35b0e21ab49.png">

Question: Why should we keep the `Filekey Copied` or `Copy Filekey`? @xiazhiming @OiCkilL
**I actually recomand lets just remove the `File Key: xxxx` of the UX**

## Environment

### System

- [ ] Windows

  - OS Vers

[2020-11-30 23:31] septs commented on #1447
Move to #1975

[2020-11-30 23:31] #1447 closed

[2020-12-01 02:29] septs opened #1976 "[Demand] Web-based continuous localization"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [x] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

https://weblate.org

[2020-12-01 04:22] #1957 closed

[2020-12-01 04:38] Jack-Works commented on #1919
done in #1972

[2020-12-01 04:38] #1919 closed

[2020-12-01 05:54] Tedko commented on #1976
ive applied a trial account. feel free to apply urself and play around.
Note: i18n is not our priority for now

[2020-12-01 05:55] Tedko commented on #1447
the fast way

[2020-12-01 07:33] #1777 closed

[2020-12-01 09:07] #1975 closed

[2020-12-01 09:34] guanbinrui opened #1983 "[Bug] The guide popup did not present as expected"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS

[2020-12-01 19:25] Tedko commented on #1915
almost done.

[2020-12-01 19:25] #1915 closed

[2020-12-01 22:18] #1881 closed

[2020-12-01 22:19] Tedko opened #1996 "[Bug] gitcoin.co integrate down?"
## Bug Report

https://twitter.com/LefterisJP/status/1333828296572854274?s=20
<img width="1437" alt="Screen Shot 2020-12-02 at 06 19 05" src="https://user-images.githubusercontent.com/6687437/100803539-4bec0680-3466-11eb-86e1-2e174185382f.png">

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Pla

[2020-12-01 22:20] #1835 closed

[2020-12-01 22:22] Tedko commented on #1759
@yisiliu

[2020-12-01 22:24] Tedko opened #1997 "[Bug] Cannot compose `not encrypted` file service post"
## Bug Report

as the title @septs  Cannot compose `not encrypted` file service post. the compose box of  file service post will exit

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:

[2020-12-02 00:45] guanbinrui commented on #1996
![encrypt](https://user-images.githubusercontent.com/52657989/100813663-c757b300-347a-11eb-99da-6119543a600a.png)
@septs

[2020-12-02 01:23] septs commented on #1996
Note: Switch to AWS Lambda (Maintenance-less)

[2020-12-02 02:27] septs commented on #1996
https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-examples.html#lambda-examples-overriding-response-header

[2020-12-02 04:39] guanbinrui opened #2001 "[Bug] Remove the "Add your own" tab in the add token dialog"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS

[2020-12-02 06:43] Tedko commented on #2001
how to add new token then?

[2020-12-02 07:39] guanbinrui commented on #1996
Wait for #1999 to be merged.

[2020-12-02 17:16] Tedko commented on #1391
@Jack-Works @septs  take a look. seems bug on ourside

[2020-12-02 17:17] Tedko commented on #1391
@zhouhanseng try this?

 firefox => ios(webview)
 firefox => android (gecko which is also ff)

[2020-12-02 20:07] trymeouteh opened #2005 "[Demand] Release Android App on F-Droid"
Please release the Android app on F-Droid to allow Degoogled Android users to use Maskbook on their mobile devices.

[2020-12-03 02:39] jk234ert commented on #2005
Thanks for your interest in Mask :)
We are hard working on a brand new mobile app design, and it would be on F-Droid when it's done.

[2020-12-03 02:48] Jack-Works commented on #1937
Let's use the npm7 workspace. I'll open a new issue to track it.

[2020-12-03 02:51] Jack-Works opened #2006 "[Demand] Turn into NPM workspace"
Prior discussion: #1937

- [x] Step 1. Remove all yarn-only package resolution features or find npm alternatives
- [x] Step 2. Convert yarn.lock to package-lock.json (NPM7 support this)
- [x] Step 3. Configure CI
- [x] Step 4. Configure https://www.npmjs.com/package/only-allow
- [x] Step 5. Configure NPM7 workspace
- [x] Step 6. Convert the repo into npm workspace

[2020-12-03 06:28] septs commented on #1996
New solution is unavailable.

[2020-12-03 06:28] #1996 closed

[2020-12-03 08:30] zhouhanseng commented on #1391
All failed (install maskbook from App Store and google play store)

Suji Yan <notifications@github.com> 于2020年12月3日周四 上午1:17写道：

[2020-12-03 09:50] Tedko commented on #2001
oh gotcha. ignore the previous comment

[2020-12-03 10:28] #1997 closed

[2020-12-03 13:20] guanbinrui opened #2012 "[Release] Hotfix 1.20.0 => 1.20.1"

[2020-12-03 16:25] #2012 closed

[2020-12-03 16:58] guanbinrui opened #2014 "[Task] Test case documentation for manually testing"
## Introduction and Background

/_Describe the background of this task_/

## Content

/_Actual content here..._/

[2020-12-03 17:13] Tedko opened #2015 "[Bug] Copied Notifcation overlay-ed by Twitter DM UX"
## Bug Report

<img width="1916" alt="Screen Shot 2020-12-04 at 00 28 06" src="https://user-images.githubusercontent.com/6687437/101062657-e1090f80-35cc-11eb-9218-c087d0af5e78.png">

How to reproduce:

Search $uni  or $eth on twitter;
click to copy （see down here)

<img width="1939" alt="Screen Shot 2020-12-04 at 01 10 34" src="https://user-images.githubusercontent.com/6687437/101063507-d56a1880-3

[2020-12-03 17:23] #57 closed

[2020-12-03 17:23] #96 closed

[2020-12-03 17:26] septs commented on #2015
#1975 same question

[2020-12-03 17:28] Tedko commented on #2015
Ok. Let’s do a quick fix. Move it from right to left? (Like the img payload
notify

On Fri, Dec 4, 2020 at 01:26 Septs <notifications@github.com> wrote:

[2020-12-03 17:51] Tedko opened #2016 "[Task] rename `Mb File Service` to `Mask Network File Service`"
## Introduction and Background

<img width="1950" alt="Screen Shot 2020-12-04 at 01 43 51" src="https://user-images.githubusercontent.com/6687437/101068049-3c3e0080-35d3-11eb-937e-32f87962eaa2.png">

/_Describe the background of this task_/

## Content

/_Actual content here..._/

[2020-12-03 18:23] guanbinrui opened #2017 "[Demand] Revamp RedPacket UI"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

+ Able to switch accouts
+ Add a claim/refund button under the RedPacket UI

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-12-03 18:43] #1964 closed

[2020-12-04 01:20] guanbinrui opened #2018 "[Release] Hotfix 1.20.1 => 1.20.2"

[2020-12-04 03:55] guanbinrui opened #2021 "[Demand] Revamp the Gitcoin donation card"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

For now, we depend on `/api/v0.1/grants/${id}/` and `api/v0.1/grants/report/?eth_address=${address}` to present the Gitcoin donation card. The later one takes a long time for a response and easy to break. S

[2020-12-04 05:15] yisiliu opened #2022 "Mask ❤️ NFT [Bounty] Display NFTs natively on Maskbook"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [x] Beginner
  - [ ] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 1 weeks
- Bounty Size
  - [x] 500 DAI

## Part 1: Problem De

[2020-12-04 05:19] #2016 closed

[2020-12-04 05:37] #1766 closed

[2020-12-04 05:54] septs commented on #2015
CC @Jack-Works

[2020-12-04 05:55] septs commented on #2015
Related code: https://github.com/DimensionDev/Maskbook/blob/ab8a1e6ce3394794cc2271a05aeda56d0ec8b6b0/packages/maskbook/src/utils/shadow-root/renderInShadowRoot.tsx#L240-L244

[2020-12-04 05:57] Jack-Works commented on #2015
@septs OK to change elsewhere. Or you can wrap another SnackbarProvider

[2020-12-04 07:37] #1647 closed

[2020-12-04 08:47] jerrynoah96 commented on #2022
@yisiliu i am the person you responded to on the gitcoin chat some minutes ago, The codes are written majorly in typescript and i have no experience with that. How about i create kindof popup or a new Page in react displaying the NFTs perhaps upon clicks then we have it integrated in

[2020-12-04 08:50] yisiliu commented on #2022
@jerrynoah96 thanks but that's not ideal to us. What we want is a fully built-in feature like
![image](https://user-images.githubusercontent.com/3343358/101142579-c2e4f300-3650-11eb-9e7d-e368e7de8055.png)

[2020-12-04 09:15] jerrynoah96 commented on #2022
@yisiliu  Thanks

[2020-12-04 11:29] septs commented on #1873
Original from https://github.com/DimensionDev/Maskbook/issues/1550

[2020-12-04 12:33] #1550 closed

[2020-12-04 12:37] guanbinrui commented on #1550
Replaced by #1873.

[2020-12-04 13:09] AndiNR opened #2025 "[Crash] TypeError: Cannot read property 'replace' of undefined"
I was ________, then Maskbook report an error.

Error stack:
<pre>TypeError: Cannot read property 'replace' of undefined
    at Object.strip0x (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.wallet.ts.chunk.js:6376:16)
    at isValidFormat (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.wallet.ts.chunk.js:188:21)
    at Function.isValid (chrome-extension://jkoeaghipilijlahj

[2020-12-04 13:18] Tedko commented on #2025
@guanbinrui @septs @Jack-Works

[2020-12-04 13:20] septs commented on #2025
Note:
https://github.com/petejkim/wallet.ts/search?q=strip0x
https://github.com/DimensionDev/Maskbook/search?q=createContract

[2020-12-04 13:29] septs commented on #2025
https://github.com/DimensionDev/Maskbook/blob/2200ba093a0c637ccf4f504f2374181d91c4d6de/packages/maskbook/src/web3/contracts/useBalanceChecker.ts#L8-L11

@guanbinrui chain id, may be is unexpected.

[2020-12-04 13:31] AndiNR commented on #2025
always error if switch from metamask wallet to maskbook wallet

[2020-12-04 14:01] septs commented on #139
Replaced by #1139

[2020-12-04 14:01] #139 closed

[2020-12-04 15:58] Jack-Works commented on #2006
we've done a big step on this.

[2020-12-04 21:09] Tedko opened #2029 "[Crash] TypeError: Cannot read property 'currency' of undefined"
<img width="1503" alt="Screen Shot 2020-12-05 at 05 09 04" src="https://user-images.githubusercontent.com/6687437/101215059-12aad500-36b8-11eb-8ebc-1c3546153360.png">

I was ___trying to swap $ to some $ at search page_____, then Maskbook report an error.

Error stack:
<pre>TypeError: Cannot read property 'currency' of undefined
    at Function.swapCallParameters (chrome-extension://jkoeaghipilijl

[2020-12-05 03:02] guanbinrui opened #2030 "[Release] New release 1.21.0"

[2020-12-05 06:16] Tedko commented on #1963
@septs take a look

[2020-12-05 07:03] #2030 closed

[2020-12-05 07:15] Tedko opened #2032 "[Demand] Wallet Asset ranking (use Debank's ranking method)"
## Catalogue

- [ ] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature

Right now our wallet asset ranking is like:

![901607148360_ pic_hd](https://user-images.githubusercontent.com/6687437/101236452-3ef04100-370c-11eb-9559-9d973673f2d3.jpg)

For debank its like:
![891607148358_ pic_hd](https://user-images.githubusercontent.com/6687437/101236455-44e62200-370c-11eb-8b11-deab681f7a0a.j

[2020-12-05 09:36] #1952 closed

[2020-12-06 00:24] Tedko opened #2033 "[Bug] $ytrump Price info not correct"
![image](https://user-images.githubusercontent.com/6687437/101268303-6c84cb00-379c-11eb-91b0-b97c949abf56.png)

![image](https://user-images.githubusercontent.com/6687437/101268308-727aac00-379c-11eb-8af3-f494531866e1.jpeg)
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/B

[2020-12-06 00:28] Tedko commented on #2015
Let's do a quick fix buy change it to right side. Or if u guys can make the DM not overlay it. Whichever faster

[2020-12-06 00:29] Tedko commented on #2015
Cc @Jack-Works @septs

[2020-12-06 01:00] Tedko commented on #1586
cant reproduce. Should be fixed already

[2020-12-06 01:00] #1586 closed

[2020-12-06 01:05] Tedko commented on #2029
cc @septs @Jack-Works @zhouhanseng take a look

[2020-12-06 04:48] Tedko opened #2034 "[Demand] Do not display these tokens w/ same ticker as famous stocks"
Do not display these tokens w/ same ticker as famous stocks:

(hard code for now is fine)

$VIX #VIX
$TSLA #TSLA
$AAPL #AAPL
$V #V (stock: VISA; # for kpop bts)
$GPS #gps (stock: GAP; # for term)
$CMG #CMG (stock: Chipotle)
$NDX #NDX (stock: nasdaq 100)
$SPY #SPY (stock etf)

Also do not display

$NFT or #NFT
$DEFI or #DEFI
#DATA

[2020-12-06 05:30] Tedko commented on #2034
ALSO no:

#play
#earn
#dapp
#stake
#dice
#fun
#game
#king
$eq #eq
#iq
#golf $golf
#open
#dos
#shell $shell
#bash
#coin
#gun $gun
#hub
#bmw $bmw

[2020-12-06 11:33] guanbinrui opened #2035 "[Release] New release 1.22.0"

[2020-12-06 12:30] #2035 closed

[2020-12-06 12:30] guanbinrui opened #2036 "[Release] Hotfix 1.21.0 => 1.21.1"

[2020-12-06 16:38] Tedko commented on #2034
Also no

for stock:

$NIO
$hp

#Ocean
#Ice
#CPI
#Sushi
#moon
#black
#btw
#hot
#sum $sum
#iti $iti
#jobs $jobs
#atom
#hp $hp
#gme $gme
#ok $ok
#ton
#power
#trade
#nio $nio
#waves
#omg
#maid
#band
#nest
#titan
#elf
#math
#tomo
#poly
#sys
#one
#fetch
#farm
#eng
#dna
#gas
#loom
#boa
#edo
#arpa
#ring
#salt
#sun
#fx
#pickle
#meta
#pai
#bot
#kan
#gn
#fog
#cocos
#df
#cream
#mix
#wing
#new
#you
#true
#meme

[2020-12-07 02:13] yisiliu commented on #1947
@nazariyv hey how's going? Can you update us your progress please?

[2020-12-07 02:53] guanbinrui commented on #1545
The build size problem is huge released after we switched to ES modules (#372). I'm closing this issue because we may not resolve this in the short term.

[2020-12-07 05:04] guanbinrui commented on #2025
Hi @AndiNR What chain are u using in Metamask?

[2020-12-07 05:11] guanbinrui commented on #2029
I will handle this in ver 1.21.1

[2020-12-07 05:13] septs commented on #1955
Wait for #2006

[2020-12-07 06:02] guanbinrui commented on #1963
This is the thegraph solution. We will introduce it this week.

[2020-12-07 07:27] Jack-Works commented on #1545
but we didn't switch to #372 based solution. maybe you mean #1644?

[2020-12-07 07:33] zhouhanseng commented on #2032
close by https://github.com/DimensionDev/Maskbook/pull/2038

[2020-12-07 07:33] #2032 closed

[2020-12-07 07:43] jk234ert commented on #1896
Waiting for #1924 to finish

[2020-12-07 07:52] Jack-Works commented on #2006
the minimal work of this has done. we can add new packages / split the current codebase into new packages later.

[2020-12-07 07:52] #2006 closed

[2020-12-07 08:19] septs commented on #1955
npm workspace new locale kit design (#1980)

[code]

[2020-12-07 14:09] AndiNR commented on #2025
I think binance smart chain .

[2020-12-08 02:19] jk234ert opened #2039 "[Demand] Android native QR code scan feature"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
For a better user experience in scanning QR code, we need to implement the Android native QR code scan feature and integrate it into the new GeckoView messaging channel to make it work with JS side

## Part

[2020-12-08 03:21] jk234ert opened #2041 "[Task] Maskbook mobile app release 1.20 tasks"
Issues & PRs block the release of new Maskbook Android & iOS version:

iOS:
None

Android:
#1959

[2020-12-08 03:24] septs commented on #2041
Next release need include pr list: #1931 #2024 #1960

[2020-12-08 07:00] yisiliu commented on #1759
@guanbinrui @septs

[2020-12-08 12:27] #2034 closed

[2020-12-08 12:31] #2036 closed

[2020-12-08 12:31] guanbinrui opened #2042 "[Release] Hotfix 1.21.1 => 1.21.2"

[2020-12-09 06:24] #2042 closed

[2020-12-09 06:26] guanbinrui opened #2046 "[Release] Hotfix 1.21.2 => 1.21.3"

[2020-12-09 06:44] guanbinrui opened #2048 "[Bug] Reduce uniswap pair queries with thegraph API"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS

[2020-12-09 07:31] Jack-Works opened #2049 "[Release] major"
this is a test

[2020-12-09 07:32] #2049 closed

[2020-12-09 07:34] #1648 closed

[2020-12-09 08:12] Jack-Works opened #2050 "[Release] New release 1.22.0"

[2020-12-09 08:14] #2050 closed

[2020-12-09 08:18] Jack-Works opened #2051 "[Release] Hotfix 1.21.2 => 1.21.3"

[2020-12-09 08:18] #2051 closed

[2020-12-09 08:20] Jack-Works opened #2052 "[Release] New release 2.0.0"

[2020-12-09 08:21] #2052 closed

[2020-12-09 08:39] Jack-Works opened #2054 "[Release] minor"

[2020-12-09 08:40] #2054 closed

[2020-12-09 11:16] Tedko commented on #1907
@guanbinrui @zhouhanseng let's prioritize this one as well?

[2020-12-09 11:19] Tedko commented on #2029
@guanbinrui Assume this is fixed?

[2020-12-09 13:51] Jack-Works opened #2055 "[Release] New release 2.0.0 (major)"
test

[2020-12-09 13:52] #2055 closed

[2020-12-09 13:53] Jack-Works opened #2056 "[Release] New release 1.22.0 (minor)"

[2020-12-09 13:54] #2056 closed

[2020-12-09 14:04] Jack-Works opened #2057 "[Release] New release 2.0.0 (major)"
test!!!

[2020-12-09 14:04] #2057 closed

[2020-12-09 21:20] nazariyv commented on #1947
hey, I will get a chance to get on this later this week / weekend. How urgent is this? @yisiliu

[2020-12-10 02:14] yisiliu commented on #1947
np @nazariyv take your time!

[2020-12-10 02:57] Jack-Works opened #2059 "[Task] Remove "version" field in package.json"
This is a notification to the members. Since the repo has become a monorepo, it should not mark the version in the package.json cause it's the whole workspace version. This change has already shipped in our maintainer bot.

[2020-12-10 03:14] #2059 closed

[2020-12-10 03:16] #1924 closed

[2020-12-10 03:16] #1896 closed

[2020-12-10 03:18] Jack-Works opened #2061 "[Task] Tracking the upstream bug browser.runtime.connectNative().postMessage fails to handle JavaScript object with nested array"
https://bugzilla.mozilla.org/show_bug.cgi?id=1681638

See #1959

[2020-12-10 03:35] Jack-Works opened #2062 "[Release] New release 2.0.0 (major)"
This is a test!!!

[2020-12-10 03:35] #2062 closed

[2020-12-10 03:41] #2018 closed

[2020-12-10 03:42] #1949 closed

[2020-12-10 03:43] Jack-Works commented on #2041
All of them are merged

[2020-12-10 03:48] Jack-Works commented on #1983
how is that "not expected"?

[2020-12-10 03:50] Jack-Works commented on #365
https://blog.chromium.org/2020/12/manifest-v3-now-available-on-m88-beta.html

[2020-12-10 05:48] yisiliu opened #2068 "[Bounty] Integrate Incognito as a plugin that enables private direct transfer"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 4 Weeks
- Bounty Size
  - [x] 1500 DAI <- increased from 100

[2020-12-10 06:04] yisiliu opened #2069 "[Bounty] Adding Sia Network as another provider for the file service"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 4 weeks
- Bounty Size
  - [x] 1000 DAI

## Part 1: Problem D

[2020-12-10 06:10] septs commented on #2069
@yisiliu need to explore remote signing solution?

[2020-12-10 06:13] yisiliu commented on #2069
nope you just need to show up when developers have any questions about this issue

[2020-12-10 07:05] Tedko commented on #2033
ping here

[2020-12-10 07:53] guanbinrui commented on #1907
@xiazhiming Plz paste the Figma link into the description, thx.

[2020-12-10 08:15] Tedko opened #2071 "[Task] Prediction Market Token Addr and Meta Info"
https://twitter.com/catnip_exchange/status/1336362574477029376

[code]
[code]

Also https://twitter.com/catnip_exchange/status/1329130928568823810

[code]
For y/nBlue addr: https://twitter.com/catnip_exchange/status/1329130929466400769?s=20

[2020-12-10 08:20] BenDavidow commented on #2071
Balancer pools in case it's useful for prices:
yINAUG/nINAUG/DAI: https://pools.balancer.exchange/#/pool/0x91ffe46e57d7c3f5f6e4f0856f2a674d0d820f93/
yBlue/nBlue/DAI: https://pools.balancer.exchange/#/pool/0x68c74e157f35a3e40f1b02bba3e6e3827d534059/shares

If it's too much of a hassle to get prices without coingecko don't worry about it for now and you can just leave out prices for INAUG and BLUE.

[2020-12-10 08:23] BenDavidow commented on #2071
token names:

yINAUG - YES Trump at Inauguration Token
nINAUG - NO Trump at Inauguration Token
yBLUE - YES Dem Control Token
nBLUE - NO Dem Control Token

[2020-12-10 09:25] dependabot-preview[bot] opened #2072 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/DimensionDev/update-logs/58636080).

[2020-12-10 09:25] #2072 closed

[2020-12-10 09:25] dependabot-preview[bot] opened #2073 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/DimensionDev/update-logs/58636081).

[2020-12-10 09:28] septs commented on #2073
@Jack-Works

[2020-12-10 09:40] Jack-Works commented on #365
I'll write about the problems I found here. Maybe report to the Chrome team later.

1. New CSP policy does not allow `unsave-eval` which is important for development mode sourcemapping.
2. New property `host_permissions` doesn't distinguish if it is optional or not.
3. ...

[2020-12-10 09:51] guanbinrui commented on #2025
I'm going to close this now. Feel free to open it again for future problems.

[2020-12-10 10:15] aahutsal commented on #1722
@yisiliu @Tedko Guys I need your decision - am I allowed to use Clojure to create a proxy application or NodeJS with Typescript is a must? Javascript (Typescript) language is not well suited for managed multithreaded applications, while Clojure is designed for that.

[2020-12-10 10:31] nazariyv commented on #1947
awesome, thank you! I remember about this :)

[2020-12-10 12:44] Jack-Works commented on #1722
@aahutsal Hi, are application is based on web extension. If you'd like to use any other technologies, please make sure it can be compiled into JavaScript or WebAssembly. Otherwise we have no way to integrate your code into our codebase.

[2020-12-10 12:46] Jack-Works commented on #1722
And if you would like to use other languages, please contact me to verify if the bridge to the JavaScript really works before you actually write codes.

[2020-12-10 13:37] mul53 commented on #2069
hey @septs, i'm interested in this issue

[2020-12-10 13:39] yisiliu commented on #2069
@mul53 Hi! Do you want to test out our extension and see how file service works before starting the bounty? Thank you!

[2020-12-10 13:45] mul53 commented on #2069
@yisiliu let me do that, let me take a look at the docs, thanks for the fast response

[2020-12-10 14:24] Jack-Works commented on #2073
It's an upstream bug @septs. `"^"` is what I get when installing a workspace package without specifying the version. But I don't know if it is an NPM bug or a dependent-bot bug

[2020-12-10 14:30] #2073 closed

[2020-12-10 14:32] Jack-Works commented on #2073
https://github.com/npm/cli/issues/2320

[2020-12-10 14:58] aahutsal commented on #1722
@Jack-Works ClojureScript will be compiled to Javascript. But I'm talking about other things.
During the discussion, we came to agreement to run the proxy server + Dockerized nodes somewhere (Amazon AWS) to serve those blockchains that do not have pubic REST interfaces. Please, review that document: https://github.com/aahutsal/wcsidechain/blob/master/SOLUTIONS.org

[2020-12-11 00:05] #2033 closed

[2020-12-11 00:05] #2048 closed

[2020-12-11 03:21] guanbinrui opened #2077 "[Release] New release 1.22.0 (minor)"

[2020-12-11 03:22] #2077 closed

[2020-12-11 03:22] guanbinrui opened #2079 "[Release] Hotfix 1.21.3 => 1.21.4 (patch)"

[2020-12-11 08:27] #2046 closed

[2020-12-11 11:51] developerfred commented on #1722
@aahutsal you can interact with blockchains through contracts, one solution that turns contracts into query api is The Graph Protocol.

[2020-12-11 12:39] aahutsal commented on #1722
Thanks for your suggestions.
a) not all blockchains needed runs contracts b) to interact via a contract it should connect to the public node. Not all blockchains run public nodes like https://www.rinkeby.io/ and since they don't allow installing additional local software - just browser extension we should run a proxy server somewhere. This is what I'd discuss if you allow me @developerfred

[2020-12-11 13:30] developerfred commented on #2069
@septs and @yisiliu, to encrypt attached we need a skykID, can we make everyone sign with a single skykeyID from the maskbook?

[2020-12-12 02:48] Tedko opened #2086 "[Bug] Mobile Mask.io `Feedback` bug"
## Bug Report

The `mailto: xxx` link is not working.

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

[2020-12-12 02:49] Tedko commented on #2071
@guanbinrui @zhouhanseng lets hard code and add these tokens

[2020-12-12 02:50] Tedko commented on #2071
for search enhance and $ticker hover func

[2020-12-12 03:03] Tedko opened #2087 "[Bug] `#+ticker` not working properly sometime"
## Bug Report

<img width="1443" alt="Screen Shot 2020-12-12 at 11 01 09" src="https://user-images.githubusercontent.com/6687437/101971082-883f1400-3c69-11eb-8070-0cb120be57f6.png">
<img width="1443" alt="Screen Shot 2020-12-12 at 11 01 22" src="https://user-images.githubusercontent.com/6687437/101971083-89704100-3c69-11eb-99c0-ea6491f6861c.png">

Note the diff of the URL:

If you click a hashtag

[2020-12-12 03:03] Tedko commented on #2087
imo lets just keep the UX the same way. click it you will have it

[2020-12-12 04:15] Jack-Works commented on #2086
Did you have an email client on your device? I tried on Chrome & Windows it works when I developed this

[2020-12-12 04:27] Tedko commented on #2086
Yes. I got multiple ones on my iPhone. Assume it’s some iOS problem. Try
test on Android?
On Sat, Dec 12, 2020 at 12:15 Jack Works <notifications@github.com> wrote:

[2020-12-12 04:35] Tedko opened #2088 "[Task] Add Discord, Telegram on the `About` within Mask Plugin"
## Introduction and Background

Add Discord, Telegram on the About within Mask Plugin

Also update the fb link to https://www.facebook.com/masknetwork

<img width="1418" alt="Screen Shot 2020-12-12 at 11 23 22" src="https://user-images.githubusercontent.com/6687437/101973341-58e0d500-3c72-11eb-8a95-193209baaaab.png">

/_Describe the background of this task_/

## Content

/_Actual content here..._/

[2020-12-12 06:01] jk234ert commented on #2086
It's a new issue introduced on iOS 14, unlike previous iOS system versions, now apps need to explicitly claim some commonly defined URL schemes(like `mailto`) to open.
This would be fixed on iOS native side.

[2020-12-12 06:01] #2086 closed

[2020-12-12 07:24] #2088 closed

[2020-12-12 07:34] BenDavidow commented on #2071
$yKYC
Token Address: 0x14de81C71B3F73874659082b971433514E201B27
Explorer: [Etherscan](https://etherscan.io/address/0x14de81C71B3F73874659082b971433514E201B27)
Website: [Foundry.Finance](https://foundry.finance/)
Community: [Twitter](https://twitter.com/catnip_exchange), [Discord](https://discord.gg/dBN2tHZ)
Source Code: [Github](https://github.com/aug-dao/augur_foundry)
Tags: Prediction Markets

[2020-12-12 08:05] #2087 closed

[2020-12-12 12:03] #2015 closed

[2020-12-12 12:10] Tedko opened #2091 "[Bug] iOS - Try download Img Payload will crash app"
## Bug Report
https://dimension.chat/group/maskbook-mobile?msg=CxnhMDSQFFuFiufFk

Take a look of the video.
How to reproduce: compose img payload, try manual, download, -> save to album -> crash;

May caused by something on ios side

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browse

[2020-12-12 12:20] Tedko commented on #2091
btw - the current img payload compose on iOS experience is not that good. Should we hide that on iOS by default and add it in the setting for some users to try as beta func? @jk234ert ? is this func quiet hard to deliver on ios side?

[2020-12-12 12:36] zhouhanseng commented on #2071
0x api does not expose the price of those tokens yet. I can integrate balancer which provides info for them.

[2020-12-12 12:58] jk234ert commented on #2091
Crash issue fixed on iOS 1.21.3(66)
Will add the `(Beta)` along with the image payload option on iOS soon.

It needs some time debugging on safari, we will try to fix it next release

[2020-12-12 14:46] Tedko opened #2093 "[Bug] Android Maskbook bug on Enhance Search and `$/# + Ticker`"
## Bug Report

Several strange behavior such as -

The enhanced info will show up later in other tweet
<img width="664" alt="Screen Shot 2020-12-12 at 21 17 12" src="https://user-images.githubusercontent.com/6687437/101986878-b0f7f580-3ccb-11eb-8f74-cad29f980762.png">

Or the enhance search will not show up at all:

https://mega.nz/file/ntgWDJ5S#zRaO4ifyXdM09WCAVVhTGT5I9Ca0fUGtj5n5j4PUezc

(video)

[2020-12-12 17:01] Tedko commented on #2069
hi @developerfred
FYI. heres how we did for the AR integration:

https://arweave.net/vRJSopHVcFXwbhQVMaWBDm-UxBefN1BLoVsxXOQFWQU#xi4hApj0pTDKefNf

`#xi4hApj0pTDKefNf` is the AES key.

if you open up https://arweave.net/vRJSopHVcFXwbhQVMaWBDm-UxBefN1BLoVsxXOQFWQU then you need to have the key.

For skynet/sia - whats ur proposal? we can do several iteration to achieve both decentralized and UX frie

[2020-12-12 18:00] developerfred commented on #2069
@Tedko In my code I made a new tab on the toggle placing two skynet and Arweave options. The users chooses in which service to host his file, but the skynet has N portals to host this file I randomly put it every time a user is going to upload, a portal and set it.

[2020-12-12 19:53] Kqryptic opened #2094 "[Crash] Error: Unreachable case:64"
I was __login ______, then Maskbook report an error.

Error stack:
<pre>Error: Unreachable case:64
    at unreachable (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/background-service-content-script-options-page-popup.chunk.js:768:11)
    at resolveLinkOnEtherscan (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/background-service-content-script-options-page-popup.chunk.js:19997:85

[2020-12-12 20:28] Jack-Works commented on #2094
@guanbinrui u can use safeUnreachable for case that we only blocks compile but not throw in the runtime

[2020-12-13 06:21] Tedko commented on #2069
@developerfred cool! Idk sia/sc 's token model. I assume (if I remember correctly) the file storage sometime is free? But need to pay sc later? (Asking so in case we need sc; we can prepare on our side and ping SC ppl)

[2020-12-13 12:29] developerfred commented on #2069
@Tedko can we do as Gitcoin does when claiming kudos? asking for some SIA for the fee?

[2020-12-13 13:02] Tedko commented on #2069
@developerfred im not sure on kudos. For SIA for free i guess definitely ok. I will ping SIA team.

[2020-12-13 19:57] Tedko commented on #2041
delivered

[2020-12-13 19:57] #2041 closed

[2020-12-13 20:04] Tedko commented on #2001
Assign to @zhouhanseng -

I've tested on latest store ver. no need to add func, (pasting erc20 contract addr in search box; work just fine ). Just delete the "Add your own" tab in the add token dialog

[2020-12-13 20:09] Tedko commented on #1391
@Jack-Works @zhouhanseng @guanbinrui  this's a priority0 task. Expect to fix in early days of this week

[2020-12-13 20:13] Tedko commented on #1909
Fixed on android already.
ios side blocked by safari or some ios side only issue. will close this 4 now

[2020-12-13 20:13] #1909 closed

[2020-12-13 20:15] Tedko commented on #2094
not sure if related #2029

[2020-12-13 20:31] Tedko commented on #1786
followup in #2091

[2020-12-13 20:31] #1786 closed

[2020-12-14 04:03] guanbinrui opened #2097 "[Release] New release 1.22.0 (minor)"

[2020-12-14 04:47] Tedko commented on #2091
fixed by iOS 1.21.3(66) TF

[2020-12-14 04:47] #2091 closed

[2020-12-14 04:49] septs commented on #1711
Wait for OAuth Verification passed.

[2020-12-14 05:15] #2001 closed

[2020-12-14 05:22] septs commented on #1913
https://github.com/DimensionDev/Maskbook/blob/1afefcb92d03d590506dbb414844cef432280ae6/packages/maskbook/src/plugins/RedPacket/database.ts#L18-L20

[2020-12-14 05:36] Jack-Works opened #2101 "[Task] Automatic release to Chrome and Firefox store on CI?"
Let's try it first on the beta version

[2020-12-14 05:38] guanbinrui commented on #2101
Auto pushing release builds to specific stores will be a big help.

[2020-12-14 05:41] Jack-Works commented on #2101
we should do it on a `tag` event on git

[2020-12-14 05:54] septs commented on #2101
https://github.com/DimensionDev/Maskbook/issues/1711

[2020-12-14 07:09] #1913 closed

[2020-12-14 07:45] jk234ert opened #2102 "[Bug] Fail to auto-paste encrypted image on iOS"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version: 1.21.3

[2020-12-14 08:17] Jack-Works commented on #2102
@jk234ert `new DataTransfer` failed is not the root cause because the SNS input box on the mobile doesn't support paste an image into it. It should always show `AutoPasteFailedDialog`. Did it?

[2020-12-14 08:58] #2079 closed

[2020-12-14 09:05] jk234ert commented on #2102
You mean even we replace the usage of `DataTransfer`, we still can not paste the image into the input box?

[2020-12-14 11:27] #2097 closed

[2020-12-14 11:40] guanbinrui commented on #2071
Closed by #2092

[2020-12-14 11:40] #2071 closed

[2020-12-14 11:59] guanbinrui commented on #2029
Fail to reproduce, feel free to reopen if someone can reproduce it.

[2020-12-14 11:59] #2029 closed

[2020-12-15 01:34] guanbinrui opened #2103 "[Release] Hotfix 1.22.0 => 1.22.1 (patch)"

[2020-12-15 02:11] jk234ert opened #2106 "[Demand] Add `(Beta)` sign to image payload option on mobile"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
Since SNS mobile compose dialogs do not support auto-paste images, we have to notify users to use the `manually paste` dialog. Add the `(Beta)` sign to image options on the dialog to notify users this is a `

[2020-12-15 02:12] jk234ert commented on #2102
Closed this issue since this is limited by other platforms

[2020-12-15 02:12] #2102 closed

[2020-12-15 02:20] jk234ert commented on #1983
Guess here you mean the popup **does not always appear** as expected @guanbinrui ?

[2020-12-15 03:50] Jack-Works commented on #2102
@jk234ert So if `AutoPasteFailedDialog` shows, it works normally. If not, it is a bug

[2020-12-15 03:50] #2106 closed

[2020-12-15 04:21] septs opened #2108 "[Task] Migrate `scripts` folder to `packages/scripts`"
## Introduction and Background

/_Describe the background of this task_/

## Content

/_Actual content here..._/

[2020-12-15 05:03] #1873 closed

[2020-12-15 07:00] Jack-Works commented on #1391
failed to reproduce.

![image](https://user-images.githubusercontent.com/5390719/102181805-37881f00-3ee6-11eb-9f5a-825fdf015c1a.png)

[2020-12-15 07:58] guanbinrui opened #2110 "[Demand] Revamp the buy now button"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

According to [Which Cryptocurrencies does Transak support?](https://help.transak.com/en/articles/4410381-which-cryptocurrencies-does-transak-support) Transak only supports a few famous tokens. We can fetch

[2020-12-15 08:48] alis-xia commented on #2110
https://www.figma.com/file/gVkQ67y285b4FXVV1KPThN/Twitter?node-id=885%3A2189
![image](https://user-images.githubusercontent.com/52199365/102192191-68238500-3ef5-11eb-977f-824feedc46f9.png)

[2020-12-16 05:51] xiazhiming opened #2113 "[Demand] Avoid double-clicking when select recipients"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
![image](https://user-images.githubusercontent.com/29635388/102310005-10445700-3fa5-11eb-91a8-2a70ff6ad3e4.png)
## Part 2: Problem to Solve
问题：用户在选择 Select Recipients 的时候 Everyone  Myself +Extra Specific Con

[2020-12-16 06:37] zhouhanseng commented on #1391
failed to reproduce.

<img src="https://user-images.githubusercontent.com/63733714/102313657-0114d780-3fac-11eb-9dde-f16ba163af3e.png" width=600 />
<img src="https://user-images.githubusercontent.com/63733714/102313680-0d993000-3fac-11eb-9933-3268e4ca44b1.png" width=600 />

[2020-12-16 07:12] #2113 closed

[2020-12-16 07:26] septs opened #2116 "[Task] Integrated stego-js@2"
## Introduction and Background

/_Describe the background of this task_/

## Content

1. [ ] Inject image payload version control into text payload (CC @Jack-Works)
2. [ ] Integrated stego-js@2

Effect issues: #1107 #1752 #1956

[2020-12-16 10:52] Jack-Works commented on #2116
I have talked with @septs. It seems like we need to add a new "hint" in the text message to indicate that the image is a V2 image. The current metadata is not applicable to this case because we need to get the hint _before_ the decryption.

The plan is to add some extra text in the text message (that user must not remove) to hint that this is a V2 image payload, but I don't know if that is OK beca

[2020-12-16 10:54] Jack-Works commented on #2116
Oh, wait there is some egenomics problem. If the auto image paste failed the user needs to add the text part also to let the decryption successfully.

[2020-12-16 11:15] #1391 closed

[2020-12-16 12:16] Tedko opened #2117 "[Bug] Hide small balance token in wallet"
## Bug Report

<img width="1899" alt="Screen Shot 2020-12-16 at 19 41 05" src="https://user-images.githubusercontent.com/6687437/102346988-b494c080-3fda-11eb-882b-b4b2fa82e8e2.png">

We can follow the design of Rainbow wallet. Hide the smaller balance token
![IMG_8893](https://user-images.githubusercontent.com/6687437/102347575-8a8fce00-3fdb-11eb-8440-4663999b6a5a.PNG)
![IMG_8894](https://user-ima

[2020-12-16 12:18] Tedko commented on #2117
Add an `Less` button should be fine @xiazhiming @zhouhanseng

余额＜5 USD && token数量 > 5 个 之后的 都hide？

[2020-12-16 18:29] Tedko commented on #2117
ps.

小一点的屏幕上 13inch 能不滑动显示的只有三四个

<img width="1354" alt="Screen Shot 2020-12-17 at 02 29 03" src="https://user-images.githubusercontent.com/6687437/102390704-b7f66f00-400f-11eb-9595-e94f5971b8eb.png">

[2020-12-16 18:35] Tedko opened #2118 "[Crash] SyntaxError: Cannot convert 511923.490995555688 to a BigInt"
I was ___trying to swap $mtsla ; change the $eth -> $mtsla  to  $usdt -> $mtsla_____, then Maskbook report an error.

Error stack:
<pre>SyntaxError: Cannot convert 511923.490995555688 to a BigInt
    at Function.value (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.jsbi.chunk.js:6:7264)
    at toUniswapCurrencyAmount (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/background-se

[2020-12-16 18:35] Tedko commented on #2118
<img width="1354" alt="Screen Shot 2020-12-17 at 02 34 39" src="https://user-images.githubusercontent.com/6687437/102391322-84681480-4010-11eb-8a9d-9702c4a8b5f3.png">

[2020-12-16 18:37] Tedko commented on #2118
@guanbinrui @zhouhanseng @Jack-Works prioritize this one

[2020-12-16 18:42] Tedko commented on #2118
How to reproduce

https://imgur.com/a/ShQVhTi

[2020-12-16 20:01] Tedko opened #2119 "[Bug] Price display bug (e.g $SC )"
## Bug Report

<img width="1386" alt="Screen Shot 2020-12-17 at 04 01 33" src="https://user-images.githubusercontent.com/6687437/102400226-90f26a00-401c-11eb-812c-b2a64051136f.png">

https://coinmarketcap.com/currencies/siacoin/

The price is not $0

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

##

[2020-12-17 04:20] Jack-Works commented on #2118
Maybe use BigNumber instead of BigInt🤔

[2020-12-17 04:27] #1918 closed

[2020-12-17 05:46] Tedko commented on #2118
yeah helpful

[2020-12-17 05:49] guanbinrui opened #2123 "[Bug] Should setup a default wallet from restoring DB"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS

[2020-12-17 07:24] #2119 closed

[2020-12-17 07:38] Jack-Works commented on #2108
Is that really necessary?

[2020-12-18 00:15] brymut commented on #2022
Hi @yisiliu, is this exclusively for the gr8 hackathon or is it open to anyone to try and solve?

[2020-12-18 00:54] yisiliu commented on #2022
@brymut it's open to be finished anytime as a long term project! Join us if you are interested

[2020-12-18 02:28] guanbinrui opened #2127 "[Release] Hotfix 1.22.1 => 1.22.2 (patch)"
#2118 #2130

[2020-12-18 02:30] #2103 closed

[2020-12-18 02:31] guanbinrui opened #2130 "[Bug] The minimumReceived should not be guaranteedPrice for 0x trader"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS

[2020-12-18 03:06] guanbinrui opened #2131 "[Bug] The trader has got double refreshing in some cases"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS

[2020-12-18 04:59] #2118 closed

[2020-12-18 04:59] #2130 closed

[2020-12-18 05:32] #2127 closed

[2020-12-18 11:44] brymut commented on #2022
Hi again @yisiliu, would the detected Opensea/Rarible/Superrare url have to be a BarePost or a MaskedPost?

[2020-12-18 11:47] Tedko commented on #2022
For now it should work like this :

Alice sent nft url in original post;
Bob with Mask.Io will able to render  the election NFT like interface

On Fri, Dec 18, 2020 at 19:45 Bryan Mutai <notifications@github.com> wrote:

[2020-12-18 11:47] yisiliu commented on #2022
@brymut it should detect a bare url just like our gitcoin grant plugin

[2020-12-20 13:20] #1590 closed

[2020-12-21 08:38] #1592 closed

[2020-12-22 04:49] xiazhiming commented on #2117
Token 列表
1. balance 非稳定币显示小数点6位即可，USDT、USDC、DAI、CUSDT、GUSDT、等稳定币显示小数点2位即可。
2. 0 余额隐藏。
3. 按 Value 大小进行倒叙排列。
4. 小于 1 美金添加 Load More /  Show Less 文字按钮。

[2020-12-22 09:06] septs commented on #1963
- [x] Deploy thegraph instance
- [ ] Use thegraph replace current solution

[2020-12-22 09:44] Tedko commented on #2022
@brymut hey any updates?

[2020-12-22 10:00] brymut commented on #2022
Hey, nothing significant yet, was still learning about everything in this domain. However I have begun developing it, I should be able to get a PR open by tomorrow.

[2020-12-22 10:01] Tedko commented on #2022
Great! Let us know if u need any help!

[2020-12-23 06:33] guanbinrui opened #2134 "[Demand] Rename extension name from Maskbook to Mask Network"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [x] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-12-23 08:24] xichi opened #2137 "[Bug] click an option hundreds of times and after refresh I couldn't get voting result data."
## Bug Report

## Environment

### System

- [x] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS

[2020-12-23 08:26] 1999-XiChi commented on #2137
PR: https://github.com/DimensionDev/Maskbook/pull/2138

[2020-12-23 10:25] guanbinrui opened #2140 "[Release] Hotfix 1.22.2 => 1.22.3 (patch)"

[2020-12-23 10:29] guanbinrui commented on #2021
Learn more from https://github.com/gitcoinco/web/issues/8015.

[2020-12-24 08:50] yisiliu opened #2144 "[Demand] Enable Arweave bundled data standard in the file service"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [x] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
Due to lack of an internal Arweave wallet, we decided to host a micro-service to sign the transaction for each user-uploaded file transactions. In this sense, users won't need to pay to upload files onto the

[2020-12-24 15:36] aahutsal commented on #1722
@Tedko seems you said you have an AWS account? Can you please email me credentials to access some server? I'd install and show what I have done.

[2020-12-24 15:38] yisiliu commented on #1722
@aahutsal What spec do you need? And please paste your ssh public key here so that I can give you the access.

[2020-12-24 15:39] aahutsal commented on #1722
4GB RAM or better 8GB RAM is preferred. I will send my key with the next msg.

[2020-12-24 15:40] aahutsal commented on #1722
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDiMnVc3teL9CNIlNocXcgCmcZrbSxAieoy6ER4kYBYg6ln6d/mg7RogU/jJhJVSRnuKqiwad4yMQU6hVPafJvtfh5kkaafUfkgNanl0P+zZatY2PQa9XMZeameDPlVZvgY6lb9RTxlXnW4NzeHwJ23qTFQr6jjglr1Z3aKxnrzdGemC3Vn2OOQSs1e9hZ/8TNErX7yDGnrgWRWqI+Vano9l+wVZ1vqpyP0B5sigTELTlGmXPdLSYtRr5nmd4VTa3ilKpq8GaMGibE4w1Qi2W5Us0AHXF8ZVIQld/8ushi6/wtZrI2wG2BWKQSZ74FSHFztOg4ivkfos9YHfN1OX9kF gutsalarsen@penguin

[2020-12-24 15:40] yisiliu commented on #1722
@aahutsal Expect the EC2 machine tomorrow morning UTC+8 please. I will let you know when it's ready

[2020-12-24 15:45] aahutsal commented on #1722
thanks

[2020-12-24 15:59] septs commented on #1722
@aahutsal an tips, `https://github.com/{username}.keys`
e.q: https://github.com/aahutsal.keys

[2020-12-24 16:08] aahutsal commented on #1722
Thanks, @Septs
Nice to remmember

[2020-12-25 03:38] yisiliu commented on #1722
@aahutsal
`ssh -i <you_key> aahutsal@13.250.18.1`
and your default password is `sha256(aahutsal)` all in lowercase. A good tool you will find online is: https://emn178.github.io/online-tools/sha256.html. You are also granted sudo access.

[2020-12-25 07:43] nkiki opened #2146 "[Crash] Error: Unreachable case:64"
I was ________, then Maskbook report an error.

Error stack:
<pre>Error: Unreachable case:64
    at unreachable (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/background-service-content-script-options-page-popup.chunk.js:768:11)
    at resolveLinkOnEtherscan (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/background-service-content-script-options-page-popup.chunk.js:20304:85)

[2020-12-25 08:13] septs commented on #2146
duplicate of #2094

[2020-12-25 08:13] #2146 closed

[2020-12-25 09:38] aahutsal commented on #1722
@yisiliu thanks. It works it seems. Can't change the password for some reason.

[code]

but `5100b388efefb1726475166772af982ffc0983bb2700bce8ba09ff4833281cb8` as a password does not work for me.

[2020-12-25 09:47] yisiliu commented on #1722
@aahutsal I would use:
`echo -n "aahutsal" | openssl dgst -sha256`

[2020-12-25 11:17] aahutsal commented on #1722
@yisiliu thank you ;) Slept for 2 hrs only 👍

[2020-12-25 15:51] aahutsal commented on #1722
I've hit problems running Solana build in `dev` mode (with rust installed). Created issue in `solana/#1008`

[2020-12-25 15:51] aahutsal commented on #1722
You can put the box down for now, if it's costly

[2020-12-28 07:55] Miaommmisokay opened #2148 "[Crash] TypeError: Cannot read property 'transactionHash' of undefined"
I was ________, then Maskbook report an error.

Error stack:
<pre>TypeError: Cannot read property 'transactionHash' of undefined
    at TransactionDialogUI (chrome-extension://kgaidcihhdceepbaglflcghigenjbbbp/js/background-service-content-script-options-page-popup.chunk.js:2843:280)
    at wh (chrome-extension://kgaidcihhdceepbaglflcghigenjbbbp/js/npm.react-dom.chunk.js:167:137)
    at gi (chrome-

[2020-12-28 07:56] Miaommmisokay commented on #2148
![6351609142135_ pic_hd](https://user-images.githubusercontent.com/42923688/103199158-2cd97b00-4925-11eb-81e6-4ae435b36eb5.jpg)

[2020-12-28 08:06] septs commented on #2148
https://github.com/DimensionDev/Maskbook/blob/16af534175f7453ff512b59f5baea59806a13bcb/packages/maskbook/src/web3/UI/TransactionDialog.tsx#L123-L129

CC @guanbinrui

[2020-12-28 08:13] septs commented on #2148
The bug Introduced by ITO plugin (#1978)

[2020-12-28 13:53] aahutsal commented on #1722
@yisiliu can you please attach one more SSD device for 80Gb at the least?
There's no room on `/` partition it seems even to build Solana. I've already avoided `solana-web3.js/#1008` bug reported to them before.

[2020-12-29 01:08] jk234ert opened #2150 "[Bug] Fail to display contacts in dashboard on mobile apps"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [x] Android

  - Maskbook Version: 1.22.2
  - Android Version:

- [x] iOS
  - Maskbook Version: 1

[2020-12-29 03:56] Jack-Works commented on #2150
that's strange

[2020-12-29 04:19] Tedko commented on #2022
hi @brymut any updt?

[2020-12-29 04:19] Tedko commented on #1947
hi @nazariyv happy holiday! just a friendly ping

[2020-12-29 06:31] Tedko commented on #2150
any idea why?

[2020-12-29 06:46] 1999-XiChi commented on #2137
Is there any better solutions? @Jack-Works

[2020-12-29 07:46] yisiliu commented on #1722
@aahutsal sorry about the late - I have extended the disk space to 160GB. Check it now.

[2020-12-29 12:53] aahutsal commented on #1722
Thanks. That's enough!

[2020-12-30 07:33] jk234ert opened #2157 "[Bug] Dashboard should redirect to setup page when user deletes all the personas"
## Bug Report

## Environment

### System

- [x] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [x] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [x] Android

  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version:
  - iOS

[2020-12-31 01:58] Tedko commented on #2110
@zhouhanseng fix this?

[2020-12-31 02:29] zhouhanseng commented on #2110
okay

[2020-12-31 03:08] #1201 closed

[2020-12-31 03:09] #1710 closed

[2020-12-31 03:14] #1599 closed

[2020-12-31 03:14] #1687 closed

[2020-12-31 05:50] #2134 closed

[2020-12-31 06:10] #2110 closed

[2020-12-31 07:48] yisiliu opened #2160 "[Bounty] Add CDN for the file service"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 2 weeks
- Bounty Size
  - [x] 500 DAI

## Part 1: Problem De

[2020-12-31 08:04] haihongS commented on #2160
🙋‍♂️🙋‍♂️🙋‍♂️

[2020-12-31 08:30] yisiliu commented on #2160
@haihongS please sync any update with us here, thanks

[2020-12-31 08:34] haihongS commented on #2160
Ok, let's start it.
=================

### The usual flow:
https://arweave.net/j8BNG1iTI0kebUQM9UlR9abW56fRmBZLnV3gsUOfo44

redirects to ->

https://r7ae2g2ysmrushtniqgpkskr6wtnnz5h2gmbms45lxqlcq47uoha.arweave.net/j8BNG1iTI0kebUQM9UlR9abW56fRmBZLnV3gsUOfo44

### CDN cache
We can offer a accelerate connection: https://coldcdn.com/api/cdn/bronil/j8BNG1iTI0kebUQM9UlR9abW56fRmBZLnV3gsUOfo44

When we c

[2020-12-31 08:44] yisiliu commented on #2160
We'd like some speed tests from different areas. What's your thoughts? @septs

[2020-12-31 08:54] haihongS commented on #2160
Can we get much more information about the user location in using Mask & Arweave

[2020-12-31 08:54] haihongS commented on #2160
Can we get much more information about the user location in using Mask & Arweave

[2020-12-31 08:56] yisiliu commented on #2160
We do have some stats in Mask but you should probably test it all over the world to test out the robustness of your service

[2020-12-31 09:09] haihongS commented on #2160
Yeah, so can we start with an alternative link which gives users an option to reach files through cache service, just like live streaming has multiple lines.

e.g. users based in China Mainland and North America can try the alternative link, and we will check the status of service and do some tunings.

After several periods, we will know the performance and robustness of service, then comes the re

[2020-12-31 09:19] yisiliu commented on #2160
I guess the ideal solution would require you to modify our code so that it'll test out all the options and choose the best available.

[2020-12-31 10:00] haihongS commented on #2160
sure, let me check the code

[2021-01-02 17:14] imran201111 opened #2169 "[Crash] Error: Unreachable case:13881"
I was ________, then Maskbook report an error.

Error stack:
<pre>Error: Unreachable case:13881
    at unreachable (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/background-service-content-script-options-page-popup.chunk.js:768:11)
    at resolveLinkOnEtherscan (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/background-service-content-script-options-page-popup.chunk.js:20304:85)

[2021-01-02 19:59] septs commented on #2169
https://github.com/DimensionDev/Maskbook/blob/bb7353bc531bdf108349982cab9d8110d3227dcc/packages/maskbook/src/web3/pipes.ts#L68-L83

[2021-01-02 20:10] Tedko commented on #2144
Should we ping ARDrive folks as well?

[2021-01-02 20:12] Tedko commented on #2094
@guanbinrui is this fixed?

[2021-01-02 21:55] septs commented on #2169
Duplicate of #2094

[2021-01-02 21:55] #2169 closed

[2021-01-02 21:56] septs commented on #2094
https://github.com/DimensionDev/Maskbook/blob/bb7353bc531bdf108349982cab9d8110d3227dcc/packages/maskbook/src/web3/pipes.ts#L68-L83

[2021-01-03 06:57] sounak98 commented on #2022
@yisiliu I have started working on this, but I need some help with the documentation for dev env setup and adding new plugins using the plugin service.

[2021-01-03 06:57] sounak98 commented on #2022
@yisiliu I have started working on this, but I need some help with the documentation for dev env setup and adding new plugins using the plugin service.

[2021-01-03 09:34] Jack-Works commented on #2022
hi, @sounak98 we need NPM@7 and Node 15. Did you try that?

[2021-01-03 12:38] brymut commented on #2022
Hi @Tedko . Sorry for the silence, got caught up with some personal stuff for the holiday. Almost done now.

[2021-01-03 13:54] Tedko commented on #2022
@brymut hi ! - @sounak98 is working on this as well. if you guys both work & finish this on same time we will merge the codebase of both & split the grant. cc @yisiliu ok?

[2021-01-03 13:56] brymut commented on #2022
Do you mean we collaborate? @Tedko

[2021-01-03 13:56] brymut commented on #2022
I don't mind

[2021-01-03 13:57] Tedko commented on #2022
@brymut yep! thoughts? @sounak98

[2021-01-03 14:01] sounak98 commented on #2022
@Tedko @brymut as this is a relatively simple task, let's just do it on separate tracks, we can later merge the codebase if necessary.

[2021-01-03 14:03] brymut commented on #2022
Ok, I understand, we'll continue just as is then?

[2021-01-03 14:08] Tedko commented on #2022
Sure great!

[2021-01-04 02:15] Jack-Works commented on #2094
question: how is it possible to receive an unknown ETH chain? does it comes from outer world (e.g. MetaMask)?

[2021-01-04 04:03] jk234ert commented on #2150
Should be an UI issue.
Contacts list disappears when the viewport's width <= 600

[2021-01-04 09:22] Jack-Works opened #2175 "[Demand] Background services support HMR"
My plan is: Allowing existing service (but not adding new service) to be HMR

Possible problem: Side effects?

cc @DimensionDev/dev-maskbook

[2021-01-04 09:34] yisiliu commented on #1722
@aahutsal fair enough - expect it to be done in 5 mins

[2021-01-04 09:35] aahutsal commented on #1722
thx @yisiliu For now I'm using SSH tunneling ;)

[2021-01-04 09:44] yisiliu commented on #1722
[code]
@aahutsal done

[2021-01-04 10:11] aahutsal commented on #1722
already saw it and successfully joined the swarm, thx

[2021-01-04 11:27] brymut commented on #2022
I think I will stop work on this. I'd rather not do any double work. Thank you for the support @Tedko

[2021-01-04 11:49] yisiliu commented on #2022
hey thanks for your input! If you are interested in our project, we can fund other issues for you to work on. Which part, in particular, are you interested? I can figure out something for you.

[2021-01-04 11:57] aahutsal commented on #1722
@yisiliu trader plugin link is broken in Serum task description.
![Screenshot 2021-01-04 at 1 54 54 PM](https://user-images.githubusercontent.com/1643117/103532884-bbee1200-4e94-11eb-8605-3cfd9ef1bbbd.png)
 Although it's phase II, could you please point me there?

[2021-01-04 12:22] yisiliu commented on #1722
@aahutsal https://github.com/DimensionDev/Maskbook/tree/master/packages/maskbook/src/plugins/Trader

[2021-01-04 14:14] brymut commented on #2022
Thank you @yisiliu. I'm particularly interested in UI/UX work on the front-end and I'd like to work on more documentation too.

[2021-01-04 14:24] yisiliu commented on #2022
@brymut sounds good! Allow us to think about it and I will get back to you later this week. Stay tuned!

[2021-01-04 14:25] brymut commented on #2022
Thank you!

[2021-01-05 01:39] haihongS commented on #2160
yeah, wip right now

[2021-01-05 02:28] Jack-Works commented on #2022
hi @brymut @sounak98 We've just updated the guide for developers. That will make the work easier! Please checkout this file
https://github.com/DimensionDev/Maskbook/blob/master/caveats.md

[2021-01-05 03:14] Tedko commented on #2022
@sounak98 the Gitcoin bounty is reopened . Can you check and apply and we can work on the merge on our side. Thx !!

[2021-01-05 03:35] sounak98 commented on #2022
Hey @Tedko what do you mean by applying to the bounty? I had already applied before. This is the bounty right https://gitcoin.co/issue/DimensionDev/Maskbook/2022?

[2021-01-05 05:32] guanbinrui opened #2180 "[Demand] Update Extension Logo"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2021-01-05 07:00] haihongS commented on #2160
`export const signing = 'https://service.maskbook.com/arweave-remote-signing'`

Does Mask maintain the signing system in private and keep SK?

[2021-01-05 07:22] yisiliu commented on #2160
@septs

[2021-01-05 07:29] Tedko commented on #2022
Oh yeah. @sounak sorry my mistake

On Tue, Jan 5, 2021 at 11:36 Sounak Pradhan <notifications@github.com>
wrote:

[2021-01-05 07:38] septs commented on #2160
as arweave does not provide remote signing method,
but this repo include some non public limit settings, not can fully open source.
(if you idea access this codebase, need to get @yisiliu approve)

it's core logic like:

[code]

wrote here response body to `transaction.setSignature`, signed by remote

https://github.com/DimensionDev/Maskbook/blob/75de7fe06a98dd5c1d5289053bb5dcc55d771546/packages/m

[2021-01-05 07:47] septs commented on #2160
@yisiliu approved
@haihongS plz send a email to `septs@dimension.im` request the codebase, thanks

[2021-01-05 08:25] haihongS commented on #2160
Thx, and I can continue the idea without this part right now.

-----

I read some codes and tried file service in twitter, here is my understanding of process:

User A clicks the FileService plugin in twitter and drops a file into it

-> mask builds an arweave `transaction`
-> signed by mask's `signing system`
-> `broadcast` to arweave network through endpoint:arweave.net
-> waiting for the `confi

[2021-01-05 08:39] haihongS commented on #2160
Besides, I noticed the lack of the whole encryption, which means, I can scan the history of transactions in mask's account and find the real file hash without the key.

Two sequent transactions, one for key check and the other represents the real file.

[2021-01-05 09:34] septs commented on #2160
key using hmac-sha256 verify user key correctness.

see https://github.com/DimensionDev/Maskbook-FileService-LandingPage/blob/1d87424b21ad3815e4987cd9c2e7bee2ec176112/src/components/Password.tsx#L77-L83

1. first transaction
   1. generate (un)encrypted file with metadata <sup>1</sup>
   2. upload to arwavae
2. two transaction
    1. inject metadata (include real file `link`, `filename`, etc) <sup

[2021-01-05 09:49] aahutsal commented on #1722
Pelase, also open `8899` port for direct `solana-validator` access

[2021-01-05 12:46] #2180 closed

[2021-01-05 15:40] Jack-Works opened #2183 "[Demand] Disallowing set "released" as the merge branch (only our maintainer bot can do this)"
this should be a part of our maintainer bot.

[2021-01-06 06:21] jk234ert commented on #2039
Draft design:
1. JS side:
Add a new `WebAPI`: `scanQRCode(): Promise<String>`, implement as following:
    a. When JS side need to trigger a new `scanQRCode` session, JS invokes `scanQRCode()`, then waits for the response from native.
    b. When JS receives a String value, it tries to decode it and performs "importing personas", if successfully, navigates to the proper location, otherwise, displa

[2021-01-06 09:47] Jack-Works commented on #1552
dont close

[2021-01-06 09:49] Jack-Works commented on #2039
Does this function matches iOS version `scanQRCode`?

[2021-01-07 05:09] jk234ert commented on #2039
Yes, `iOSNativeAPIs ` already has a `scanQRCode(): Promise<string>`

[2021-01-07 05:46] Jack-Works opened #2187 "[Demand] Bring back Storybook"
Blocked by upstream, storybook doesn't support webpack 5

https://github.com/storybookjs/storybook/pull/13392
https://github.com/storybookjs/storybook/issues/13491
https://github.com/storybookjs/storybook/issues/9216

Notice only the main project storybook down. The storyBook in packages/theme still works.

[2021-01-07 09:38] guanbinrui opened #2189 "[Bug] Transak should only support Ethereum network (ETH/erc20) cryptocurrencies"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS

[2021-01-07 10:33] haihongS commented on #2160
awesome codes, and now we need to talk about the solution for this issue.

### purpose
- offer a cdn for file service at that moment
- acceleration other components for mask in later

### concern
the robustness of service

### solution
**keep the original arweave link, but give users an alternative link**

I have noticed the two key point links in file service, one is `landingTxID` and the other i

[2021-01-07 12:33] maxyou commented on #2039
The QR scan code of Android native side is ready.

[2021-01-07 14:15] #1968 closed

[2021-01-07 14:15] #2148 closed

[2021-01-07 14:17] guanbinrui opened #2191 "[Release] New release 1.23.0 (minor)"

[2021-01-08 07:42] #2150 closed

[2021-01-08 14:38] taosue opened #2197 "[Crash] Error: Unreachable case:64"
I was Tao , then Maskbook report an error.

Error stack:
<pre>Error: Unreachable case:64
    at unreachable (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/background-service-content-script-options-page-popup.chunk.js:768:11)
    at resolveLinkOnEtherscan (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/background-service-content-script-options-page-popup.chunk.js:20304:85)
    at W

[2021-01-08 15:07] #2191 closed

[2021-01-08 15:15] septs commented on #2197
Duplicate of #2094

[2021-01-08 15:15] #2197 closed

[2021-01-08 15:28] guanbinrui opened #2198 "[Bug] No more inline images"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [] Chrome

  - Mask Version:
  - Browser Version:

- [x] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bui

[2021-01-09 02:05] guanbinrui opened #2200 "[Release] Hotfix 1.23.0 => 1.23.1 (patch)"

[2021-01-09 02:10] Jack-Works commented on #2198
@guanbinrui cause we have some files that directly turn images into base64 data url

[2021-01-09 03:29] guanbinrui commented on #2198
Directly inline will be turned into using [useBase64](https://github.com/DimensionDev/Maskbook/blob/090f97bde2b4e5e6033d043f8a617fab884cb405/packages/maskbook/src/utils/hooks/useBase64.ts) hook instead.

[2021-01-09 03:39] Jack-Works commented on #2198
That's weird. Why not use our `<Image />` element? It supports those

[2021-01-09 04:59] nkiki opened #2203 "[Crash] TypeError: Cannot read property 'replace' of undefined"
I was ________, then Maskbook report an error.

Error stack:
<pre>TypeError: Cannot read property 'replace' of undefined
    at Object.strip0x (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.wallet.ts.chunk.js:6376:16)
    at isValidFormat (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.wallet.ts.chunk.js:154:21)
    at Function.isValid (chrome-extension://jkoeaghipilijlahj

[2021-01-09 05:01] script-money opened #2204 "[Crash] SyntaxError: Invalid regular expression: /C************9@gmail.com/: Nothing to repeat"
I was script.money, then Maskbook report an error.

Error stack:
<pre>SyntaxError: Invalid regular expression: /C************9@gmail.com/: Nothing to repeat
    at String.search (<anonymous>)
    at parseText (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/background-service-content-script-options-page-popup.chunk.js:19857:44)
    at RenderText (chrome-extension://jkoeaghipilijlahjplgbfioc

[2021-01-09 07:08] Jack-Works commented on #2204
Interesting problem, it seems like we use text as an regex somewhere and with a email that not a valid regexp it throws

[2021-01-09 14:03] guanbinrui opened #2206 "[Release] Hotfix 1.23.1 => 1.23.2 (patch)"

[2021-01-09 14:17] guanbinrui commented on #2198
We use images as CSS backgrounds here.

[2021-01-09 14:17] #2198 closed

[2021-01-10 03:44] guanbinrui opened #2209 "[Bug] Wait for transfer transaction to be confirmed"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [x] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-01-10 03:45] Tedko opened #2210 "[Bug] After complete the transfer token within Mask wallet; balance did not refresh"
## Bug Report

E.g.  I transfered some token from Mask wallet to some addr. (wallet connected to MetaMask).

After the tx is recorded;
- when pending - No UX indicating its pending;
- After confirmed by eth (like etherscan); The Balance of that token is not updated. Need manual refresh

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Li

[2021-01-10 03:46] guanbinrui commented on #2209
close this cause dup with #2210.

[2021-01-10 03:46] #2209 closed

[2021-01-10 08:07] Tristin-0 opened #2211 "[Crash] TypeError: Cannot read property 'replace' of undefined"
I was ________, then Mask report an error.

Error stack:
<pre>TypeError: Cannot read property 'replace' of undefined
    at Object.strip0x (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.wallet.ts.js:2802:16)
    at isValidFormat (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.wallet.ts.js:154:21)
    at Function.isValid (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/

[2021-01-10 16:08] septs commented on #2211
Duplicate of #2025

[2021-01-10 16:08] #2211 closed

[2021-01-10 16:08] septs commented on #2203
Duplicate of #2025

[2021-01-10 16:08] #2203 closed

[2021-01-10 16:41] LeeChunHao2000 opened #2212 "[Crash] Error: Unreachable case:2"
I was ________, then Mask report an error.

Error stack:
<pre>unreachable@moz-extension://69b3c7fa-1b70-4ac0-acd7-09f3410d3b44/js/options-page.js:8786:11
resolveLinkOnEtherscan@moz-extension://69b3c7fa-1b70-4ac0-acd7-09f3410d3b44/js/76.js:20326:80
WalletStatusDialog@moz-extension://69b3c7fa-1b70-4ac0-acd7-09f3410d3b44/js/76.js:16142:161
wh@moz-extension://69b3c7fa-1b70-4ac0-acd7-09f3410d3b44/js/np

[2021-01-10 16:45] septs commented on #2212
Duplicate of #2094

[2021-01-10 16:45] #2212 closed

[2021-01-11 01:46] #2200 closed

[2021-01-11 01:47] #2206 closed

[2021-01-11 02:03] guanbinrui opened #2213 "[Bug] Swapped amout should read from the SwapSuccess event"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-01-11 02:14] guanbinrui opened #2214 "[Bug] Should refresh the pool balance before sending swap transaction"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-01-11 02:18] guanbinrui opened #2215 "[Bug] The result of a retweeted post run into its parent post"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-01-11 05:25] septs commented on #1970
Integrated https://github.com/actions/labeler

[2021-01-11 05:35] #2214 closed

[2021-01-11 06:14] guanbinrui opened #2219 "[Demand] Better support on mirrored tokens"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

The mirrored tokens have got UST-Token pairs on Uniswap. It's good to have if UST to be selected automatically.

Here is a list of mirrored tokens:

[code]

+ Add UST to the built-in token list.
+ Detect if given c

[2021-01-11 08:44] #2210 closed

[2021-01-11 09:57] #2204 closed

[2021-01-11 09:58] Jack-Works commented on #2175
done

[2021-01-11 09:58] #2175 closed

[2021-01-11 12:38] zhouhanseng opened #2224 "[Bug] ITO card refund eth less than zero"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-01-11 15:19] brymut commented on #2022
Hi @yisiliu, sorry to bother, might you have an update on this?

[2021-01-12 02:28] guanbinrui commented on #2224
A subgraph bug?

[2021-01-12 02:31] #2213 closed

[2021-01-12 02:37] #2140 closed

[2021-01-12 02:39] #2189 closed

[2021-01-12 02:57] zhouhanseng commented on #2224
yes, amount - amount_sold < 0

![image](https://user-images.githubusercontent.com/63733714/104263542-c166e000-54c4-11eb-8f61-0066aa82d354.png)

[2021-01-12 03:02] xiazhiming opened #2225 "[Bug] ITO Card swap active state"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:11.0.1 (20B29)

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version: 1.22.3
  - Browser Version: 87.0.4280.88 (Official Build) (x86_64)

- [x] Firefox

  - Mask Version: 1.22.3
  - Browser Version:

- [ ] Android

  - Mask Version:
  - And

[2021-01-12 04:15] Tedko opened #2226 "[Demand] Integrate dextools.io for dex *such as uni/sushi/dex price"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Users suggest (in chinese above) we should integrate dextool for low latency (cmc/gecko have high latency on price).

Dextool is a cool tool/price feed provider of token price on dexs.

## Part 2: Problem to Solve

[2021-01-12 04:19] Tedko commented on #2094
Likely. MM can add customized chain for testing... might be the reason.
@guanbinrui thoughts? this bug seems is  not fixed yet

[2021-01-12 04:22] Tedko commented on #2094
https://github.com/DimensionDev/Maskbook/issues/2025#issuecomment-739940902

@septs @guanbinrui

Thats the reason. FYI https://academy.binance.com/en/articles/connecting-metamask-to-binance-smart-chain

We dont need to support these customized chains like B-SC; but need to make sure that it did not throw error on our end...

[2021-01-12 04:52] yisiliu commented on #2226
@Tedko You have to fill in the template when creating the issue, or, what's the point of the template? This is a **public community** project so everyone needs to follow the rules including all the team members.

[2021-01-12 04:57] Tedko commented on #2226
added

[2021-01-12 06:37] #2219 closed

[2021-01-12 06:46] aahutsal commented on #1722
@yisiliu could you confirm ports will be opened and could you share AWS access key with me, so I can easily manage AWS node dedicated for that project (you can create an AWS access key with restricted access for that purpose).

Also, check your email. Ason seems keeping quiet.

[2021-01-12 07:10] yisiliu commented on #1970
@guanbinrui @jk234ert @Jack-Works

[2021-01-12 08:03] zhouhanseng opened #2229 "[Bug] famous token display random generated avatar"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-01-12 08:05] guanbinrui commented on #2224
Could you paste the pid and network too?

[2021-01-12 08:08] yisiliu commented on #2224
In this case, what's `amount_sold` and what is `amount_bought`? ETH vs MSKA

[2021-01-12 08:10] zhouhanseng commented on #2224
@guanbinrui 0x0ad9a012939929bc2b6d2ea17d33840827bd2264550701c772a7d3a6bb703668 ropsten

@yisiliu amount_sold is ETH, amount_bought is MSKA

[2021-01-12 08:23] yisiliu commented on #2224
So basically you set ETH:MSKA to 100000000:1 and you swapped twice with 0.00000000006 each. I don't think this is a problem at all. Where is that 40000000000000000000000?

[2021-01-12 08:25] yisiliu commented on #2224
And I saw `exchanged_tokens = 400000000000000060000000`.

weird

[2021-01-12 08:26] yisiliu commented on #2224
Can you try this in the test? @zhouhanseng

[2021-01-12 08:32] zhouhanseng commented on #2224
@yisiliu I set ETH:MSKA to 1:100000000, 40000000000000000000000 is wrong.

[2021-01-12 08:33] yisiliu commented on #2224
Alright I see. This is a bug in the contract - let me fix it.
ref: https://github.com/DimensionDev/InitialTwitterOffering/blob/master/contracts/ito.sol#L162 and https://github.com/DimensionDev/InitialTwitterOffering/blob/master/contracts/ito.sol#L159

[2021-01-12 08:34] zhouhanseng commented on #2224
@yisiliu I'd like to add the test.

[2021-01-12 08:35] guanbinrui opened #2230 "[Bug] Failed to decrypt quoted tweet"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-01-12 08:40] yisiliu commented on #2224
@zhouhanseng please do so. Thank you!

[2021-01-12 09:02] yisiliu commented on #2224
@zhouhanseng can you rebase to this branch: https://github.com/DimensionDev/InitialTwitterOffering/pull/9?

[2021-01-12 09:06] zhouhanseng commented on #2224
ok

[2021-01-12 09:46] guanbinrui commented on #2215
@Jack-Works  Any ideas?

[2021-01-12 10:01] Tedko commented on #2117
cc @guanbinrui @zhouhanseng

[2021-01-12 10:01] Tedko commented on #2117
Also is debank api stable enough? should we add zerion as backup?

[2021-01-12 11:59] Tedko commented on #2021
is this blocked by https://github.com/gitcoinco/web/issues/8015 ?

[2021-01-12 14:09] LeeChunHao2000 opened #2232 "[Crash] Error: Unreachable case:2"
I was ________, then Mask report an error.

Error stack:
<pre>unreachable@moz-extension://f69fce6e-dbee-4aeb-80a6-bfd2713c0a05/js/7234.js:1287:11
resolveLinkOnEtherscan@moz-extension://f69fce6e-dbee-4aeb-80a6-bfd2713c0a05/js/76.js:20326:80
WalletStatusDialog@moz-extension://f69fce6e-dbee-4aeb-80a6-bfd2713c0a05/js/76.js:16142:161
wh@moz-extension://f69fce6e-dbee-4aeb-80a6-bfd2713c0a05/js/npm.react-

[2021-01-12 14:12] xh0106 opened #2233 "[Crash] Error: Unreachable case:80"
I was ________, then Mask report an error.

Error stack:
<pre>Error: Unreachable case:80
    at unreachable (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/options-page.js:8787:11)
    at resolveLinkOnEtherscan (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/76.js:20326:80)
    at WalletStatusDialog (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/76.js:16142:161)
    at wh

[2021-01-12 14:12] #2233 closed

[2021-01-13 03:13] haihongS commented on #2160
we have add a 10MB test file in
https://arweave.net/MQvwlLNyJcE5-A7wo6oUE0j4QwlXfXxYNbSlwR70ZAg#FkNfuQppBpeyGs7N

also cache link for `landingPage`
https://coldcdn.com/api/cdn/bronil/MQvwlLNyJcE5-A7wo6oUE0j4QwlXfXxYNbSlwR70ZAg#FkNfuQppBpeyGs7N

plz check the speed.

[2021-01-13 06:54] haihongS commented on #2160
In chrome incognito mode, I tested two files.

one is from original arweave endpoint(8.7M):
https://arweave.net/9JgBCn8uaToqiTbugQ43yRuQioLbvbeTA5mSLEbnYt8#sample

another is the cached one(9.4M):
https://arweave.net/VzLiXPYJLyAmWoQbH05W5P5SOaqWesQCFg7a935iKYE#MrRBRMeAnB8EQBE4

The results is much ideal.

![image](https://user-images.githubusercontent.com/8394303/104415236-9a83d900-55ac-11eb-9349-

[2021-01-13 06:56] sounak98 commented on #2068
@yisiliu @guanbinrui as far as I can see, the incognito transfers are only possible from a mobile device. Given this scenario, how will we use it to build a plugin on the web?

[2021-01-13 07:07] haihongS commented on #2160
Hope it will be convenient to uses and save the cost of mask. ^...^

[2021-01-13 08:35] yisiliu commented on #2068
https://docs.incognito.org/developers-guide/quickstart/send-custom-privacy-token would this be helpful? @sounak98

[2021-01-13 08:44] yisiliu opened #2236 "[Bounty] Replace Twitter Profile Header Photo with any media type"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 2 Weeks
- Bounty Size
  - [x] 2000 USD <- increased from 100

[2021-01-13 09:09] yisiliu commented on #1947
@nazariyv hey man any update?

[2021-01-13 10:12] zhouhanseng opened #2238 "[Bug] trending view keep loading without content"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-01-13 11:13] yisiliu commented on #2236
hi @thehated1 welcome! Can you please do some research on our project and reply here with your proposal? Thank you! You can always ask us questions or join our [discord server](https://discord.gg/jFGxvCHr) for a faster reply:)

[2021-01-13 17:41] septs commented on #2232
Duplicate of #2094

[2021-01-13 17:41] #2232 closed

[2021-01-13 17:41] septs commented on #2233
Duplicate of #2094

[2021-01-14 02:40] #2021 closed

[2021-01-14 05:53] sounak98 commented on #2068
@yisiliu for sending the token with incognito we would need to import the user's private keys, what's the plan for that?

[2021-01-14 07:22] xiazhiming commented on #2117
https://debank.com/ranking/stablecoin Stable coins in the reference list。

[2021-01-14 08:05] #2157 closed

[2021-01-14 12:03] echinocacti commented on #2236
I'm interested in this bounty.

I have a lot of experience in node/frontend development, typescript and computer graphics (Canvas + webgl and VR); less in web3 dev.

I would like to discuss about this bounty if possibile.

[2021-01-14 15:01] cw3336 opened #2247 "[Crash] Error: Unreachable case:80"
I was ________, then Mask report an error.

Error stack:
<pre>Error: Unreachable case:80
    at unreachable (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/7234.js:1287:11)
    at resolveLinkOnEtherscan (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/76.js:20326:80)
    at WalletStatusDialog (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/76.js:16142:161)
    at wh (chrome-

[2021-01-14 16:28] septs commented on #2247
Duplicate of #2094

[2021-01-14 16:28] #2247 closed

[2021-01-15 02:21] zhouhanseng commented on #2224
close by https://github.com/DimensionDev/InitialTwitterOffering/pull/9

<img src="https://user-images.githubusercontent.com/63733714/104672724-4e0adb80-571b-11eb-90b9-5b490dbae10a.png" width=700 />

[2021-01-15 02:21] #2224 closed

[2021-01-15 02:22] #2022 closed

[2021-01-15 02:44] Jack-Works commented on #1937
Ok, now we have a problem (or exactly, many problems) with NPM.

# Problem 1: Bad deduplicate of dependencies

In our dependency tree here is the problem:

[code]

And both the main project relies on the `some_plugin_that_support_both_webpack_4_and_5`. When starting webpack 4, it will find the `some_plugin_that_support_both_webpack_4_and_5` in the `/node_modules`. And when that plugin `require` we

[2021-01-15 03:46] yisiliu commented on #2236
@echinocacti awesome! Let's schedule a meeting to discuss this bounty! Book me a meeting at: https://calendly.com/yisiliu. To work on this issue, you don't need any web3 dev so you are totally fine. Let's brainstorm and see what we can create.

[2021-01-15 06:02] #2238 closed

[2021-01-15 09:35] #2229 closed

[2021-01-15 10:14] xiazhiming opened #2250 "[Demand] Add Sushiswap"
## Catalogue

- [x] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
Provide users with the ability to choose from a wider range of markets。
## Part 2: Problem to Solve
Add  SushiSwap.
## Part 3: Expected Behavior
1. Add market switch function in page and modal.
2.  Different Gas fee

[2021-01-15 11:25] sounak98 commented on #2068
@Tedko @yisiliu @guanbinrui want to understand the exact requirements of this bounty, can you please help me understand what exactly we are looking to build?

[2021-01-15 14:45] brymut commented on #2236
Hi, @yisiliu is this offer to schedule a meeting with you open to anyone or do we apply using gitcoin first?

[2021-01-15 16:47] Tedko commented on #2068
@ yisiliu <https://github.com/yisiliu> can you provide sounak more info ;)?

On Fri, Jan 15, 2021 at 19:25 Sounak Pradhan <notifications@github.com>
wrote:

[2021-01-16 17:14] TheHated1 commented on #2236
I'm still work on it:
https://github.com/TheHated1/TwitterHeader

[2021-01-17 00:57] merceyz commented on #1937
Hello :wave:

Just out of curiousity what do you mean by "Modify package install"?

Yarn has [resolutions](https://yarnpkg.com/configuration/manifest#resolutions) to modify declared dependencies of your dependencies, Yarn 2 also has [packageExtensions](https://yarnpkg.com/configuration/yarnrc#packageExtensions) to add dependencies to them and a [`patch:`](https://yarnpkg.com/features/protocols#pat

[2021-01-17 07:54] Tedko commented on #2068
For private key:

Actually our internal mask wallet do have wallet stored locally. Not sure which is the barrier here

[2021-01-17 08:03] Tedko commented on #2117
@lelenei tested on my iOS ver. Found several small bugs.-

[2021-01-17 08:05] Tedko commented on #2117
![image](https://user-images.githubusercontent.com/6687437/104834879-9a9e1480-58dd-11eb-8dc8-73e2b98e1c13.png)![image](https://user-images.githubusercontent.com/6687437/104834881-9e319b80-58dd-11eb-8023-5b8047e30a5b.png)

Don't hide ETH since if no eth no gas (so no way to send or do Transactions)

Thoughts @xiazhiming ?

[2021-01-17 08:08] Tedko commented on #2117
@xiazhiming 以太 balance 低 也不应该隐藏。不然gas和转账没法处理。

[2021-01-17 08:36] Tedko commented on #2123
@guanbinrui cc this part ; also cc @lelenei @zhouhanseng

[2021-01-17 08:38] Tedko commented on #2116
@septs @Jack-Works any update?

[2021-01-17 08:42] Tedko commented on #1059
close for now. lots of red packet related feature is fixed already.

[2021-01-17 08:42] #1059 closed

[2021-01-17 08:50] Tedko commented on #1759
tested again. not working. need a speedy fix @guanbinrui @jk234ert @septs @yisiliu
<img width="1264" alt="Screen Shot 2021-01-17 at 16 49 22" src="https://user-images.githubusercontent.com/6687437/104835809-0c795c80-58e4-11eb-9042-c0b4fd83b63d.png">

[2021-01-17 10:20] zhouhanseng opened #2251 "[Crash] TypeError: Cannot read property 'replace' of undefined"
<img src="https://user-images.githubusercontent.com/63733714/104837595-8e6f8280-58f0-11eb-9f06-9a698417738c.png" width=600 />

red packet throw error when switches to kovan w/ mm.

I was zhc, then Mask report an error.

Error stack:
<pre>TypeError: Cannot read property 'replace' of undefined
    at Object.strip0x (wallet.ts/dist/util/index.js:24:16)
    at isValidFormat (wallet.ts/dist/EthereumAdd

[2021-01-17 14:08] Jack-Works commented on #1937
@merceyz cool, that's almost what I mean, I have updated the top-most table.

[2021-01-17 20:10] Tedko opened #2252 "[Demand] add zerion for wallet/token info “backup”"
## Catalogue

- [ ] UI/UX
- [x] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

For now we're using debank for fetching info on wallet/token (portfolio);
We may wanna use Zerion as another solution for backup or combine the data from the 2 sources

## Part 2: Problem to Solve
As mentioned abov

[2021-01-17 20:12] Tedko commented on #2252
P.S.: rainbow wallet is using zerion api etc. pls check and learn

[2021-01-17 20:17] Tedko commented on #2252
Also. There're several cases when debank is not updating the price /info of new token (vice versa for zerion); eg:
https://debank.com/portfolio/0x934b510d4c9103e6a87aef13b816fb080286d649
![image](https://user-images.githubusercontent.com/6687437/104854824-e97e9500-5943-11eb-82d1-3e66be4301f3.png)

While onzerion/ rainbow ![image](https://user-images.githubusercontent.com/6687437/104854851-fe5b2880

[2021-01-18 02:51] itbam opened #2253 "[Crash] Error: Unreachable case:38"
I was ________, then Mask report an error.

Error stack:
<pre>Error: Unreachable case:38
    at unreachable (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/options-page.js:8787:11)
    at resolveLinkOnEtherscan (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/76.js:20326:80)
    at WalletStatusDialog (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/76.js:16142:161)
    at wh

[2021-01-18 03:03] Jack-Works commented on #2253
thanks for your report, it's duplicated with #2094

[2021-01-18 03:03] #2253 closed

[2021-01-18 04:42] yisiliu commented on #2236
Please schedule a meeting with me first. I can probably offer you something else to work on.

[2021-01-18 04:44] zhouhanseng opened #2254 "[Bug] Unable to trigger metamask provider event"
## Bug Report

E.g. switch network or account, throw error: Invalid JSON RPC response: "", so ITO or red packet has no reaction.

It is not the problem of my network or metamask itself since it works well on https://app.uniswap.org/#/swap.

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform

[2021-01-18 04:44] yisiliu commented on #2236
As mentioned, I would need to talk to all the participants first to make sure they know how this bounty works and what I really needed. I have already talked to @echinocacti and I want to talk to you too if you want to finish our bounty. Thank you.

[2021-01-18 04:51] brymut commented on #2236
Yes please, could I please get something else to work on if you feel like this is already covered?

[2021-01-18 04:54] #2254 closed

[2021-01-18 05:00] yisiliu commented on #2236
This is what I am planning to do today: to add something else to our issue list

[2021-01-18 05:07] brymut commented on #2236
Ok great, thank you.

[2021-01-18 05:07] #2251 closed

[2021-01-19 02:23] #2123 closed

[2021-01-19 05:23] zhouhanseng opened #2258 "[Bug] Delete persona then Restore database throw error"
## Bug Report

Delete persona then Restore database would throw an indexedDB error, although it restores successfully.

DOMException:ConstraintError: Key already exists in the object store.(-1)

<img src="https://user-images.githubusercontent.com/63733714/104991177-18d2f600-5a59-11eb-9c25-30f6336ec68b.png" width=700 />

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

[2021-01-19 09:15] guanbinrui commented on #2225
close by #2227.

[2021-01-19 09:15] #2225 closed

[2021-01-20 00:24] #2258 closed

[2021-01-20 01:39] jk234ert opened #2261 "[Bug] Add loading indicator and "empty assets" messages to Dashboard Wallet page while fetching wallet assets"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-01-20 02:50] haihongS opened #2262 "[Demand] Add mask's domain to replace `https://arweave.net` in file service"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
The endpoint of file service is `https://arweave.net`, but generally we should use domain managed from Mask e.g. `fs.mask.io` instead and configure CNAME or other redirect strategy to suit future feature.

With the

[2021-01-20 02:53] septs commented on #2262
plz set a title on this issue

[2021-01-20 03:23] yisiliu commented on #2262
FYI this is the conclusion of what @haihongS and I discussed yesterday.

[2021-01-20 07:44] Tedko commented on #2215
@Jack-Works

[2021-01-20 07:46] Jack-Works commented on #2215
@guanbinrui please leave a URL that can reduce this bug and I'll take a look at it later

[2021-01-20 07:47] guanbinrui commented on #2215
This bug is sneaky. Actually, I failed to reproduce it.

[2021-01-20 07:52] guanbinrui opened #2263 "[Release] Hotfix 1.23.2 => 1.23.3 (patch)"
close #2094

[2021-01-20 07:52] Tedko commented on #2261
https://github.com/DimensionDev/Maskbook/issues/2117

Better not use `empty assets`

on layer 1 of eth we should better always display eth since that the gas of any tx etc. Maybe add DAI as a default currency (stable coin) even if the balance is 0

[2021-01-20 07:54] Tedko commented on #2261
cc @jk234ert

[2021-01-20 08:17] xiazhiming commented on #2117
@lelenei lei 不管钱包有没有资产。默认第一行显示ETH，banlacer小数位精度6位。其他依照以前进行fix。

[2021-01-20 14:58] nuanyang233 commented on #2261
@jk234ert There are two album in collectibles.So we need show duplicate indicator and empty assets?

[2021-01-20 15:54] nuanyang233 commented on #2261
@lelenei I added the loading indicator for collectibles

[2021-01-20 16:38] clearloop commented on #1724
Mark

[2021-01-21 01:09] Tedko opened #2268 "[Bug] File Service bug"
## Bug Report

AR File Sevice is down(?)

<img width="1552" alt="Screen Shot 2021-01-21 at 09 07 59" src="https://user-images.githubusercontent.com/6687437/105260178-4a1e0400-5bc8-11eb-8c5e-5e2a4c7b2d24.png">

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mas

[2021-01-21 02:41] #2263 closed

[2021-01-21 02:48] septs commented on #2268
Wait for next release.

[2021-01-21 02:55] guanbinrui opened #2269 "[Release] New release 1.24.0 (minor)"

[2021-01-21 03:27] #2268 closed

[2021-01-21 06:37] #2269 closed

[2021-01-21 13:48] nazariyv commented on #1947
@yisiliu got swamped by a barrage of things guys. If you want to approve someone else for this, go ahead. Sorry about this.

[2021-01-21 13:52] msk1789 opened #2272 "[Crash] Error: Unreachable case:56"
I was ________, then Mask report an error.

Error stack:
<pre>unreachable@holoflows-extension://eofkdgkhfoebecmamljfaepckoecjhib/js/options-page.js:8830:20
resolveLinkOnEtherscan@holoflows-extension://eofkdgkhfoebecmamljfaepckoecjhib/js/3756.js:20705:80
WalletStatusDialog@holoflows-extension://eofkdgkhfoebecmamljfaepckoecjhib/js/3756.js:16577:161
wh@holoflows-extension://eofkdgkhfoebecmamljfaepcko

[2021-01-21 13:56] Tedko commented on #1947
If you’re still available happy to let you finish this ;)

On Thu, Jan 21, 2021 at 21:48 Naz <notifications@github.com> wrote:

[2021-01-21 14:05] Jack-Works commented on #2272
Duplicate of #2094, it is already fixed in the next version IMO, thanks for your report

[2021-01-21 14:05] #2272 closed

[2021-01-21 16:41] TheHated1 commented on #2236
IN process..

[2021-01-22 00:01] nazariyv commented on #1947
I will do my best :) I am juggling finishing off reNFT mainnet launch + something else that I will reveal eventually :)

[2021-01-22 08:49] #2230 closed

[2021-01-22 15:36] #2250 closed

[2021-01-23 01:22] guanbinrui opened #2276 "[Demand] Refresh trending data from CMC intimately"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

The price data from the widget API is slow updating. The WebSocket price API (wss://stream.coinmarketcap.com/price/latest)  can subscribe the price of specific coin.

<img width="945" alt="test" src="https://user-i

[2021-01-23 05:26] Tedko opened #2277 "[Bug] Fix connect to MetaMask(v9.0) bug"
## Bug Report

Fail to connect to Metamask (9.0). Already reproduced and ready to fix by @guanbinrui

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - M

[2021-01-23 05:29] Tedko commented on #2094
duplicate; fixed by https://github.com/DimensionDev/Maskbook/issues/2263

[2021-01-23 05:29] #2094 closed

[2021-01-23 11:56] Tedko commented on #2093
@Jack-Works @Tlaster @jk234ert
This bug still exist on gplay version of Mask. Need a speedy fix.

[2021-01-23 11:58] Tedko commented on #2068
@yisiliu @guanbinrui

[2021-01-23 12:01] Tedko commented on #1963
cc @septs @guanbinrui

[2021-01-23 12:02] Tedko opened #2278 "[Bug] Mobile Relate bugs"
## Bug Report
Here are several bugs related with mobile. Need speedy fix w/ priority.

- [ ] Android Only - bug on Enhance Search and `$/# + Ticker` https://github.com/DimensionDev/Maskbook/issues/2093

- [x] Improve Wallet UX for mobile #2279

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Plat

[2021-01-23 12:05] Tedko opened #2279 "[Bug] Improve wallet UX for mobile Mask"
## Bug Report

Now the UX of wallet part for mobile Mask is pretty bad. we need a speedy fix on front-end side.

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [x] And

[2021-01-23 12:29] #2277 closed

[2021-01-23 16:35] Tedko commented on #1907
tested with wallet connect wallet on mask, and confirm its delivered

[2021-01-23 16:35] #1907 closed

[2021-01-24 18:05] #1680 closed

[2021-01-25 02:13] guanbinrui opened #2282 "[Release] New release 1.25.0 (minor)"

[2021-01-25 07:58] #1713 closed

[2021-01-25 14:28] #2282 closed

[2021-01-25 18:16] Tedko opened #2285 "[Bug] Prev ITO loading failed"
## Bug Report

Prev ITO loading failed
https://twitter.com/realmaskbook/status/1348330695853109249
<img width="1338" alt="Screen Shot 2021-01-26 at 02 14 13" src="https://user-images.githubusercontent.com/6687437/105747830-40a3eb80-5f7c-11eb-8fe7-2bf775332a92.png">

the reason is due to the change of our subgraph api endpoint (?).

- need to figure out a way to fix this problem as a quick fix (har

[2021-01-25 18:18] Tedko commented on #2252
@lelenei let me know the progress so far

[2021-01-26 02:03] Tedko commented on #2025
duplicate; fixed by #2263

[2021-01-26 02:03] #2025 closed

[2021-01-26 03:30] lelenei commented on #1937
I executed the npm ci command in a branch to solve this problem, it will appear again after switching the branch
<img width="960" alt="image" src="https://user-images.githubusercontent.com/72531217/105796415-c39f6300-5fc9-11eb-9aa2-21ddced99843.png">

[2021-01-26 03:33] guanbinrui commented on #1937
It causes by https://github.com/DimensionDev/extension-provider/packages/584832. You should reinstall your node_modules.

[2021-01-26 04:04] Jack-Works commented on #1937
it actually the npm bug I mentioned before https://github.com/npm/cli/issues/2430 @guanbinrui

[2021-01-26 08:20] lelenei commented on #1937
<img width="701" alt="image" src="https://user-images.githubusercontent.com/72531217/105818902-68359b00-5ff2-11eb-91bf-d72ddc3635d0.png">

[2021-01-26 10:08] guanbinrui opened #2289 "[Release] Hotfix 1.25.0 => 1.25.1 (patch)"

[2021-01-27 02:28] lelenei commented on #2252
I have done some functions in pr#2237, and after the merge, I will submit the next part of the code

[2021-01-27 09:31] Miaommmisokay opened #2296 "[Bounty] Bluesky <Ecosystem Review> Translation"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [x] Beginner
  - [ ] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [ ] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [x] Other
    - [x] Translation
- Time Commitment
  - [x] 15 Days
- Bounty Size
  - [x] 500 Dai

## Part 1: Problem Descrip

[2021-01-27 12:44] tungnguyenvt opened #2297 "[Bounty] Bluesky in more language"
## Catalogue

- Platform
  - [ x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [x ] Beginner
  - [ ] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [ ] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [x ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x]  15 days
- Bounty Size
  - [x] 500 dai

## Part 1: Proble

[2021-01-27 13:01] septs commented on #2297
CC @yisiliu @Tedko

[2021-01-27 13:03] Tedko commented on #2297
Yeah we’re happy to sponsor

On Wed, Jan 27, 2021 at 21:01 Septs <notifications@github.com> wrote:

[2021-01-27 13:13] tungnguyenvt commented on #2297
yes i like it

[2021-01-27 13:58] #2131 closed

[2021-01-27 14:14] guanbinrui opened #2298 "[Release] New release 1.26.0 (minor)"

[2021-01-27 14:16] #2289 closed

[2021-01-28 04:08] jason-hoopox opened #2300 "[Bounty] Add SashimiSwap"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 2 Weeks
- Bounty Size
  - [x] 500 USDT

## Part 1: Problem D

[2021-01-28 04:08] Jack-Works commented on #2297
please give this issue a title thanks

[2021-01-28 04:23] guanbinrui commented on #2300
It will be easy to integrate cause we have built SushiSwap into the trader plugin a few weeks ago.

Learn more: #2256

[2021-01-28 10:15] jason-aelf commented on #2300
hi @KiChjang welcome! Could you reply here with your proposal? Thank you! You can always ask us questions or send it to the E-mail "developer@sashimi.cool".

[2021-01-28 11:28] KiChjang commented on #2300
@jason-hoopox I haven't been accepted, but it looks like gitcoin's integration bot is down, so I'll just rewrite what I have on the gitcoin bounty page:

"Will reuse the Sushiswap integration as a template for Sashimiswap for development. Also reuse the helper classes from the Sushiswap integration as necessary. "

[2021-01-28 18:43] Tedko opened #2305 "[Bug] File service down on v1.25.0"
## Bug Report
Cannot use file service. Cant upload files.
PS: we need to add the test streamline of these plugins

<img width="1479" alt="Screen Shot 2021-01-29 at 02 42 34" src="https://user-images.githubusercontent.com/6687437/106183831-bc4fa380-61db-11eb-9d89-37509f5bbd11.png">

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux D

[2021-01-28 18:51] Tedko commented on #2297
duplicate w/ https://github.com/DimensionDev/Maskbook/issues/2296 ? @tungnguyenvt

[2021-01-29 03:05] septs commented on #2305
https://github.com/DimensionDev/Maskbook/pull/2283#issuecomment-766708329

[2021-01-29 03:08] guanbinrui commented on #2305
@septs Could please you test those links? I think they already online now.

[2021-01-29 03:23] #2298 closed

[2021-01-29 03:28] guanbinrui opened #2307 "[Demand] Add UniswapInfo as a data provider of the trader plugin"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Learn more:

+ https://github.com/Uniswap/uniswap-info
+ https://info.uniswap.org/

## Part 2: Problem to Solve

Add one more update-to-date and decentralized trending data provider.

## Part 3: Expected Behavior

[2021-01-29 03:57] zhouhanseng opened #2309 "[Demand] Define how many decimals to show for some famous token"
## Catalogue

- [x] UI/UX
- [ ] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

For example, Metamask shows amount respectively when click max button for transferring token, it display only 6 decimals for ETH and all decimals for MASKA that leads a trim, although they are both 18 decimals.

<i

[2021-01-29 05:00] guanbinrui opened #2311 "[Release] Hotfix 1.26.0 => 1.26.1 (patch)"

[2021-01-29 05:07] septs commented on #2305
![Uploading image.png…]()

[2021-01-29 05:09] septs commented on #2311
#2305

[2021-01-29 07:19] #2305 closed

[2021-01-29 08:40] Jack-Works opened #2315 "[Task] Introduce react-hook-form for our forms"
https://react-hook-form.com/

[2021-01-29 14:36] TheHated1 commented on #2236
[TwitterProfile](https://twitter.com/afronomad_)

[2021-01-31 03:56] #1937 closed

[2021-02-01 04:16] guanbinrui opened #2318 "[Bug] Made styles cannot override the original component styles in the Popup component"
## Bug Report

The popup page

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [x] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS

[2021-02-01 04:25] septs opened #2319 "[Bug] inject failed"
# Bug Report

![image](https://user-images.githubusercontent.com/3842474/106414817-87b44400-6488-11eb-8158-d490a27d540a.png)

## Environment

User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36
Version: v1.23.3-113-g81cd5786-dirty
Tag Name: v1.26.0
Build Date: 2021-02-01T04:16:05.027Z
Commit Hash: 81cd5786
Commit Date

[2021-02-01 04:47] septs commented on #2116
known issues:
1. typeson transfer blob to worker very slower (~ 30+ s)
2. image decode failed

[2021-02-01 05:12] #2318 closed

[2021-02-01 05:14] Jack-Works commented on #2116
For this problem, please try my PR #2295 it might resolve the problem

[2021-02-01 08:11] yisiliu opened #2323 "[Bounty] Integrate Mask in Minds.com"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [ ] Intermediate
  - [x] Advanced
- Category
  - [x] Mask Core Feature
  - [ ] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 1 month
- Bounty Size
  - [x] 2500 USD

## Part 1: Problem

[2021-02-01 09:59] xiazhiming opened #2324 "[Demand] Image payload customization display"
## Catalogue

- [x] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
image payload customization and  Distinguish between permission display.
## Part 2: Problem to Solve
Add image payload custom upload
[figma design  ](https://www.figma.com/file/gVkQ67y285b4FXVV1KPThN/Twitter?node-id

[2021-02-01 10:19] Jack-Works commented on #2324
please give this issue a title thanks

[2021-02-01 10:24] Jack-Works commented on #2323
So this looks familiar. I have a list of questions.

- Is it a decentralized network like the matrix?
- Do their users need to install Maskbook to use this feature?
- Co-operative with FB/Twitter?

[2021-02-01 10:28] yisiliu commented on #2323
nope their username looks like this https://www.minds.com/yisiliu/

yes for sure

yes

[2021-02-01 12:10] dependabot-preview[bot] opened #2326 "Dependabot couldn't authenticate with registry.npmjs.org"
Dependabot couldn't authenticate with registry.npmjs.org.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/DimensionDev) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/DimensionDev/update-logs/65716255).

[2021-02-01 17:18] erich0123 commented on #2296
Hello, I've submitted the translated ActivitySub section as a WIP on gitcoin.co, but maybe you didn't get notified. Here it is again: https://gist.github.com/erich0123/6e2b5d5e812dca51b2dd983ed1f03203

[2021-02-01 23:26] aahutsal commented on #1722
@yisiliu could you please answer me via email or here?

[2021-02-02 03:03] Jack-Works commented on #2323
oh so will they provide a stable interface for us to inject or we have to do the same thing as what we do to FB?

[2021-02-02 03:45] yisiliu opened #2329 "[Crash] Error: ITO_Loading suspended while rendering, but no fallback UI was specified.Add a ..."
I was ________, then Mask report an error.

Add a <Suspense fallback=...> component higher in the tree to provide a loading indicator or placeholder to display.

Error stack:
<pre>Error: ITO_Loading suspended while rendering, but no fallback UI was specified.

Add a <Suspense fallback=...> component higher in the tree to provide a loading indicator or placeholder to display.
    at Rj (chrome-exte

[2021-02-02 03:52] septs commented on #2329
https://github.com/DimensionDev/Maskbook/blob/56f53a3e276ed00dc76f42a8c9ea39f729979f35/packages/maskbook/src/plugins/ITO/define.tsx#L48-L63

[2021-02-02 05:48] septs commented on #2022
@yisiliu reopen?

[2021-02-02 05:55] #2311 closed

[2021-02-02 14:05] Tedko commented on #2022
Yisi will do a step 2 I guess. The step 1 is merged right?

On Tue, Feb 2, 2021 at 13:48 Septs <notifications@github.com> wrote:

[2021-02-02 14:53] guanbinrui opened #2333 "[Release] New release 1.27.0 (minor)"

[2021-02-02 16:44] guanbinrui opened #2335 "[Demand] The useERC20TokenApproveCallback hook should return a transaction state"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [x] Other
  - /_List it here_/

## Part 1: Introduction and Background

Refactoring `useERC20TokenApproveCallback` to return a transaction state.

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2021-02-02 16:51] linluz commented on #2296
Hello, I tried to send an email to info@fat-garage.com to get the trial translation text, but there was no response! Can you tell me what to do ? Learning the behavior of the above brothers, can I directly translate a paragraph into Chinese?

[2021-02-02 17:31] linluz commented on #2297
@tungnguyenvt 我发了邮件了，但是那个邮箱没回复我 怎么办呢？没有试翻译文本的话，我直接学习那位德国人民，把第一篇翻译了？

[2021-02-02 19:56] #2333 closed

[2021-02-02 20:01] guanbinrui commented on #2329
![test](https://user-images.githubusercontent.com/52657989/106655532-7415f400-65d4-11eb-9b48-4d5a559dfeec.png)

I was stuck in the loading stage :/

[2021-02-02 20:09] guanbinrui opened #2336 "[Demand] Remove COTM and Election2020 from the composition dialog"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2021-02-02 20:22] yisiliu commented on #2296
Sorry I didn't get the notice on gitcoin. I will let you know soon and will probably open a new issue for you as a separate bounty.

[2021-02-02 20:23] yisiliu commented on #2296
Hi welcome! We will let them know and respond to your email soon. In the mean time, a trial translation of a few paragraphs would be definitely helpful.

[2021-02-03 05:53] guanbinrui opened #2337 "[Release] Hotfix 1.27.0 => 1.27.1 (patch)"

[2021-02-03 07:19] Jack-Works commented on #2329
@septs it won't be closed by #2340, you have to provide `<Suspense>` fallback whenever you throw a Promise.

`ITOLoading` has this line in its code

[code]

So it has to be wrapped with `Suspense` too. (And that already in `MaskbookPluginWrapper` I just check out the code).

I will mark this issue as already fixed by this line https://github.com/DimensionDev/Maskbook/blob/master/packages/maskbook/

[2021-02-03 07:19] #2329 closed

[2021-02-03 11:32] #2337 closed

[2021-02-03 14:07] Jack-Works commented on #2336
we can remove the send-side but not the receive-side. is it?

[2021-02-03 17:24] Tedko opened #2346 "[Crash] Error: initCodeHash must be 32 bytes (argument="initCodeHash", value="", code=INVALID_A..."
I was ___try buy $ust and enter 1 eth-> ust; then switch the swap provider from 0x to uni_____, then Mask report an error.

<img width="1374" alt="Screen Shot 2021-02-04 at 01 23 40" src="https://user-images.githubusercontent.com/6687437/106784855-bf3d0f00-6687-11eb-934e-7a720968536c.png">

Error stack:
<pre>Error: initCodeHash must be 32 bytes (argument="initCodeHash", value="", code=INVALID_ARGU

[2021-02-03 17:41] guanbinrui opened #2347 "[Release] Hotfix 1.27.1 => 1.27.2 (patch)"

[2021-02-03 17:48] guanbinrui commented on #2336
Can be totally removed now.

[2021-02-03 17:58] guanbinrui commented on #2336
Oh, those flags already off. So I'm closing this issue.

[2021-02-03 17:58] #2336 closed

[2021-02-03 18:03] guanbinrui commented on #2335
close by a1dcf7d6771df1f407c32ff8dd7514d6c6cabec3.

[2021-02-03 18:03] #2335 closed

[2021-02-03 18:39] #2346 closed

[2021-02-03 19:24] guanbinrui opened #2350 "[Release] Hotfix 1.27.2 => 1.27.3 (patch)"

[2021-02-03 19:49] Tedko opened #2353 "[Bug] Remove `select eth mainnet` func on mobile (iOS) version"
## Bug Report

This func is not needed for general users.

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [x] iO

[2021-02-03 19:50] Tedko commented on #2353
tested on TF version

[2021-02-04 03:53] zhouhanseng opened #2354 "[Bug] metamask lock/unlock event or correspond listener not works"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-02-04 12:20] Tedko commented on #2285
Tested again. Seems fixed? Will close for now
<img width="1374" alt="Screen Shot 2021-02-04 at 20 19 32" src="https://user-images.githubusercontent.com/6687437/106891927-53f64a00-6726-11eb-861d-b477192d043f.png">
@guanbinrui guan

[2021-02-04 12:20] #2285 closed

[2021-02-04 12:24] Tedko commented on #2215
sanshui able to reproduce again in last ITO

[2021-02-04 12:53] Tedko commented on #2215
maybe this issue is only related w/ ITO related content cc @zhouhanseng

[2021-02-04 19:01] ManyRios commented on #2236
Working on this!

[2021-02-05 02:16] jk234ert commented on #2353
Issue caused by integrating dev version maskbook js scripts into mobile app release binaries.
Fixed by replacing with release version

[2021-02-05 04:25] Tedko commented on #2297
@yisiliu cc

[2021-02-05 05:20] jk234ert commented on #2353
Still have issues using release version, need further investigate

[2021-02-05 06:58] yisiliu commented on #2323
It's all gonna be community work!

[2021-02-05 07:03] yisiliu opened #2362 "[Bounty] Enhance the file service with ArDrive.io"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 4 weeks
- Bounty Size
  - [x] 2000 USD

## Part 1: Problem D

[2021-02-05 07:37] yisiliu opened #2363 "[Bounty] Unlock the imagination of online publication directly on Twitter with Unlock Protocol"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 4 Weeks
- Bounty Size
  - [x] 6000 USD

## Part 1: Problem D

[2021-02-07 02:22] #2353 closed

[2021-02-07 02:28] #2326 closed

[2021-02-07 06:25] zhouhanseng opened #2369 "[Demand] Refactor TokenAmountPanel replace string with BigNumber for props type"
## Catalogue

- [x] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

https://github.com/DimensionDev/Maskbook/pull/2360

Should not set value which represents a BigNumber with string type which may lead to precision losing.

`formatBalance()` should only used for view.

## Part 2: P

[2021-02-07 06:35] zhouhanseng commented on #2354
https://github.com/MetaMask/metamask-extension/issues/10368

[2021-02-07 07:48] zhouhanseng commented on #2369
Precision losing can't be avoid since tokens have different decimals. The UI inconsistency caused by precision losing could be solved separately rather than in this component.

[2021-02-07 07:48] #2369 closed

[2021-02-08 02:29] #2347 closed

[2021-02-08 02:30] #2350 closed

[2021-02-09 07:20] yisiliu opened #2375 "[Bounty] Clubhouse on top of Twitter"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [ ] Intermediate
  - [x] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 4 weeks
- Bounty Size
  - [x] 2500 USD

## Part 1: Problem D

[2021-02-09 11:30] jay-dee7 commented on #2362
hey @yisiliu thanks a lot for approving me.
I'll do my project setup and try to hit a trial run and share any questions/concerns if I have any. I usually do most of my work over the weekends but I'll share something before that :)

[2021-02-09 11:32] yisiliu commented on #2362
Yes please!!! You can schedule a meeting with me at: https://calendly.com/yisiliu if you want to discuss your idea. Thank you!

[2021-02-09 13:01] sounak98 commented on #2375
`neshouse` is dependent on a real-time engagement platform (https://agora.io/en) and a serverless backend (https://leancloud.app). Do you have any preference for such platforms that we need to support the chatrooms on Mask or can I explore?

Also, can we have a chat/call regarding this issue? It would be good to get some things clarified before I submit a plan on Gitcoin for this bounty.

[2021-02-09 18:04] developerfred commented on #2375
@sounak98 We can host these services on the decentralized like "skynet or arweave"

[2021-02-09 18:53] developerfred commented on #2300
Hi @jason-hoopox, any update?

[2021-02-10 01:40] jason-hoopox commented on #2300
@developerfred It's ok. I have paid.

[2021-02-10 05:49] Jack-Works commented on #1884
For now, we decide to fully isolate the dashboard so we definitely need a different set of API to do this. This issue is no longer applicable

[2021-02-10 05:49] #1884 closed

[2021-02-10 07:16] yisiliu commented on #2375
@sounak98 I didn't mention it in the issue but we will accept anything but the one he provides in his repo is more preferable. If you are interested, find me at: https://calendly.com/yisiliu

[2021-02-11 12:17] guanbinrui opened #2379 "[Release] Hotfix 1.27.2 => 1.27.3 (patch)"

[2021-02-11 13:33] guanbinrui opened #2382 "[Bug] The button name is wrong"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-02-11 13:40] jay-dee7 commented on #2362
hey @yisiliu i've set the project up on my local system and also aligned a call with you for Saturday if thats okay?

[2021-02-12 12:18] Tedko commented on #2215
Any feedback? Not crucial but worry it will affect Ito

[2021-02-12 12:24] guanbinrui commented on #2354
Does MetaMask able to emit a corresponding unlock event? We can request accounts again when we receive that event. Actually, no need to emit account changed event after unlocking MetaMask.

[2021-02-12 15:35] yisiliu commented on #2362
@jay-dee7 hey man I am so sorry but I cannot make it the time you scheduled. I did mark some dates as unavailable but I don't why it wasn't applied. Can we schedule a meeting for next week please? Thanks

[2021-02-12 16:11] guanbinrui opened #2384 "[Release] Hotfix 1.27.3 => 1.27.4 (patch)"

[2021-02-13 03:19] guanbinrui opened #2387 "[Demand] Able to wrap / unwrap ETH directly in the trader plugin"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

The ability to wrap and unwrap Ether is provider-free. Invoke WETH contract deposit and withdraw methods directly when we detect ETH to WETH pairs.

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Not

[2021-02-13 09:45] #2300 closed

[2021-02-13 13:32] jk234ert opened #2388 "[Bug] Mobile App Dashboard Wallet page misses the more menu button"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:1.27.4
  - iOS Version:1.

[2021-02-13 14:38] #2382 closed

[2021-02-13 14:39] Tedko commented on #2309
IMO we can just follow metamask; on mobile we can learn from rainbow wallet

[2021-02-13 16:47] Tedko opened #2391 "[Crash] Error: initCodeHash must be 32 bytes (argument="initCodeHash", value="", code=INVALID_A..."
I was ____try to swap; 1000 dai -> some token; then switch provider from 0x to univ2____, then Mask report an error.

<img width="1371" alt="Screen Shot 2021-02-14 at 00 47 09" src="https://user-images.githubusercontent.com/6687437/107855580-434c7f00-6e5e-11eb-877e-ec21afec30c4.png">

Error stack:
<pre>Error: initCodeHash must be 32 bytes (argument="initCodeHash", value="", code=INVALID_ARGUMENT,

[2021-02-13 16:49] Tedko commented on #2391
seems this is fixed alredy at https://github.com/DimensionDev/Maskbook/issues/2346
v1.27.4

btw - why the chrome store review is stucked ?? @guanbinrui

[2021-02-13 16:50] Tedko commented on #2391
closed. duplicate

[2021-02-13 16:50] #2391 closed

[2021-02-13 17:09] Tedko opened #2392 "[Bug] cannot swap over 0x"
## Bug Report

<img width="1371" alt="Screen Shot 2021-02-14 at 01 00 56" src="https://user-images.githubusercontent.com/6687437/107855948-89a2dd80-6e60-11eb-8cee-e05dd141fe8c.png">

trying this https://twitter.com/search?q=%24muse&src=typed_query and try swap over dai -> muse.

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Dist

[2021-02-13 17:09] Tedko commented on #2392
PS; connected to MetaMask. the connection is fine. the same setup can swap over uniswap

[2021-02-13 18:34] Tedko opened #2393 "[Bug] After switching the swap provider the Swap token should remain the same"
## Bug Report

<img width="1371" alt="Screen Shot 2021-02-14 at 00 52 31" src="https://user-images.githubusercontent.com/6687437/107858043-f8863380-6e6c-11eb-85e7-25857edaf74c.png">
<img width="1371" alt="Screen Shot 2021-02-14 at 00 52 03" src="https://user-images.githubusercontent.com/6687437/107858050-0340c880-6e6d-11eb-84eb-f6d3e914468d.png">

How to reproduce:
Try search $uni and swap dai ->

[2021-02-13 19:57] CoeJoder commented on #2323
Please consider increasing the bounty, it's quite a bit of work.

[2021-02-14 06:19] zhouhanseng opened #2394 "[Bug] 0x swap calculate amount mistake"
## Bug Report
Using 0x, DAI -> MUSE, when input DAI, the calculating amount is always the same.

<img src="https://user-images.githubusercontent.com/63733714/107869560-762c5c80-6eca-11eb-95b6-88bb7cc2a935.png" width=500 />

<img src="https://user-images.githubusercontent.com/63733714/107869565-847a7880-6eca-11eb-8f83-2077c2680f98.png" width=500 />

But when input the same MUSE amount: the DAI woul

[2021-02-14 10:47] Tedko opened #2396 "[Bug] Wallet ux improvement: no need to display token name twice"
## Bug Report

<img width="1342" alt="Screen Shot 2021-02-14 at 18 21 46" src="https://user-images.githubusercontent.com/6687437/107874494-07182d80-6ef5-11eb-9ab5-de047f45e601.png">
<img width="1312" alt="Screen Shot 2021-02-14 at 18 22 02" src="https://user-images.githubusercontent.com/6687437/107874496-07b0c400-6ef5-11eb-9362-761c292b272e.png">

As the pics above. Let's follow debank's design on

[2021-02-14 14:38] Miaommmisokay opened #2399 "[Crash] TypeError: Failed to construct 'URL': Invalid URL"
I was ________, then Mask report an error.

Error stack:
<pre>TypeError: Failed to construct 'URL': Invalid URL
    at getRelevantUrl (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/5695.js:40597:20)
    at Comp (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/5695.js:40708:22)
    at wh (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.react-dom.js:227:137)
    at ck (chr

[2021-02-14 14:41] septs commented on #2399
https://github.com/DimensionDev/Maskbook/blob/0cbf95e427d0b5c20ca2a9c10107970c47f146a7/packages/maskbook/src/plugins/NFT/define.tsx#L12-L15

https://github.com/DimensionDev/Maskbook/blob/0cbf95e427d0b5c20ca2a9c10107970c47f146a7/packages/maskbook/src/plugins/NFT/utils.ts#L17-L24

[2021-02-14 14:52] Tedko commented on #2399
<img width="1371" alt="Screen Shot 2021-02-14 at 22 51 25" src="https://user-images.githubusercontent.com/6687437/107880017-2f188880-6f17-11eb-8d5e-d1f5ca04bb45.png">

[2021-02-14 14:52] #2379 closed

[2021-02-14 14:53] #2384 closed

[2021-02-14 15:09] #2396 closed

[2021-02-14 15:11] #2388 closed

[2021-02-14 15:51] guanbinrui opened #2400 "[Bug] Trade with ERC20 tokens by 0x and others"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-02-14 15:53] guanbinrui opened #2401 "[Release] Hotfix 1.27.4 => 1.27.5 (patch)"
#2400

[2021-02-14 17:48] ManyRios commented on #2236
This bounty is still open?

[2021-02-14 18:45] yisiliu commented on #2236
@ManyRios actually.....yes!

[2021-02-15 04:18] Tedko commented on #2394
Also cc @guanbinrui

[2021-02-15 04:19] Tedko commented on #2392
Cc @zhouhanseng

[2021-02-15 15:20] vimday opened #2405 "[Crash] TypeError: Failed to construct 'URL': Invalid URL"
I was ________, then Mask report an error.

Error stack:
<pre>TypeError: Failed to construct 'URL': Invalid URL
    at getRelevantUrl (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/5695.js:40597:20)
    at Comp (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/5695.js:40708:22)
    at wh (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.react-dom.js:227:137)
    at ck (chr

[2021-02-15 15:48] septs commented on #2405
Duplicate of #2399

[2021-02-15 15:48] #2405 closed

[2021-02-15 18:29] iamzubin commented on #2363
bump

[2021-02-16 01:40] #2400 closed

[2021-02-16 08:33] jay-dee7 commented on #2362
@gitcoinbot i'm working on this

[2021-02-16 10:02] McCrearyD commented on #1947
so, #1338 implemented the image encryption algorithm already and it was applied in the context of facebook already, right?

as i understand it, my job is now to simply use the algorithms and apply it to twitter. right?

[2021-02-16 10:03] yisiliu commented on #1947
yes that's correct. glhf

[2021-02-16 10:04] McCrearyD commented on #1947
:-)

[2021-02-16 10:07] McCrearyD commented on #1947
@yisiliu do you have a contributions doc? or somewhere documenting how to get set up with your environment? I understand it's a chrome extension built with react + npm, so I'm assuming just:

`npm i`
`npm start` -- build webpack
then go to chrome/brave + point to `dist`?

[2021-02-16 10:08] yisiliu commented on #1947
please refer to https://github.com/DimensionDev/Maskbook/blob/master/docs/caveats.md

[2021-02-16 10:23] McCrearyD commented on #1947
should I start from the master branch or should I start from the WIP #1352?

[2021-02-16 10:27] yisiliu commented on #1947
That's actually a tradeoff but I guess starting from #1352 makes more sense. The problem is that you will need to rebase it to our latest master, which has changed a lot in the past few months. Your choice.

[2021-02-16 11:59] jk234ert commented on #2399
The root cause is:
We are using `anchorme` to detect url, and use `new URL(url)` to parse the url string.
A shorthand url like "hathor.network" is valid for `anchrome`, but **INVALID** to `new URL(url)`.

Is there any util method to **formalize** a url string? @guanbinrui @septs @zhouhanseng

[2021-02-16 15:23] #2399 closed

[2021-02-16 19:01] McCrearyD commented on #1947
when trying to set up my dev environment with hot reload, I'm having a lot of issues... i am running the required versions for pnpm & node, but I am getting this when I run `pnpm start`:

[code]

the only way I can update the extension is if I keep rebuilding it manually.

[2021-02-16 19:02] yisiliu commented on #1947
@Jack-Works can you offer some help here?

[2021-02-16 19:10] McCrearyD commented on #1947
@yisiliu @Jack-Works nevermind! i got it, I just re-cloned and reran `pnpm i` now everything is working :-)

[2021-02-16 19:24] McCrearyD commented on #1947
although, could you point me in the direction for where the steganography output gets put into the post as an image? and also where it reads from this to decrypt it?

[2021-02-17 00:09] McCrearyD commented on #1947
@yisiliu progress update: basically finished, all I need to do is decrypt the image & use a random seed (right now I have a fixed one for testing).

is there a method for finding the image's bytes already in Maskbook? or will i have to figure that out myself?

![Screen Shot 2021-02-16 at 4 08 01 PM](https://user-images.githubusercontent.com/26421036/108137655-2dfb6e80-7071-11eb-9592-f003800e7887.p

[2021-02-17 00:50] 7bucher7 opened #2411 "[Crash] NotFoundError: Failed to execute 'insertBefore' on 'Node': The node before which the new node i..."
I was ________, then Mask report an error.

Error stack:
<pre>Error: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.
    at dj (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.react-dom.js:305:93)
    at dj (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.react-dom.js:305:168)
    at bj (chrome-exte

[2021-02-17 06:53] Jack-Works commented on #2411
interesting problem @7bucher7 can you tell us what you're doing leads to the crash? that may help, thanks

[2021-02-17 06:59] Jack-Works commented on #1947
what is that mean?

[2021-02-17 07:25] McCrearyD commented on #1947
@Jack-Works in other words, i was asking if you had in place a way to grab the image element on the DOM & augment it’s data.

[2021-02-18 04:03] #2393 closed

[2021-02-18 05:14] #2401 closed

[2021-02-18 08:29] yisiliu commented on #1947
#2414 I am thinking if you can further hide the orignal photo once decrypted. What do you think? @McCrearyD

[2021-02-18 08:31] McCrearyD commented on #1947
@yisiliu i can do that. you want the encrypted image to be hidden by default but showable when you click a button? or should i just remove/replace the encrypted version altogether?

[2021-02-18 08:32] yisiliu commented on #1947
@McCrearyD I think ideally the former makes sense, e.g. {view original}

[2021-02-18 08:40] McCrearyD commented on #1947
right. also, did you also eventually want this functionality built into facebook in a future issue?

[2021-02-18 08:43] yisiliu commented on #1947
yup but we are not focusing on that right now. Once we are planning on that, or even other platforms like Minds.com or reddit, we will let you know! Thanks

[2021-02-19 07:41] septs opened #2416 "[Task] Update Legal Documents"
## Introduction and Background

Update Legal Documents, add more provider legal document.

## Content

- [ ] Update Maskbook legal documents (e.g: user data policy, etc)
- [ ] Add ArDrive legal documents.
- [ ] Add SashimiSwap legal documents.
- [ ] Add Solana and Serum legal documents.
- [ ] Add Sia Network legal documents.
- [ ] Add Clubhouse on top of Twitter legal documents.

To be continued

[2021-02-19 08:16] septs opened #2417 "[Task] Add ARCHITECTURE.md file on maskbook"
## Introduction and Background

Add architecture design documentation on Maskbook.

Promote Maskbook architecture design pattern to any external developer / contributor / new employee.

## Content

see https://news.ycombinator.com/item?id=26048784

## Referenceable documentation

- https://github.com/ipfs/specs/blob/master/ARCHITECTURE.md
- https://gitlab.com/gitlab-org/gitlab-foss/-/blob/master/d

[2021-02-19 15:31] yisiliu opened #2420 "[Demand] Add infura as fallback for Mask's own ITO"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [x] Other
  - stability

## Part 1: Problem to Solve
In case the ITO attracts too many users, quiknode may not be that reliable so we need a fallback Ethereum RPC. Infura is the best option that comes to my mind.

## Part 2: Expected Behavior
If the query hits 500 or other errors, try

[2021-02-19 18:34] easeev opened #2421 "[Bug] Connecting to MetaMask under My Wallets doesn't work in Brave"
## Bug Report

## Environment

### System

- [x] Windows

  - OS Version: 10

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Brave

  - Mask Version: 1.27.4
  - Browser Version: 1.20.103

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iO

[2021-02-20 01:18] bestony commented on #2375
After the NESHouse, ready to start working on this 😎

[2021-02-20 02:49] Jack-Works commented on #2421
Is it caused by the metamask provider doesn't list the id of the metamask extension on brave? cc @guanbinrui

[2021-02-20 05:54] guanbinrui opened #2422 "[Release] New release 1.28.0 (minor)"

[2021-02-20 09:42] Tedko commented on #2394
any update on this?

[2021-02-20 12:44] guanbinrui commented on #2394
closed by #2398

[2021-02-20 16:16] guanbinrui opened #2428 "[Release] Hotfix 1.27.5 => 1.27.6 (patch)"

[2021-02-20 16:43] #2428 closed

[2021-02-20 16:53] #1832 closed

[2021-02-20 16:53] #1618 closed

[2021-02-20 16:53] #1249 closed

[2021-02-21 09:42] jk234ert opened #2432 "[Demand] Display message to users when waiting for external wallet confirm transaction"
## Catalogue

- [x] UI/UX
- [ ] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

While users using a connected external wallet(Metamask or WalletConnect for now), when users perform operations needed to be signed, our current implementation only displays a loading indicator.

A better UX experience is, displaying another alert dialog

[2021-02-21 10:52] jay-dee7 commented on #2362
@yisiliu I realised that i missed the given google doc link and It has additional requirements in it. Most of it looks fine to me, however I wanted to know if this bounty includes developing an IOS app as well?

[2021-02-21 16:03] iamzubin commented on #2363
bump

[2021-02-21 22:23] #2422 closed

[2021-02-21 22:25] guanbinrui opened #2436 "[Release] Hotfix 1.28.0 => 1.28.1 (patch)"

[2021-02-22 05:08] guanbinrui opened #2442 "[Demand] Snapshot DB before each side-effect operation"
## Catalogue

- [ ] UI/UX
- [x] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2021-02-22 06:01] Jack-Works commented on #2442
only for wallet db?

[2021-02-22 06:05] guanbinrui commented on #2442
Yes, wallet DB is the priority, and we should audit the wallet.ts. All side-effect operations should be verified or rewrite in another no side-effect way if possible.

[2021-02-22 06:19] guanbinrui opened #2444 "[Release] Hotfix 1.28.1 => 1.28.2 (patch)"

[2021-02-22 09:25] #2392 closed

[2021-02-22 09:25] #2394 closed

[2021-02-22 15:03] #2444 closed

[2021-02-22 15:05] guanbinrui opened #2453 "[Release] New release 1.29.0 (minor)"

[2021-02-22 16:22] #2453 closed

[2021-02-22 16:33] guanbinrui opened #2455 "[Release] Hotfix 1.29.0 => 1.29.1 (patch)"

[2021-02-23 08:35] guanbinrui opened #2463 "[Release] Hotfix 1.29.1 => 1.29.2 (patch)"

[2021-02-23 10:37] #2455 closed

[2021-02-23 10:37] #2463 closed

[2021-02-23 10:37] #2436 closed

[2021-02-23 11:52] guanbinrui opened #2470 "[Release] Hotfix 1.29.2 => 1.29.3 (patch)"

[2021-02-23 16:15] ManyRios commented on #2236
![image](https://user-images.githubusercontent.com/34518489/108872649-c1342700-75d0-11eb-9ebc-bc632b1e9918.png)

[2021-02-24 01:04] Jack-Works commented on #1775
The upstream pr has closed

[2021-02-24 13:20] bigzenos opened #2476 "[Crash] TypeError: Cannot read property 'toPrecision' of undefined"
I was *doing something...*, then Mask report an error.

Error stack:

<pre>TypeError: Cannot read property 'toPrecision' of undefined
    at formatCurrency (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/5997.js:52203:69)
    at TrendingViewDeck (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/5997.js:49406:113)
    at Yh (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.r

[2021-02-24 15:08] #1279 closed

[2021-02-24 15:18] guanbinrui opened #2477 "[Release] Hotfix 1.29.2 => 1.29.3 (patch)"

[2021-02-24 15:23] #2470 closed

[2021-02-24 15:24] #2477 closed

[2021-02-24 15:26] guanbinrui opened #2480 "[Release] Hotfix 1.29.3 => 1.29.4 (patch)"

[2021-02-24 16:16] #2480 closed

[2021-02-24 16:16] guanbinrui opened #2483 "[Release] Hotfix 1.29.4 => 1.29.5 (patch)"

[2021-02-24 17:22] jay-dee7 commented on #2362
@gitcoinbot I'm still working on it.

@yisiliu can you please snooze the bot until next week?

[2021-02-24 19:30] iamzubin commented on #2363
bump

[2021-02-25 05:44] guanbinrui opened #2486 "[Release] Hotfix 1.29.5 => 1.29.6 (patch)"

[2021-02-25 05:44] #2483 closed

[2021-02-25 06:04] #2486 closed

[2021-02-25 12:29] guanbinrui opened #2494 "[Release] Hotfix 1.29.6 => 1.29.7 (patch)"

[2021-02-25 13:25] septs commented on #2476
https://github.com/DimensionDev/Maskbook/blob/b268e8dd8aa75fa3ebd49df86d96b97cef8fa32b/packages/maskbook/src/plugins/Trader/UI/trending/TrendingViewDeck.tsx#L278-L283

CC @guanbinrui

[2021-02-26 06:10] #2494 closed

[2021-02-26 06:17] guanbinrui opened #2498 "[Release] Hotfix 1.29.7 => 1.29.8 (patch)"

[2021-02-26 11:29] aahutsal commented on #1722
@yisiliu could you check the email I sent?

[2021-02-26 13:39] venarius commented on #2375
@yisiliu I applied for work. I am halfway done with the PR

[2021-02-26 20:01] #2476 closed

[2021-02-27 01:57] #2498 closed

[2021-02-27 02:18] guanbinrui opened #2505 "[Release] Hotfix 1.29.8 => 1.29.9 (patch)"

[2021-02-28 11:47] iamzubin commented on #2363
bump

[2021-02-28 17:59] McCrearyD commented on #1947
yep, have only 1 change request to fulfill & it's almost complete. reorganized everything to me more react friendly & follow convention

[2021-03-01 02:43] guanbinrui opened #2510 "[Bug] Discord logo in the dark mode"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-01 03:13] #2510 closed

[2021-03-01 04:32] Jack-Works commented on #1947
cool, please @ me when you're ready for review

[2021-03-01 04:34] Tedko commented on #1947
👍👍

On Mon, Mar 1, 2021 at 12:32 Jack Works <notifications@github.com> wrote:

[2021-03-01 08:43] zhouhanseng commented on #2354
close by https://github.com/DimensionDev/Maskbook/pull/2404

[2021-03-01 08:43] #2354 closed

[2021-03-01 10:03] #1976 closed

[2021-03-02 02:27] #2417 closed

[2021-03-03 02:51] Jack-Works opened #2520 "[Draft] A simple message exchanging server"
cc @iamzubin @yisiliu

For the use case of #2363 (unlock protocol), there must have a way to notify the author that someone has subscribed with a certain ETH address. (Therefore the author can verify and share the post key to the author).

This use case is like what we have for the friendship verification mechanism. Originally we choose to use matrix, but the matrix is too heavy and might cause to

[2021-03-03 05:26] Jack-Works opened #2521 "[Demand] Revisit usage of classes pattern"
Currently we're heavily use the pattern:

[code]

But per https://github.com/mui-org/material-ui/issues/25011#issuecomment-789105382 this is not encouraged. We need to revisit this pattern in our codebase.

Now here is the recommended new styles:

[code]

And styled-component style:

[code]

If you need to access the theme:

[code]

Please use styled-components style if possible. Follow our CSS-in

[2021-03-03 08:28] jk234ert opened #2525 "[Bug] Mobile Layout Issues"
- [x] iOS
  - Mask Version:1.29.0
  - iOS Version:1.29.0

### Build Variant

- Where do you get Mask?
  - [ ] Store
  - [x] ZIP
  - [ ] Self-Compiled
    - Build Commit: /_Optionally attach a Commit ID, if it is from an pre-release branch head_/

## Bug Info
- [ ] 1. Grid layout deviates in the dashboard -> wallet:
![IMG_2209](https://user-images.githubusercontent.com/7972003/109775442-79e70f80-7c

[2021-03-03 08:44] jk234ert opened #2526 "[Demand] Ability to open connected external wallet apps on mobile"
## Catalogue

- [x] UI/UX
- [ ] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
There are a lot of operations & transactions that need to be signed, including "Approve", "Claim", "Send" and interactions with the smart contracts. Many users do not have the knowledge that those operations need to

[2021-03-03 23:51] iamzubin commented on #2520
I guess to deal with ddos we can set a limit. (50-100 requests/second )

[2021-03-04 14:55] Jack-Works commented on #2363
So let me try to describe how this might be work:

1. Creator:
        1. Let `content` be the content to be encrypted (input by the creator).
        2. Let `K` be a pair of randomly generated EC keys.
        3. Let `AES` be a random AES key.
        4. Let `encrypted` be `encrypt(content, AES)`
        5. Let `hint` be `encrypt([K.priv, AES], localKey)` (Note: `localKey` is an AES key in Mask.

[2021-03-05 08:02] #2108 closed

[2021-03-05 08:03] septs commented on #2108
partially completed

[2021-03-05 08:12] #1955 closed

[2021-03-05 12:56] #2279 closed

[2021-03-07 08:44] Tedko commented on #859
Not Stale yet

[2021-03-07 20:55] #1906 closed

[2021-03-08 03:40] Jack-Works opened #2534 "[Demand] Revisit SocialNetworkProvider"
For our incoming activities (e.g. #2323) it's better to clean up the interface.

I'll take that.

[2021-03-08 05:03] Jack-Works opened #2535 "[Demand] Build new dashboard on netlify for review"

[2021-03-08 06:27] #2535 closed

[2021-03-09 03:36] guanbinrui opened #2541 "[Release] Hotfix 1.29.9 => 1.29.10 (patch)"

[2021-03-09 04:07] Tedko commented on #2411
yo anyone can reproduce?

[2021-03-09 08:10] iamzubin commented on #2363
Bump

[2021-03-09 20:30] McCrearyD commented on #1947
yes i'm here still, just started a new role though so getting settled in.

[2021-03-09 23:03] thisispalash commented on #2363
Also, the updated bounty quote as per the new requirements with a [rough] time breakdown and payment milestones, as discussed with @iamzubin.

## updated bounty quote [160h &Rightarrow; 6000 USD]

### ideation `10 March` &Rightarrow; 500 USD
 - create protocol for key discovery :: 16h

### server `20 March` &Rightarrow; 2000 USD
 - Create nodes for message broadcasting :: 16h
 - Sync broadcasting

[2021-03-10 03:16] yisiliu commented on #2363
@iamzubin @thisispalash the bounty size is updated. Good luck guys! If you need our help to expedite your development, please let us know. Our team would like to help!

[2021-03-10 03:26] yisiliu opened #2547 "[Bug] Cannot connect to MetaMask on Edge"
# Bug Report

## Environment

### System

- [x] Windows

  - OS Version: 10

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome
- [x] Firefox

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Build Variant

- Where do you get Mask?
  - [x] Store
  - [ ] ZIP
  - [ ] Self-Co

[2021-03-10 09:00] yisiliu opened #2550 "[Bounty] Enabling Partial Encryption"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [ ] Intermediate
  - [x] Advanced
- Category
  - [x] Mask Core Feature
  - [ ] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 3 weeks
- Bounty Size
  - [x] 3000 USD

## Part 1: Problem D

[2021-03-10 09:12] Miaommmisokay opened #2552 "[Bounty] Integrate Conflux in Mask"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [ ] Intermediate
  - [x] Advanced
- Category
  - [x] Mask Core Feature
  - [ ] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 4 weeks
- Bounty Size
  - [x] 10000CFX
## Part 1: Problem De

[2021-03-10 09:17] yisiliu commented on #2552
**Note the bounty is payed out in CFX preferably**

[2021-03-10 11:38] yisiliu opened #2554 "[Bounty] Build your own Dapp with Mask (1st try)"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 3 weeks
- Bounty Size
  - [x] 1000 - 3000 USD + a couple of

[2021-03-10 12:12] Jack-Works commented on #2554
@yisiliu I think we should design the third party plug-in system first

[2021-03-10 12:20] yisiliu commented on #2554
the clock is ticking so we need to work with them while developing it.

[2021-03-10 17:15] jay-dee7 commented on #2362
@gitcoinbot im still working on this

[2021-03-11 05:30] #2017 closed

[2021-03-11 05:30] #2014 closed

[2021-03-11 10:17] Jack-Works commented on #2534
OK now the new design is done and I'm going to enable the new design and removes the old one.

[2021-03-11 15:32] victorZzz0324 commented on #2550
Conflux Network is an open network built to drive the next generation of global commerce by unlocking the decentralized applications and digital assets of tomorrow. Conflux enables the secure and interoperable flow of assets and data across protocols & applications to create an internet of value for all. By integrating Proof of Work into a Tree Graph architecture, Conflux delivers a robust network

[2021-03-11 15:33] victorZzz0324 commented on #2550
This bounty to integrate assets on Conflux which supports EVM into Mask Wallet. These assets includes native token CFX and other  ERC20/ERC1155 tokens on Conflux.

- Resources

https://github.com/DimensionDev/Maskbook
https://confluxnetwork.org/developers/assets
https://developer.conflux-chain.org/
https://confluxscan.io/tokens/erc20
https://confluxscan.io/tokens/erc1155

[2021-03-11 16:59] Tedko opened #2565 "[Bug] gitcoin url parse bug(?)"
## Bug Report

"

On a separate note, I noticed this tweet where we just link the main grants landing page, pops up with a random grants with the plugin. Any idea why this might be happening?
https://twitter.com/gitcoin/status/1370018972700205061?s=20

"

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version

[2021-03-12 02:48] guanbinrui opened #2566 "[Bug] The polls plugin is down"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-12 03:12] yisiliu commented on #2566
We probably need to re-design this feature

[2021-03-12 04:37] #2565 closed

[2021-03-12 04:40] guanbinrui opened #2568 "[Bug] Wrong button style"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-12 05:23] Tedko commented on #2566
which part is down?

[2021-03-12 05:24] Tedko commented on #2421
should we contact MM team for support?

[2021-03-12 05:24] Tedko commented on #2421
btw @zhouhanseng is our PR to MM team been merged?

[2021-03-12 05:26] Tedko commented on #2550
hey maybe wrong issue? -> here u go https://github.com/DimensionDev/Maskbook/issues/2552

[2021-03-12 05:31] zhouhanseng commented on #2421
@Tedko We reported an issue https://github.com/MetaMask/metamask-extension/issues/10368 (not PR) to MM team, they haven't fixed it.

[2021-03-12 06:18] guanbinrui opened #2570 "[Bug] Unable to close the setup dialog"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-12 06:26] #2570 closed

[2021-03-12 10:41] guanbinrui opened #2571 "[Demand] Add NFT assets panel"
## Catalogue

- [x] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Add NFT assets panel into wallet content page. Here is the Graphql API from [opensea](http://opensea.io/).

[code]

[code]
And the original [opensea](https://opensea.io/account) UI.

![image](https://user-images.gi

[2021-03-12 11:14] guanbinrui opened #2572 "[Bug] Failed to transfer ether if use balance as amount"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-12 13:43] #2541 closed, assigned to nobody

[2021-03-12 13:44] guanbinrui opened #2574 "[Release] Hotfix 1.29.10 => 1.29.11 (patch)"

[2021-03-12 14:29] guanbinrui opened #2577 "[Bug] The replacement tweet should follow the original style"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-13 01:04] antonyip commented on #2554
Hello there,

I've stumbled across this from the gitcoin site. Bounty looking interesting :)

Not too sure where to start asking questions on how to start developing plugins for mask.. please re-direct me to the right direction.

Basically I would like to know an overview on how to setup a dev system so that I could start implementing a plugin on twitter on mask, I'm assuming the code that I write

[2021-03-13 08:32] guanbinrui opened #2578 "[Demand] Integration Zerion API"
## Catalogue

- [ ] UI/UX
- [x] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

The API documentation link: https://docs.zerion.io/zerion-api

What do those APIs can be built into Mask?

+ subscribe assets list
+ subscribe  transaction list

## Part 2: Problem to Solve

Add another Defi data s

[2021-03-13 17:16] iamzubin commented on #2363
Bump

[2021-03-14 05:40] #1054 closed

[2021-03-14 05:40] #1129 closed

[2021-03-14 05:40] #1088 closed

[2021-03-14 05:40] #1139 closed

[2021-03-14 05:40] #1360 closed

[2021-03-14 05:41] #1254 closed

[2021-03-14 05:41] #1538 closed

[2021-03-14 10:18] yuandan9 opened #2580 "[Crash] NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
I was *doing something...*, then Mask report an error.

Error stack:

<pre>Error: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.
    at Gj (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.react-dom.js:317:80)
    at Qj (chrome-extension://jkoeaghipilijlahjplgbfiocjhldnap/js/npm.react-dom.js:322:112)
    at Ik (chrome-extension://jkoeaghipi

[2021-03-14 11:39] septs commented on #2580
https://github.com/DimensionDev/Maskbook/blob/e64f44372a6af43d3c0499c5d54e58b618506c2f/packages/maskbook/src/utils/shadow-root/usePortalShadowRoot.tsx#L32-L42

[2021-03-14 11:42] Jack-Works commented on #2580
@yuandan9 hi what are you doing when this error appears? In which position it appears?

[2021-03-15 02:30] jk234ert opened #2583 "[Bug] Setup Guide dialog cannot be dismissed on mobile"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [x] Android

  - Mask Version: 1.29.8
  - Android Version: 1.29.8

- [x] iOS
  - Mask Version: 1.29.8
  -

[2021-03-15 03:05] Jack-Works commented on #2554
@antonyip Hello, the basic idea of a third-party plugin is that you build the DApp on an isolated website. And when it is used in Mask, it will have some special global variable for example `mask.setPluginMeta({ ... })`

[2021-03-15 03:19] Jack-Works commented on #2583
ACK. I'll revisit this change

[2021-03-15 03:25] guanbinrui opened #2586 "[Demand] Custody NFT tokens"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

+ [x] Add NFT token #2587
+ [ ] Hide NFT token
+ [ ] Transfer NFT token
+ [ ] Sell NFT token

### Screenshots from ERC20 panel

![image](https://user-images.githubusercontent.com/52657989/111124380-6d06dc00-85ab-11

[2021-03-15 03:25] guanbinrui opened #2587 "[Demand] Add new NFT token"
## Catalogue

- [ ] UI/UX
- [x] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Here is the screenshot from MetaMask.

![1831615779023_ pic_hd](https://user-images.githubusercontent.com/52657989/111100065-de319980-8581-11eb-87a6-5d3a8a73ee7d.jpg)

## Part 2: Problem to Solve

## Part 3: Expect

[2021-03-15 04:43] jk234ert opened #2589 "[Bug] Fail to backup database on Android"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [x] Android

  - Mask Version: 1.29.8
  - Android Version: 1.29.8

- [ ] iOS
  - Mask Version:
  - iOS Ve

[2021-03-15 05:07] Jack-Works commented on #2583
Emm I have to say this is very strange. I didn't make any significant change in the commit you mentioned and there is nothing related to the mobile.

[2021-03-15 05:11] #2574 closed

[2021-03-15 05:11] guanbinrui opened #2590 "[Release] Hotfix 1.29.11 => 1.29.12 (patch)"

[2021-03-15 05:23] guanbinrui opened #2593 "[Demand] Use built-in stablecoins list"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

The ERC20 stable coins list is not updated frequently. Let's built it into the plugin as a JSON file instead of fetching remotely.

## Part 2: Problem to Solve

Refactor `useStableTokensDebank` hook to read stable

[2021-03-15 05:27] guanbinrui opened #2594 "[Demand] Add sub-routes for tabs on the Wallet panel"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Keep specific tab activated even though refresh the dashboard page.

![image](https://user-images.githubusercontent.com/52657989/111107586-150fab80-8592-11eb-902f-9c6d150ed6f6.png)

## Part 2: Problem to Solve

##

[2021-03-15 07:43] #2571 closed

[2021-03-15 08:02] guanbinrui opened #2598 "[Demand] NFT fallback image"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

![image](https://user-images.githubusercontent.com/52657989/111121606-d71d8200-85a7-11eb-80e0-8e719137a51c.png)

## Part 2: Problem to Solve

## Part 3: Expected Behavior
![image](https://user-images.githubusercont

[2021-03-15 08:11] yisiliu opened #2599 "[Bounty] Display v.cent current bid price of the tweet directly on Twitter"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [x] Beginner
  - [ ] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 1 week
- Bounty Size
  - [x] 500 USD + 500 USD matched by Ce

[2021-03-15 08:26] yisiliu commented on #2554
@antonyip I think this is a good idea to start with and yeah the time is quite short so we are not expecting a complicated plugin either. Are you planning to build it on top of Ethereum or completely nothing related to blockchain? And yes @Jack-Works will help you set up a few things to start with to ease your confusions and efforts.

[2021-03-15 08:46] antonyip commented on #2554
@yisiliu I've played around with the mask.io plugin on the system. I guess the simplest solution to this would be as such..
Say 3 persons in the game, player 1 is the host.

Player 1 enters 3 names into a UI box, 1 box for each name
Player 1 presses the Go Button
System Randomizes names and does some mapping
1->3 (Player 1 needs to give a gift to Player 3)
2->1
3->2
System Sends 3 twitter messages

[2021-03-15 13:46] yisiliu opened #2602 "[Bounty] Integrate NEAR wallet into Mask"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [ ] Intermediate
  - [x] Advanced
- Category
  - [ ] Mask Core Feature
  - [ ] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [x] Other
    - [x] Cryptocurrency Wallet
- Time Commitment
  - [x] 4 weeks
- Bounty Size
  - [x] 5000 USD

## Part 1: Prob

[2021-03-15 22:42] McCrearyD commented on #1947
still here, haven't forgotten about it. waiting for a block of time to allocate for this

[2021-03-15 22:43] McCrearyD commented on #1947
is there a way you can snooze the reminder for like 10 days? sorry for taking so long, i didn't anticipate i would get hired before i finished this bounty.

[2021-03-15 23:11] spiritbro1 commented on #2236
![image](https://user-images.githubusercontent.com/62529025/111232524-d7f0fb00-861d-11eb-942e-a6e29cf671ca.png)

hello the discord server is invalid, also want to ask, because the problem is changing the header of the twitter, that means that it only work for browser extension of this mask right? because the mobile version can't change the twitter header as far as i know, if the mobile version can

[2021-03-16 04:06] yisiliu commented on #2599
@mountvase hey man can you come up with a plan or something here?

[2021-03-16 04:08] yisiliu commented on #2236
@spiritbro1 hey man please join with this [link](https://discord.gg/4Xccj7a75Q). For now, I only want you to explore the possibility within the browser extension scope. We do have mobile apps on both iOS and Android but let's just focus on the browser first. Thanks!

[2021-03-16 04:25] spiritbro1 commented on #2236
@yisiliu wow thank you for the reply i will try to implement that on browser extension then, and want to ask again in discord theres so many channel where should i ask for this particular issue?

[2021-03-16 04:52] yisiliu commented on #2236
@spiritbro1 haha right that was annoying. Please find me in #bounties lol

[2021-03-16 07:07] #2598 closed

[2021-03-16 07:08] #2590 closed

[2021-03-16 07:08] guanbinrui opened #2604 "[Release] Hotfix 1.29.12 => 1.29.13 (patch)"

[2021-03-16 08:16] yisiliu opened #2608 "[Bounty] Now that assets on opensea can directly display on Twitter, why not buy or sell it too?"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 2 weeks
- Bounty Size
  - [x] 1000 USD

## Part 1: Problem D

[2021-03-16 08:21] yisiliu commented on #2608
@sounak98 finally do you want to work on it?

[2021-03-16 08:22] sounak98 commented on #2608
Yeah sure, would love to work on it.

[2021-03-16 08:28] MountVase commented on #2599
Yeah, sure!

[] First get familiar with the codebase, figure out how to render something simple on each twitter card.

[] Fetch V.Cent data for each card (twitter status), see if viable.

[] Create Component (/Plugin), style UI.

[2021-03-16 09:08] yisiliu commented on #2599
Thanks a lot! Regarding the UI, I will consult with our designer @xiazhiming if he has anything in mind.
Also, from the Valuables team:

[code]

Let me know if you need anything else from us and good luck!

[2021-03-16 10:36] Jack-Works commented on #2589
this is strange. is it possible to be a geckoview bug?

[2021-03-16 10:37] Jack-Works commented on #2554
How would you like to communicate with those three people without a server?

[2021-03-16 11:30] Shr1ftyy commented on #2599
Gotta go F A S T

[2021-03-17 01:28] jay-dee7 commented on #2362
@gitcoinbot im still working on this

[2021-03-17 01:42] guanbinrui opened #2613 "[Demand] Inject a tool box into sidebar"
## Catalogue

- [x] UI/UX
- [ ] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2021-03-17 05:16] jk234ert commented on #2589
Should be an Android side bug that fails to save the backup-ed payload into device's local storage

[2021-03-17 07:29] jk234ert commented on #2589
Fixed on Android side

[2021-03-17 07:29] #2589 closed

[2021-03-17 12:02] #2505 closed

[2021-03-17 12:03] #2307 closed

[2021-03-17 12:03] #2442 closed

[2021-03-17 16:16] iamzubin commented on #2363
bump

[2021-03-18 03:05] Jack-Works commented on #2534
closed by #2601

[2021-03-18 03:05] #2534 closed

[2021-03-18 03:55] Jack-Works commented on #2554
I'd like to give a brief spec of this later. I'll add a new PR for the spec. Please anyone interested follow and review the spec PR.

[2021-03-18 03:59] Jack-Works commented on #2550
@yisiliu Maybe we should rename/split this bounty. As we discussed before, we may split this into the following parts:

- Parser (parse the SNS native post into a TypedMessage)
- Editor (a rich (?) editor that can create a TypedMessage)
- Transformer pipe (a TypedMessage piped through all transformers and becomes the output)
- Renderer (Render the TypedMessage)

I'd like to give a brief spec of th

[2021-03-18 04:02] yisiliu commented on #2550
Yes it makes sense after we have these components ready but I will leave it here and create another one in the component development. Also, as we discussed, is markdown fit for our requirements? We can build upon it to ease our efforts and users' confusions.

[2021-03-18 07:05] Jack-Works commented on #2550
Well, I don't think mapping to markdown is a good idea.

[2021-03-18 09:49] Jack-Works commented on #2554
hello guys RFC is here https://github.com/DimensionDev/Maskbook/pull/2621

[2021-03-18 13:05] xiazhiming commented on #2599
here's the [figma link](https://www.figma.com/file/gVkQ67y285b4FXVV1KPThN/Twitter?node-id=8915%3A114) for reference on how we would like it to be displayed. Let me know if you have any questions.

![image](https://user-images.githubusercontent.com/29635388/111630741-9fc00700-882d-11eb-8365-2ac1c077279a.png)

[2021-03-18 13:55] iamochuko commented on #2599
@yisiliu @Jack-Works Hello, regarding implementation; aside this https://v.cent.co/data/tweet-txn/latest?tweetID=<TWEETID> api; I was expecting some docs link. OR any other supporting DETAIL?

[2021-03-18 21:15] Shr1ftyy commented on #2599
This is helpful, thank you.

On Thu, Mar 18, 2021 at 11:35 PM ming ***@***.***> wrote:

[2021-03-19 02:51] yisiliu commented on #2599
@iamochuko @Shr1ftyy hey guys @MountVase has submitted a PR on this and I think his implementation seems pretty solid. If you haven't started, please consider working on something else.

[2021-03-19 04:01] Shr1ftyy commented on #2599
aight, thanks for the heads up.

On Fri, Mar 19, 2021 at 1:21 PM Yisi Liu ***@***.***> wrote:

[2021-03-19 05:47] iamochuko commented on #2599
Oh, nice one. Thanks.

[2021-03-19 05:59] yisiliu commented on #2599
but guys feel free to work on other ones if you'd be interested ;)_

[2021-03-19 07:28] guanbinrui opened #2624 "[Demand] Support ERC-1155 tokens"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

+ Able to add ERC-1155 tokens.
+ Able to transfer ERC-1155 tokens.

## Part 3: Expected Behavior

## Notes

[2021-03-19 17:02] Tedko opened #2626 "[Crash] Error: Invalid Username （strange bug with red package)"
https://twitter.com/suji_yan/status/1221326164213452801

<img width="1217" alt="Screen Shot 2021-03-20 at 00 59 40" src="https://user-images.githubusercontent.com/6687437/111816412-c78b9980-8917-11eb-96e0-83bd411c546d.png">

I was *doing something...*, then Mask report an error.

Error stack:

<pre>Error: Invalid Username
    at getPostUrlAtTwitter (chrome-extension://jkoeaghipilijlahjplgbfiocjhld

[2021-03-19 17:04] Tedko commented on #2626
strange bug. introduced in our recent ver? @guanbinrui @Jack-Works @zhouhanseng

[2021-03-19 17:08] Tedko commented on #2578
will talk to zerion team about api integration

[2021-03-19 17:08] Tedko commented on #2566
sup . should we make this into a bounty?

[2021-03-19 17:12] Tedko opened #2627 "[Bug] Election NFT plugin down?"
## Bug Report

<img width="1217" alt="Screen Shot 2021-03-20 at 01 06 21" src="https://user-images.githubusercontent.com/6687437/111817624-2ef61900-8919-11eb-846b-97fc5d84e904.png">

https://twitter.com/realmaskbook/status/1328162010366840832

**Make sure to add this into the test routine next time**

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [

[2021-03-19 17:12] Tedko commented on #2547
is this a bug related with MM side or Brave/Edge side?

[2021-03-20 01:41] guanbinrui commented on #2627
It was removed.

[2021-03-20 13:13] mimikun opened #2629 "[Bug] Duplicate banners when first opening page on Twitter"
## Bug Report

## Environment

### System

- [x] Windows

  - OS Version: Windows 10 [Version 10.0.19041.867]

### Platform/Browser

- [x] Vivaldi(Chromium based browser)

  - Mask Version: v1.29.12
  - Browser Version: 3.7.2218.45 (Stable channel) (64-bit)

### Build Variant

- Where do you get Mask?
  - [x] Store
  - [ ] ZIP
  - [ ] Self-Compiled
    - Build Commit: /_Optionally attach a Commit

[2021-03-22 00:20] guanbinrui opened #2630 "[Bug] Fail to restore the DB backup"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-22 01:50] guanbinrui commented on #2566
Unable to send the poll. It stops at the sending phase.

[2021-03-22 02:38] guanbinrui opened #2631 "[Bug] Unable to view trending of $BNB $BTC etc."
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-22 03:19] guanbinrui opened #2633 "[Bug] The MetaMask reconnection problem"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-22 03:20] yisiliu opened #2634 "[Bug] DODO link in the exchange tab is wrongly parsed"
## Bug Report

## Environment

### System

- [x] Windows
- [x] Mac OS X
- [x] Linux

### Platform/Browser

- [x] Chrome
- [x] Firefox
- [x] Android
- [x] iOS

### Build Variant

- Where do you get Mask?
  - [x] Store
  - [ ] ZIP
  - [ ] Self-Compiled
    - Build Commit: /_Optionally attach a Commit ID, if it is from an pre-release branch head_/

## Bug Info
The Dodo link returned by CMC under the

[2021-03-22 03:22] guanbinrui opened #2635 "[Bug] Mask Network does not response to MetaMask accounts switching on the SNS site"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-22 03:48] guanbinrui commented on #2626
![image](https://user-images.githubusercontent.com/52657989/111938243-86a4a800-8b04-11eb-888e-69628e169bc5.png)

[2021-03-22 03:50] #2566 closed

[2021-03-22 04:14] guanbinrui commented on #2626
@zhouhanseng Take a look?

[2021-03-22 04:29] guanbinrui opened #2636 "[Bug] The transfer dialog could be closed if the transaction hash was created"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-22 04:53] #1983 closed

[2021-03-22 08:23] Tedko commented on #2627
ok

[2021-03-22 12:32] zhouhanseng commented on #2626
Close by https://github.com/DimensionDev/Maskbook/pull/2605/commits/2a24778dfc19618579520bc18852762e4be8be79

Remove the unexpected date from userId.

[2021-03-23 02:12] #2631 closed

[2021-03-23 02:49] sevak-crypto opened #2641 "PopUp does not let me type"
Im on Windows 10, chrome, downloaded from store.
![Screenshot (150)](https://user-images.githubusercontent.com/78248595/112085250-c8a70b80-8b4f-11eb-8329-ce9a5482d080.png)

I had changed 11 files in the Social Network adaptor (base.ts, index.ts, shared.ts, ui-provider.ts, worker-provider.ts, created a new file called identity-provider, Ui.ts, SetupGuide.tsx, types.ts, post.ts

[2021-03-23 03:31] StellaCODING opened #2643 "[Bug] Duplicate processes of creating a wallet."
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:Mask Network (Beta)
1.29.13
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Versio

[2021-03-23 03:39] guanbinrui commented on #2643
They are not duplicate but serve different purposes.

[2021-03-23 04:41] Tedko commented on #2627
will put back by binrui soon

[2021-03-23 05:20] #2626 closed

[2021-03-23 07:31] #2594 closed

[2021-03-23 08:16] qinghuii opened #2645 "[Bounty] Integrate Quickswap into Mask"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [ ] Mask Core Feature
  - [x] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 2 weeks
- Bounty Size
  - [x] 1000 USD

## Part 1: Problem D

[2021-03-23 09:46] developerfred commented on #2645
@yisiliu I have a question about the provider, whether I updated Walletconnect and metamask or just WEB3?
ref: https://docs.matic.network/docs/develop/key-management/walletconnect/

[2021-03-23 09:51] yisiliu commented on #2645
@developerfred in the first stage I'd prefer to only support Walletconnect plus memtamask support, not our internal wallet.

[2021-03-23 11:33] developerfred commented on #2645
@yisiliu thanks!

[2021-03-23 15:09] MysticRyuujin commented on #2645
This should be Sushi Swap...which is also on Matic...

[2021-03-23 16:48] iamzubin commented on #2363
Bump :3

[2021-03-23 22:56] guanbinrui opened #2648 "[Demand] Non-blocking transaction dialog"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

+ Store and retrieve transactions from the local DB.
+ Present a in blocking dialog if any transaction is going to be mined.
+ Bind a specific payload with

[2021-03-24 00:13] guanbinrui opened #2649 "[Demand] Add pagination for collectible list"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

+ Add pagination if collectibles more than one page.
+ List all page numbers if the total count of collectibles is available. Otherwise, just provider prev

[2021-03-24 00:15] guanbinrui opened #2650 "[Demand] Add pagination for transaction list"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

+ Add pagination if transactions more than one page.
+ List all page numbers if the total count of transactions is available. Otherwise, just provider prev

[2021-03-24 03:03] guanbinrui opened #2651 "[Demand] Introduce Collectible Plugin"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

For now, the NFT plugin supports recognize NFT assets by parsing an OpenSea link. We may extend this feature to support various links from different platforms like Rarible and SuperRare. Also, we may provide the us

[2021-03-24 03:13] yisiliu commented on #2651
@sounak98 hey we want to ship #2608 asap and would like to sync with you if you have started. If not, we will take over that bounty or we can collaborate on this feature together. Let me know! Thanks

[2021-03-24 04:32] yisiliu commented on #2645
Is suhiswap also on matic? I guess you were referring to [this](https://cointelegraph.com/news/all-you-can-eat-sushiswap-deploys-contracts-on-five-new-networks) right?

[2021-03-24 04:38] Jack-Works opened #2655 "[Release] major to test the release PR can still be created"

[2021-03-24 04:38] #2655 closed

[2021-03-24 04:39] Jack-Works opened #2656 "[Release] New release 2.0.0 (major)"

[2021-03-24 04:39] #2656 closed

[2021-03-24 04:49] Jack-Works commented on #2650
The correct URL is https://next.material-ui.com/components/pagination/

[2021-03-24 04:51] Jack-Works commented on #2648
Yes, we need a transaction queue on the background page. It should be a per-wallet address queue. Is it possible to make this kind of queue for external wallet like MetaMask?

[2021-03-24 05:16] #2641 closed

[2021-03-24 07:11] guanbinrui opened #2658 "[Release] Hotfix 1.29.13 => 1.29.14 (patch)"

[2021-03-24 07:11] #2604 closed

[2021-03-24 12:21] guanbinrui opened #2661 "[Demand] Restore wallet from keystore JSON file"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Restore the Ethereum wallet from a JSON key store file.

### Steps

+ Step 1: Read a JSON file.
+ Step 2: Validate the content with key store JSON schema. If failed then throw an error.
+ Step 3: Use lib to restore

[2021-03-24 15:04] MysticRyuujin commented on #2645
Yes, if you go to exchange.sushi.com and connect to a Matic RPC endpoint, it works perfectly fine, same as QuickSwap.

[2021-03-24 22:57] septs commented on #2661
json schema

[code]

[2021-03-25 02:37] yisiliu commented on #2363
@iamzubin hey do you guys have any updates?

[2021-03-25 02:54] guanbinrui opened #2662 "[Demand] Backup wallet as JSON key store file"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

+ [keythereum](https://github.com/ethereumjs/keythereum)

[2021-03-25 03:25] #2613 closed

[2021-03-25 05:10] McCrearyD commented on #1947
yes, i'm still here. i'm sorry this is taking so long, once again. :/

[2021-03-25 06:32] McCrearyD commented on #1947
update: i just fixed decryption & `DefaultTypedMessageImageRenderer` so i can resolve one of the review requests. i have to now fix the reveal button & then handle the refactor.

[2021-03-25 06:34] #2636 closed

[2021-03-25 07:45] #2578 closed

[2021-03-25 07:46] guanbinrui commented on #2252
Replaced by #2578.

[2021-03-25 07:46] #2252 closed

[2021-03-25 07:47] guanbinrui commented on #2117
This feature has shipped.

[2021-03-25 07:47] #2117 closed

[2021-03-25 07:51] zhouhanseng opened #2663 "[Demand] A new separate swap dialog"
## Catalogue

- [x] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Now swap function is integrated with `<TrendingCard />`.

## Part 2: Problem to Solve

+ To use `<InjectedDialog />` wraps the `<Trader />` component. Make a component like `<TraderDialog />`.
+ Made `<TraderDialog

[2021-03-25 11:05] septs commented on #2661
[code]

[2021-03-25 15:03] developerfred commented on #2602
@gitcoinbot I'm working <3

[2021-03-25 15:16] #2586 closed

[2021-03-25 15:16] #2587 closed

[2021-03-25 18:47] Tedko commented on #2608
@sounak98 hi https://github.com/DimensionDev/Maskbook/issues/2651#issuecomment-805454116

[2021-03-25 18:52] sounak98 commented on #2651
Hey, sorry for the late reply. I had started some initial work but I had to pause the work as something urgent came up. I will be able to resume working on it by this weekend. Let me know if that sounds good.

[2021-03-25 19:01] Tedko commented on #2363
also cc @thisispalash

[2021-03-25 19:02] Tedko opened #2666 "[Bug] NFT display UX layout buggy on mobile"
## Bug Report
![IMG_9753](https://user-images.githubusercontent.com/6687437/112528893-a62b2180-8ddf-11eb-9c7b-acfc36af8e93.PNG)

Buggy UX layout

![IMG_9752](https://user-images.githubusercontent.com/6687437/112528931-ad522f80-8ddf-11eb-9e97-4aab71e85b66.PNG)

examples from rainbow wallet

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  -

[2021-03-25 19:16] Tedko commented on #2599
hi @xiazhiming sth from my end: should we also follow the `idea market` design guide so - you need to hover somewhere to trigger this functionalities? Or this might be little bit annoying.

Also cc @MountVase - what do you think. we can just add a `v.cent.co` icon and hover to trigger bid price

[2021-03-25 19:27] Tedko commented on #2651
cc @yisiliu

[2021-03-25 19:31] Tedko commented on #2651
Hi guys @yisiliu @guanbinrui @sounak98 one more thing.

For now if I send a link within `mask post` (aka cyber test or image-payload) we can render the opensea NFT and also play around with it
https://twitter.com/suji_yan/status/1375167910633644032?s=20

However in most case ppl will just send the link of opensea/rarible right? like this  https://twitter.com/suji_yan/status/1375167961724424193?s=2

[2021-03-25 22:31] iamzubin commented on #2363
Hey,
yeah there's been some delay.
We're working on it.

[2021-03-26 01:16] guanbinrui commented on #2651
Yes, We can do the same thing as the Gitcoin plugin.

[2021-03-26 02:56] yisiliu commented on #2651
this is one of the two goals in #2608

[2021-03-26 02:58] yisiliu commented on #2651
I think that matches our timeline but you should definitely check the status with @guanbinrui when starting working on this bounty. cheers 🍻 !

[2021-03-26 03:15] guanbinrui opened #2667 "[Demand] Add transaction filter options"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Let's add some transaction filter options in the transaction list.

+ All Transactions - includes all transactions
+ Sent Transactions - includes transactions which sent by the current account.
+ Received Transacti

[2021-03-26 07:14] guanbinrui opened #2670 "[Demand] Remove toolbar on twitter"
## Catalogue

- [ ] UI/UX
- [x] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Remove the toolbar on Twitter. We don't need it anymore.

![image](https://user-images.githubusercontent.com/52657989/112596800-42d4da00-8e47-11eb-9646-185a9a8447ca.png)

## Part 2: Problem to Solve

## Part 3: Exp

[2021-03-26 07:20] guanbinrui opened #2671 "[Bug] Improve toolbox on Twitter"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-26 07:38] guanbinrui opened #2672 "[Bug] Move "Allow isolated dashboard to connect" to Advanced Settings"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-26 07:41] guanbinrui opened #2673 "[Bug] Hide the expand button if nothing to view in expanded mode"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-26 07:52] guanbinrui opened #2674 "[Demand] Add plugins management page on the dashboard"
## Catalogue

- [ ] UI/UX
- [x] Mask Core Feature
- [ ] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

For now, Mask Network has got many plugins built-in. All plugins were enabled by default. We need a dashboard page for plugins which installed. Some features will be nice to have:

+ Listing all installed plugins o

[2021-03-26 10:29] Tedko commented on #2671
niubi

[2021-03-26 13:41] Jack-Works commented on #2674
@guanbinrui Hi please don't be too hurry on this. I'm working on third-party plugin now.

[2021-03-26 14:00] guanbinrui opened #2677 "[Bug] Add refresh button for trending graph"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-26 20:37] thisispalash commented on #2363
Hi,

I apologise for the lack in communication, my schoolwork piled up significantly. We should be on track to finish up by next weekend (ie, by Apr 4) instead of Mar 31.

Presently we are working in parallel with @iamzubin handling the client side features and me handling the web socket server. For the server specifically, I need to implement a Trie to store the UUIDs of the channels (and address

[2021-03-27 00:15] leckylao opened #2678 "[Bounty] Integrate dHEDGE in Mask"
### Prize Title
Integrate dHEDGE in Mask plugin

### Prize Bounty
5000 USDC

## Part 1: Problem Description
### Background
On one side there's many KOL/Managers on twitter, and on the other side there's many pools on dHEDGE and we would like to find a way to link it together:
Twit: https://twitter.com/dHedgeOrg/status/1375554472345174016
KOL/Manager: https://twitter.com/PerceptronCap
Pool: https:/

[2021-03-27 00:28] septs commented on #2678
CC @yisiliu @Tedko

[2021-03-27 02:42] guanbinrui opened #2679 "[Bug] Detect minimum swap value by the trader plugin"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

+ Refactor [validateMessage](https://github.com/DimensionDev/Maskbook/blob/418df6934e810d55bde96e1384310e71f8a04e28/packages/maskbook/src/plugins/Trader/UI/trader/TradeForm.tsx#L218) to be able to validate trade am

[2021-03-28 08:00] yisiliu commented on #2363
@thisispalash thanks for syncing with us and you guys are totally fine but please do let us know if you need any help since we would like to prioritize this feature in our plan. @julien51 what do you think?

[2021-03-28 10:18] guanbinrui opened #2680 "[Bug] Persona permission has broken from legacy DB backup"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Mask Version:
  - Browser Version:

- [ ] Firefox

  - Mask Version:
  - Browser Version:

- [ ] Android

  - Mask Version:
  - Android Version:

- [ ] iOS
  - Mask Version:
  - iOS Version:

### Bu

[2021-03-28 14:16] #2670 closed

[2021-03-28 15:16] julien51 commented on #2363
Works for me! Please do let me know if you get stuck...

[2021-03-29 01:10] guanbinrui commented on #2672
Closed by #2676.

[2021-03-29 01:10] #2672 closed

[2021-03-29 02:41] guanbinrui opened #2684 "[Demand] Read collectible token from link or customized payload"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature (Collectible)
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

For any link represents a collectible on Twitter. It's reasonable to read token information from it. Here is a list example links from digital asset marketplaces and crypto projects.

| Provider or Po

[2021-03-29 02:44] guanbinrui opened #2685 "[Demand] Implement Offers Tab (Collectible)"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature (Collectible)
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Render price offers as a table in the Offers tab.

![image](https://user-images.githubusercontent.com/52657989/112798915-31d2d580-90a0-11eb-8e27-214d53780a90.png)

### Accept Offer

+ If no wallet is

[2021-03-29 02:45] guanbinrui opened #2686 "[Demand] Implement Listing Tab (Collectible)"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature (Collectible)
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Render orders as a table in the Listing tab.

### Create Order

+ If no wallet is connected, then it presents a `Connect Wallet` button.
+ If the connected wallet is the collectible owner, then render

[2021-03-29 02:45] guanbinrui opened #2687 "[Demand] Implement Details Tab (Collectible)"
## Catalogue

- [ ] UI/UX
- [ ] Mask Core Feature
- [x] Mask Plugin Feature (Collectible)
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Render all of the read-only information of a given collectible.

![image](https://user-images.githubusercontent.com/52657989/112807992-191bed00-90ab-11eb-9aa4-404c21368e3d.png)

## Part 2: Problem to