[2020-06-08 12:03] Tedko commented on #1179
I need this feature go live by Wed this week on Testflight etc on iOS.

[2020-06-08 12:14] Tedko commented on #1024
Will close this for now and leave all to #1158

[2020-06-08 12:14] #1024 closed

[2020-06-08 12:20] Tedko opened #1181 "[Bug] Should not pop up `auto-paste` alert for img-payload"
# Bug Report

![IMG_1485](https://user-images.githubusercontent.com/6687437/84029612-420cad80-a9c5-11ea-80aa-3175a7c6c265.png)

There's no need to pop up `auto-paste` alert for img-payload. User have no way to manually copy-paste it. Just leave a `auto-paste img payload func down` alert is good enough.

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

##

[2020-06-08 12:27] septs commented on #1139
- [x] @clearloop some known issues have been cleared
- [ ] not started any ui design and logic design

CC @neruthes @OiCkilL

[2020-06-08 12:35] Tedko commented on #1100
any update?

[2020-06-08 12:53] Jack-Works opened #1182 "[Task] Iterate decryptFrom in the background and cache it"
Note to self

[2020-06-08 13:31] Tedko commented on #1140
is this part done already @guanbinrui ?

[2020-06-09 05:06] Jack-Works commented on #1181
https://github.com/DimensionDev/Maskbook/commit/2008f5517bd715e7e1aa793892ea0c6c38871430

IMO this feature is already disabled on the mobile 🤔

[2020-06-09 12:31] neruthes commented on #1181
Such strange 🤔

[2020-06-09 12:34] Tedko commented on #1181
Not disabled on mobile with yesterday’s latest update on google play. Will
test again

On Tue, Jun 9, 2020 at 20:31 Neruthes 0x5200DF38 <notifications@github.com>
wrote:

[2020-06-09 14:55] Tedko commented on #1181
@Jack-Works i mean this fallback logic should be removed (not only on mobile)

[2020-06-09 14:58] Tedko commented on #1158
tested on Version 1.10.21 on chrome. Not fixed yet. Wait for testing new version

[2020-06-09 15:06] Tedko opened #1195 "[Bug] Not able to recognise Gitcoin link on Twitter for Gitcoin Plugin"
# Bug Report
<img width="665" alt="Screen Shot 2020-06-09 at 22 53 35" src="https://user-images.githubusercontent.com/6687437/84165012-be76bd80-aaa5-11ea-9241-cca51215cf03.png">
<img width="1370" alt="Screen Shot 2020-06-09 at 22 53 27" src="https://user-images.githubusercontent.com/6687437/84165025-c2a2db00-aaa5-11ea-994a-a0ff8305bfd3.png">

When posting:
` abc gitcoin.co/abc ` -- twitter will re

[2020-06-09 15:10] Tedko commented on #1195
also this is not intended to support fb now right?

[2020-06-09 15:24] Jack-Works commented on #1181
Sound reasonable

[2020-06-10 05:15] Jack-Works commented on #1195
The link becomes "https://t.co/seaSWzt0Ad?amp=1". I think we need a way to restore the original from it.

[2020-06-10 05:18] Jack-Works commented on #1195
[code]

LGTM

[2020-06-10 07:26] Jack-Works commented on #1140
Then they can block this https://bit.ly/2X3nGZi

[2020-06-10 09:28] neruthes commented on #1057
# Landing Page UX

## Introduction

## Case: Basic

A file type indicator icon is presented.

![IMG_2369](https://user-images.githubusercontent.com/2139261/84250683-de38d080-aafb-11ea-9d8e-e106ee39fa02.JPG)

## Case: Previewable Content

There will be a preview box if the file satisfies the following criteria:

- Content-Type is text/plain, image/png, image/jpeg, image/svg, image/webp
- The file s

[2020-06-11 04:09] neruthes opened #1198 "[Demand] Firefox Market Compliance: Data Collection Consent Page in Initialization"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

We will add a Data Collection Consent page in Initialization, per the market policy of Firefox market.

## Place

This page shou

[2020-06-11 07:17] #1181 closed

[2020-06-11 09:09] neruthes commented on #1198
![Clipboard - June 11, 2020 9_00 AM](https://user-images.githubusercontent.com/2139261/84366944-15be8000-abc3-11ea-8d34-61d668f6e2cd.png)

Improvement ideas are welcomed and @OiCkilL may particularly have changes to propose.

[2020-06-11 09:13] neruthes commented on #1198
This view can be hidden for compilations other than the edition which is submitted to Firefox store.

[2020-06-12 09:19] Jack-Works opened #1201 "[Task] Simplify the usage of dialogs (in codebase)?"

[2020-06-12 14:11] #996 closed

[2020-06-12 14:11] #1198 closed

[2020-06-12 14:15] guanbinrui opened #1202 "Hotfix 1.10.21 => 1.10.22"

[2020-06-12 14:16] #1202 closed

[2020-06-12 14:18] guanbinrui opened #1205 "New release 1.11.0"

[2020-06-12 14:21] Jack-Works commented on #1195
closed by https://github.com/DimensionDev/Maskbook/pull/1200

[2020-06-12 14:21] #1195 closed

[2020-06-12 15:07] Jack-Works opened #1207 "[Bug] Firefox: requesting `chrome://*` permission leads to error"
<img width="1130" alt="ff-permission-error" src="https://user-images.githubusercontent.com/52657989/84517312-b2873780-ad01-11ea-92ba-0fdafb4fdd43.png">

[2020-06-12 15:07] Jack-Works opened #1208 "[Bug] Auto paste for twitter doesnt work on Firefox"

[2020-06-12 15:11] #1205 closed

[2020-06-12 16:33] Tedko commented on #1179
any updates

[2020-06-12 16:43] Tedko opened #1209 "[Bug] iOS Maskbook db backup func down"
# Bug Report
![IMG_7209 PNG](https://user-images.githubusercontent.com/6687437/84525778-cbe2b080-ad0e-11ea-9193-d224442f619a.jpeg)

not tested on android yet

latest App store ver
## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally at

[2020-06-12 16:45] Tedko commented on #1139
@septs so @clearloop part is done already?

[2020-06-12 16:47] Tedko commented on #1115
any update on this one?

[2020-06-12 16:56] #1140 closed

[2020-06-12 17:14] Tedko opened #1210 "Better hinting color for URLs in Encrypted post"
# Bug Report

![image](https://user-images.githubusercontent.com/6687437/84528965-37c71800-ad13-11ea-826a-9522b177b664.png)
![image](https://user-images.githubusercontent.com/6687437/84528977-3b5a9f00-ad13-11ea-8170-865a8380e52b.png)

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZI

[2020-06-12 17:53] neruthes commented on #1210
Yes the font-size can be slightly larger when the text is short enough. It is a good practice employed by Facebook. And each SNS may have its predefined colors for links. We may want to have a site-specific strategy for managing these behaviors.

[2020-06-13 09:02] Tedko commented on #1210
note that the current link hinting dont contain underscore

[2020-06-13 09:06] Tedko opened #1211 "[Bug] hot fix UX bug"
# Bug Report

![image](https://user-images.githubusercontent.com/6687437/84564920-0b091400-ad98-11ea-93a2-6a6b472f2129.png)
![image](https://user-images.githubusercontent.com/6687437/84564938-2bd16980-ad98-11ea-8800-cb4c7e08b408.png)

Latest Chrome Store ver

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installatio

[2020-06-13 09:34] guanbinrui opened #1212 "Hotfix 1.11.0 => 1.11.1"

[2020-06-13 09:35] Tedko commented on #1212
z👍

On Sat, Jun 13, 2020 at 17:34 maskbook-maintainer-bot[bot] <
notifications@github.com> wrote:

[2020-06-13 13:00] #1211 closed

[2020-06-14 02:08] #1207 closed

[2020-06-14 05:10] #1115 closed

[2020-06-14 07:43] Tedko opened #1216 "[Bug] When both `Follower` & `Following` of Persona is selected, `Friends` should be auto selected"
# Bug Report

![image](https://user-images.githubusercontent.com/6687437/84587878-95fc1400-ae55-11ea-9367-0a16c771d2dd.png)

 When both `Follower` & `Following` of Persona (on Twitter) is selected, `Friends` should be auto selected (since it's included). This is easier to understand. Feedbacks are welcomed.

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version

[2020-06-15 02:22] yisiliu opened #1217 "Image Encryption in Maskbook"
## Prize Title
Image Encryption in Maskbook

## Prize Bounty
1000 DAI

## Challenge Description
Maskbook is a browser extension that enables users to create encrypted posts on Facebook and Twitter(so far, more to come!). This has been running for almost a year and we want to extend it functionality in this challenge. We only support text post encryption, which encrypts plaintext with an **AES** ke

[2020-06-15 03:44] guanbinrui opened #1218 "[Bug] Cannot decrypt gitcoin link without content"
# Bug Report

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

### Expected Behavior

/* Write the expected behavior here. */

### Actual Behavior

/* Write

[2020-06-15 05:08] guanbinrui opened #1219 "New release 1.12.0"

[2020-06-15 05:15] #1219 closed

[2020-06-15 05:16] guanbinrui opened #1221 "Hotfix 1.11.1 => 1.11.2"

[2020-06-15 05:49] #1221 closed

[2020-06-15 05:50] Jack-Works opened #1224 "Hotfix 1.11.1 => 1.11.2"

[2020-06-15 07:40] Jack-Works commented on #1210
How many chars are considered as "short"?

[2020-06-15 08:44] #1218 closed

[2020-06-15 10:22] Tedko commented on #1212
1.11.1 is released on chrome store

[2020-06-15 10:22] #1212 closed

[2020-06-15 10:24] Tedko opened #1229 "[Bug] Cannot compose encrypted tweet in reply some tweet's dialog"
# Bug Report

https://dimension.chat/group/maskbook?msg=DrrLgZEY46F9TGNMq

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

### Expected Behavior

/* Write

[2020-06-15 10:58] guanbinrui opened #1230 "Hotfix 1.11.1 => 1.11.2"

[2020-06-15 11:03] #1230 closed

[2020-06-15 11:38] #1229 closed

[2020-06-15 13:12] Tedko commented on #1158
Tested Version 1.11.1. Comment autopaste is fixed, so is image payload

<img width="675" alt="Screen Shot 2020-06-15 at 21 12 17" src="https://user-images.githubusercontent.com/6687437/84661448-f28e2a80-af4c-11ea-807d-e71423b6833e.png">

[2020-06-15 13:12] #1158 closed

[2020-06-15 13:15] guanbinrui opened #1233 "[Bug] Should prevent default behavior when clicking the donate button"
# Bug Report

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

### Expected Behavior

/* Write the expected behavior here. */

### Actual Behavior

/* Write

[2020-06-15 13:15] guanbinrui opened #1234 "Hotfix 1.11.3 => 1.11.4"
+ [x] #1233
+ [x] #1246
+ [x] #1247
+ [x] #1248
+ [x] #1250
+ [x] #1257

[2020-06-15 13:26] Tedko commented on #1208
confirmed. not working

[2020-06-16 04:04] guanbinrui opened #1246 "[Bug] Cannot decrypt quoted tweets"
# Bug Report

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

### Expected Behavior

/* Write the expected behavior here. */

### Actual Behavior

/* Write

[2020-06-16 04:05] #1224 closed

[2020-06-16 04:19] guanbinrui opened #1247 "[Bug] Stop creating image payload if the identifier absents"
# Bug Report

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

We need the identifier of the poster to generate dots' positions randomly. If the identifier

[2020-06-16 06:24] guanbinrui opened #1248 "[Bug] Gitcoin donation bugs"
# Bug Report

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

### Expected Behavior

/* Write the expected behavior here. */

### Actual Behavior

+ approv

[2020-06-16 07:57] septs commented on #1139
Base1024Emoji for the end-user product name?
- Emoji encoding?

[2020-06-16 07:59] Tedko commented on #1139
Use ‘Emoji Payload’ (follow the image payload) etc for the end user product
name.
If this working and testing well we will replace the default encryption
method on fb.

On Tue, Jun 16, 2020 at 15:57 Septs <notifications@github.com> wrote:

[2020-06-16 08:01] neruthes opened #1249 "[Demand] Payload format naming revamp for human-friendly reading"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

On the UI display level, we will rename the payload formats according to this conversion table:

Terminology | Name (en-US) | Na

[2020-06-16 08:01] neruthes commented on #1139
https://github.com/DimensionDev/Maskbook/issues/1249

[2020-06-16 08:04] Tedko commented on #1249
繪文字 and 奇妙 is 🆒

[2020-06-16 08:04] neruthes commented on #1249
Considering the most literal expressing "魔術". Discussions for translations are welcomed.

[2020-06-16 08:21] Tedko commented on #1249
奇妙 is better imo

On Tue, Jun 16, 2020 at 16:05 Neruthes 0x5200DF38 <notifications@github.com>
wrote:

[2020-06-16 08:33] Tedko commented on #1248
@owocki not sure if this is a bug of gitcoin?

[2020-06-16 08:33] neruthes opened #1250 "[Demand] Hotfix: Update some text in "Import Wallet" modal of Dashboard v3 into Dashboard v2"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | https://www.figma.com/file/4DmpRxZk4jDeqrfA5xrPCp/Dashboard-v3?node-id=433%3A0
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

We are planning to have a hotfix release quickly for updating the tex

[2020-06-16 08:43] guanbinrui commented on #1248
These bugs all come from the Maskbook code and reasons were found will be fixing in the next release.

[2020-06-16 08:43] neruthes opened #1251 "[Task] Bug issue template revamp"
## Metadata

Field | Value
--- | ---
Parent Task/Demand | N/A
Expected Delivery Date | 2020-W??-5

## Content

The issue template for "Bug" has been there for some months and the utilization of the predefined fields remains low. It appears that the template needs a revamp recently.

Here we will discuss what a better template should look like and we will have a pull request after reaching consensu

[2020-06-16 08:44] guanbinrui commented on #1248
These bugs all come from the Maskbook code and will be fixing in the next release.

[2020-06-16 08:48] neruthes commented on #1210
0 ≤ x ≤ 85

[2020-06-16 08:50] neruthes commented on #1216
Set Theory is tricky. We will consider this for some long time.

[2020-06-16 08:50] Tedko commented on #1248
ok!

[2020-06-16 08:53] neruthes commented on #1216
Currently, the upcoming revamp will make recipient options single-choice. If we do not migrate back to the multi-choice version, this problem will automatically disappear.

[2020-06-16 08:54] Tedko commented on #1216
good

On Tue, Jun 16, 2020 at 16:53 Neruthes 0x5200DF38 <notifications@github.com>
wrote:

[2020-06-16 08:55] Tedko commented on #1216
But if it’s single-choice it’s against several existing product design of
main stream products. Will make user more confusing

On Tue, Jun 16, 2020 at 16:54 Suji Yan <yanhan02008@gmail.com> wrote:

[2020-06-16 09:04] neruthes commented on #1216
I share the doubt, too. This can introduce another confusion when removing one confusion. Probably @OiCkilL may have opinions to discuss on this matter.

[2020-06-16 09:06] neruthes commented on #1201
Are there specific examples for the alleged abusing?

[2020-06-16 14:30] Jack-Works commented on #1201
I mean in the codebase. Not UI/UX related.

[2020-06-16 18:28] jakehemmerle commented on #1217
I'll claim this!

[2020-06-17 02:29] yisiliu commented on #1217
@jakehemmerle sounds perfect! Please let us know if you have any questions!

[2020-06-17 05:05] Tedko commented on #1249
編碼方案 — is 加密方案 better？

[2020-06-17 05:05] Tedko commented on #1251
The currently template for Twidere is not bad

[2020-06-17 05:33] neruthes opened #1252 "[Demand] Error Handling for Importing Wallet"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

We are going to have a comprehensive error handling strategy when importing wallets. Many of these designs can be reused in Pers

[2020-06-17 05:54] neruthes commented on #1249
This will mess up with encryption methods. But this way of thinking can be continued. "密文样式" can be a good choice.

[2020-06-17 06:01] neruthes commented on #1201
Ok

[2020-06-17 06:21] neruthes commented on #1057
Updated Figma links and screenshots.

[2020-06-17 11:12] neruthes opened #1254 "[Demand] "Compose Encrypted Post" minor adjust"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

We will slightly adjust the UI of this button so that it may not be confused with "Tweet" button.

## UI Specification

The butt

[2020-06-17 11:14] neruthes opened #1255 "[Bug] Incomplete removal of the "Found in Maskbook database" banner in twitter"
# Bug Report

## Environment

### Maskbook

- Maskbook Version: 1.11.*

## Bug Info

### Expected Behavior
This banner should have been completely removed.

### Actual Behavior

This banner sometimes appears under the profile header area of Twitter.

### How To Reproduce

Unknown

[2020-06-17 14:24] Jack-Works opened #1256 "[Task] Apply i18n of mui"
https://material-ui.com/guides/localization/

[2020-06-17 14:43] Jack-Works commented on #1255
When?

[2020-06-18 04:00] guanbinrui commented on #1256
Traditional Chinese not supported yet?

[2020-06-18 05:16] #64 closed

[2020-06-18 05:44] #1182 closed

[2020-06-18 06:01] Jack-Works commented on #1256
https://github.com/mui-org/material-ui/pull/21493/

[2020-06-18 06:09] guanbinrui opened #1257 "[Bug] Fail to parse pid when nickname contains @"
# Bug Report

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

### Expected Behavior

/* Write the expected behavior here. */

### Actual Behavior

/* Write

[2020-06-18 06:30] neruthes opened #1258 "[Demand] Remove username consistency requirement for users"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

It is previously implemented that the current username of the publisher is involved in determining the PostKey during decryption

[2020-06-18 13:30] Tedko commented on #1255
Just tested on chrome v 1.11.3 seems like this is fixed already?

[2020-06-18 18:31] Tedko commented on #1255
not fixed
<img width="1464" alt="Screen Shot 2020-06-19 at 02 31 15" src="https://user-images.githubusercontent.com/6687437/85058660-02b83b00-b1d5-11ea-935a-c0ffbdd1bdcc.png">

cc @guanbinrui

[2020-06-18 20:33] Tedko commented on #1248
Tested https://app.circleci.com/pipelines/github/DimensionDev/Maskbook/4519/workflows/efed6bf8-0236-4381-a6f9-9a678c55f351/jobs/14614/artifacts -- fixed already

[2020-06-18 20:33] #1248 closed

[2020-06-19 04:03] #1233 closed

[2020-06-19 04:03] #1246 closed

[2020-06-19 04:03] #1247 closed

[2020-06-19 04:03] #1250 closed

[2020-06-19 04:03] #1257 closed

[2020-06-19 04:07] #1234 closed

[2020-06-19 08:12] Jack-Works commented on #1255
Let me do it

[2020-06-19 08:17] #1255 closed

[2020-06-19 08:34] #862 closed

[2020-06-19 11:11] Tedko commented on #1142
let's fix this next?

[2020-06-20 01:40] jakehemmerle commented on #1217
I'm going to run with an idea for the Gitcoin hackathon. Hopefully one of the other two users who started work can build this during the timeline. If not, I can probably build this post hackathon if no one completes it. This is a pretty cool plugin! Got to play with it today with my friend and we were pretty impressed with how well it worked :)

[2020-06-20 02:58] Tedko commented on #1217
@sam0hack & @ocallarob Please let us know if you have any questions!

[2020-06-20 09:38] Tedko commented on #1139
I think @OiCkilL already start some UX design based on #1249 and new ux/dashboard

[2020-06-20 11:01] Tedko opened #1261 "[Demand] A better way to let user recognize other Maskbook users on Facebook"
## Metadata

So on Twitter we have this badge like design and is very welcomed in our users:
<img width="373" alt="Screen Shot 2020-06-20 at 17 53 41" src="https://user-images.githubusercontent.com/6687437/85199050-4d45ce80-b31f-11ea-8d02-4f3978cf23cc.png">
<img width="285" alt="Screen Shot 2020-06-20 at 17 53 56" src="https://user-images.githubusercontent.com/6687437/85199051-4f0f9200-b31f-11ea-9

[2020-06-20 12:46] Tedko opened #1262 "[Bug] Cannot recognized long gitcoin URL correctly on facebook"
# Bug Report

For long gitcoin URL:

<img width="590" alt="Screen Shot 2020-06-20 at 20 26 06" src="https://user-images.githubusercontent.com/6687437/85202168-0f54a480-b337-11ea-8500-9736224ade4b.png">

While short gitcoin URL :

<img width="596" alt="Screen Shot 2020-06-20 at 20 26 18" src="https://user-images.githubusercontent.com/6687437/85202171-1085d180-b337-11ea-919d-77a2ef205ed7.png">

## E

[2020-06-21 10:53] Tedko opened #1263 "[Bug] Rename `Gitcoin grants 6+ development fund` -> `Gitcoin grants development fund`"
# Bug Report

<img width="1345" alt="Screen Shot 2020-06-21 at 18 44 56" src="https://user-images.githubusercontent.com/6687437/85222676-b8f76c80-b3ef-11ea-945f-b7528241f53a.png">

<img width="1345" alt="Screen Shot 2020-06-21 at 18 45 03" src="https://user-images.githubusercontent.com/6687437/85222678-bbf25d00-b3ef-11ea-89f6-8a1720a0a352.png">

Since Gitcoin will have grant campaign nearly every

[2020-06-22 02:14] guanbinrui opened #1264 "[Bug] Gitcoin Plugin: Wrong estimate amount"
# Bug Report

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

### Expected Behavior

/* Write the expected behavior here. */

### Actual Behavior

/* Write

[2020-06-22 02:17] guanbinrui opened #1265 "Hotfix 1.11.4 => 1.11.5"

[2020-06-22 04:03] guanbinrui opened #1268 "[Bug] Renaming the donate button when API not ready"
# Bug Report

<img width="501" alt="donation_dialog" src="https://user-images.githubusercontent.com/52657989/85247515-99f4eb00-b480-11ea-9deb-21f190e032d2.png">

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID,

[2020-06-22 05:14] Tedko commented on #1268
We can keep this button open. No worry for now. Just don’t official promote it

[2020-06-22 05:17] neruthes commented on #1217
Nice to hear that ! ([I:b])

[2020-06-22 06:14] guanbinrui commented on #1268
OK, Let's change its name to "open" cause it will open grant page when API not ready.

[2020-06-22 06:24] guanbinrui opened #1269 "[Demand] Compose Dialog Revamp"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | https://www.figma.com/file/4DmpRxZk4jDeqrfA5xrPCp/Dashboard-v3?node-id=1187%3A0
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Catalogue

- ...
- ...
- ...

## Part 1: ...

## Part 2: ...

## Part 3: ...

## N

[2020-06-22 06:30] neruthes commented on #1268
Good

[2020-06-22 07:32] guanbinrui opened #1270 "[Bug] Should show error dialog when creating red packet failed"
# Bug Report

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

### Expected Behavior

/* Write the expected behavior here. */

### Actual Behavior

/* Write

[2020-06-22 07:51] Tedko commented on #1268
Will keep the current one until the API is ready

[2020-06-22 07:57] yisiliu commented on #1268
stalled by https://github.com/gitcoinco/web/pull/6633

[2020-06-22 09:24] #937 closed

[2020-06-22 09:24] Jack-Works commented on #937
Already shipped

[2020-06-22 13:38] yisiliu commented on #1091
@1999-XiChi has claimed this task and will be spending the next three months with us :)

[2020-06-22 15:51] neruthes commented on #1091
🎉

[2020-06-22 16:09] 1999-XiChi commented on #1091
I‘m so glad to participate in this summer task. And I will try my best to complete a voting poll plugin, to rich users' web experience! XD

[2020-06-23 03:27] #1268 closed

[2020-06-23 03:49] Jack-Works opened #1271 "[Demand] Support Safari on macOS and iOS 15"
MDN data: https://github.com/mdn/browser-compat-data/pull/6320
Apple document: https://developer.apple.com/documentation/safariservices/safari_web_extensions

[2020-06-23 03:57] #1096 closed

[2020-06-23 04:39] #1263 closed

[2020-06-23 04:39] #1142 closed

[2020-06-23 04:39] #1262 closed

[2020-06-23 04:39] #1270 closed

[2020-06-23 04:40] #1265 closed

[2020-06-23 08:17] guanbinrui opened #1272 "[Demand] Some updates about OKB token"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Updates

+ Remove the OKB token from the built-in token list.
+ Reset back the sharing text in the say thanks dialog.

## Notes

[2020-06-28 02:21] guanbinrui opened #1275 "Hotfix 1.11.5 => 1.11.6"
+ [x] #1272
+ [x] #1278

<img width="508" alt="gitcoin_record_preview" src="https://user-images.githubusercontent.com/52657989/85947015-d772e000-b97a-11ea-9ac4-a4a1e662cdde.png">

[2020-06-28 02:31] guanbinrui opened #1278 "[Demand] Update grant information via API"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## About

Integrate the grant information report API from https://github.com/gitcoinco/web/pull/6633 into the grant preview card component.

## N

[2020-06-28 03:34] Jack-Works opened #1279 "[Task] Migrate to Loading buttons"
https://next--material-ui.netlify.app/components/buttons/#loading-buttons

[2020-06-28 10:16] #1272 closed

[2020-06-28 10:21] Tedko commented on #1208
Any update for this one?

[2020-06-28 15:59] Tedko commented on #1209
cant reproduce with new downloaded iOS app + old db

[2020-06-28 15:59] #1209 closed

[2020-06-29 02:24] #1278 closed

[2020-06-29 02:39] #1275 closed

[2020-06-29 05:19] guanbinrui opened #1282 "Hotfix 1.11.6 => 1.11.7"

[2020-06-29 06:16] #1282 closed

[2020-07-06 01:58] guanbinrui commented on #1264
Close by https://github.com/DimensionDev/Maskbook/commit/782057234a07be7d2e80087b81aadfe085c5e999

[2020-07-06 01:58] #1264 closed

[2020-07-06 07:36] neruthes opened #1303 "[Bug] Post composition autopaste on iOS appears to be broken again"
# Bug Report

## Environment

### System

- OS: iOS
- OS Version: *

### Maskbook

- Maskbook Version: *

## Bug Info

### Expected Behavior

...

### Actual Behavior

The "Please-paste-manually" dialogue prompts.

### How To Reproduce

...

[2020-07-06 07:37] neruthes commented on #1054
Which priority should be preferable? 🤔

[2020-07-07 06:31] septs commented on #1057
landing page demo:
https://arweave.net/MyVCpKLA15lBNOKH7v5S7W8TT_Kdt6-SysTPbZnHjPE#sample

[2020-07-09 13:49] nazariyv commented on #1217
Continuing my work on this

[2020-07-10 01:20] septs opened #1308 "[Task] Update Privacy Policy Link"
from https://maskbook.com/privacy-policy/browser-extension
to https://legal.maskbook.com/maskbook/privacy-policy-browser

affected store:
- [x] https://chrome.google.com/webstore/detail/maskbook/jkoeaghipilijlahjplgbfiocjhldnap
- [x] https://addons.mozilla.org/en-US/firefox/addon/maskbook/
- [x] https://addons.opera.com/en/extensions/details/maskbook/

------------------------------

from https://

[2020-07-10 06:52] septs commented on #1308
Waiting for store link after:

https://github.com/DimensionDev/Maskbook/pull/1309/files
https://github.com/DimensionDev/Maskbook-Website/pull/24/files

[2020-07-10 10:21] neruthes opened #1310 "[Task] Update Privacy Policy Links on Stores"
## Metadata

Field | Value
--- | ---
Parent Task/Demand | N/A
Expected Delivery Date | 2020-W29-5 (Jul 17)

## Content

We will update the URL of privacy policy to `https://legal.maskbook.com/maskbook/` on each store.

They should point to this index page, instead of the platform-specific pages.

[2020-07-10 10:26] septs commented on #1308
Merged to #1310

[2020-07-12 10:51] Tedko opened #1311 "[Demand] Add a search box for `Select Specific Friend`"
## Metadata

![Screen Shot 2020-07-12 at 18 43 27](https://user-images.githubusercontent.com/6687437/87244510-8251c680-c470-11ea-89e0-b02441656a13.png)

Once the friend list >=10 the current UX is not usable. Need a search box  for `Select Specific Friend`

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype relea

[2020-07-13 02:48] #1308 closed

[2020-07-13 09:46] #298 closed

[2020-07-13 09:46] Jack-Works commented on #495
already done with new jwk based crypto worker

[2020-07-13 09:46] #495 closed

[2020-07-13 09:47] #496 closed

[2020-07-13 11:20] guanbinrui opened #1312 "New release 1.12.0"

[2020-07-13 12:34] #1312 closed

[2020-07-14 07:51] guanbinrui opened #1315 "[Bug] The dashboard UI behaviors laggy while openning multiple profile tabs"
# Bug Report

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

### Expected Behavior

/* Write the expected behavior here. */

### Actual Behavior

/* Write

[2020-07-15 10:22] guanbinrui opened #1317 "Hotfix 1.12.0 => 1.12.1"

[2020-07-17 17:35] Tedko commented on #1139
any update on this? @OiCkilL @septs

[2020-07-17 17:37] Tedko opened #1321 "[Bug] Remove URL permission alert on iOS"
# Bug Report
![IMG_7426 PNG](https://user-images.githubusercontent.com/6687437/87814853-179cf280-c897-11ea-975f-4121658ec6ec.jpeg)

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release b

[2020-07-18 03:11] septs commented on #1139
I reorganized https://github.com/DimensionDev/coda, I think it can be published to npm registry.

[2020-07-18 08:12] Jack-Works opened #1322 "[Demand] Provide a better UI on auto paste failed"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Catalogue

- ...
- ...
- ...

## Part 1: ...

## Part 2: ...

## Part 3: ...

## Notes

[2020-07-18 15:37] Jack-Works opened #1324 "[Discussion] Switch to pnpm"
## Background

pnpm is a package manager for Node.js. https://pnpm.js.org/

## Pros

Fast, saving disk space (it is using hard link) and not error-prone.

Read https://www.kochan.io/nodejs/why-should-we-use-pnpm.html and https://pnpm.js.org/blog/2020/05/27/flat-node-modules-is-not-the-only-way

## Cons

1. pnpm is not as popular as `npm` or `yarn` (is this really a problem?)
2. ...?

## Blocking

[2020-07-18 16:01] septs commented on #1324
Rejected

[2020-07-18 16:01] septs commented on #1324
Move to `npm`, Thanks

[2020-07-19 01:08] Jack-Works commented on #1324
@septs please list your reason

`npm` and `yarn1` both have this problem. This is a foot gun. `yarn2` doesn't have this problem but it is not compatible with most of our toolchains.

\-- https://rushjs.io/pages/maintainer/package_managers/

By the non-flatten module, any package cannot access \[phantom dependencies\](https://rushjs.io/pages/advanced/phantom_deps/) which make the software more pred

[2020-07-19 14:10] Tedko commented on #1324
Is this issue w/ high priority? Seems like so far stick w/ npm wont cuz too much trouble either

[2020-07-19 14:50] Jack-Works commented on #1324
No priority for this. But I want to find a better way to do.

[2020-07-20 07:06] #1317 closed

[2020-07-20 07:09] guanbinrui commented on #1324
Do you mean `@holoflows/kit`?

[2020-07-20 08:21] guanbinrui opened #1327 "Hotfix 1.12.1 => 1.12.2"

[2020-07-20 09:03] neruthes commented on #1139
The only unsatisfied dependency is the documentation of "Base1024Emoji Encoding Format Specification", before we remove "Draft" mark on this issue.

[2020-07-20 09:59] Jack-Works commented on #1324
Beside that, we also modify `ts-results` in the SSR process

[2020-07-20 10:09] #1327 closed

[2020-07-20 17:35] Tedko opened #1332 "[Bug] Redundant token name USDT in wallet token list"
# Bug Report

<img width="1367" alt="Screen Shot 2020-07-21 at 01 29 54" src="https://user-images.githubusercontent.com/6687437/87967895-23382580-caf2-11ea-983e-ea6340fbd929.png">

As the picture there're 2 `USDT` in the token list;
however double check w/ etherscan -- found out `Redundant token name USDT in wallet token list`

<img width="1367" alt="Screen Shot 2020-07-21 at 01 29 48" src="https:

[2020-07-20 18:04] Tedko commented on #1332
might be related to https://github.com/DimensionDev/Maskbook/blob/master/src/plugins/Wallet/erc20/mainnet.json#L49

[2020-07-20 18:17] Tedko commented on #1139
@septs ok lets do it.
Also for UX i believe @OiCkilL already have it done

[2020-07-21 00:28] guanbinrui opened #1333 "Hotfix 1.12.2 => 1.12.3"
#1332

[2020-07-21 06:08] neruthes commented on #1179
Should have been closed by #1192.

[2020-07-21 06:08] #1179 closed

[2020-07-21 06:56] septs commented on #921
- <https://github.com/kravets-levko/tinytar>
Tiny Tar file

[2020-07-21 07:41] neruthes opened #1337 "[Demand] Initialization Dirty Data Cleanup"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Catalogue

- ...
- ...
- ...

## Part 1: ...

## Part 2: ...

## Part 3: ...

## Notes

- See also #954.
- See also https://github.com/Dimensi

[2020-07-21 07:54] neruthes commented on #952
Discussion Summary:

The discovery of pairing can be passive, like described in Confluence.

cc @yisiliu

[2020-07-21 08:22] neruthes commented on #1208
Any update?

[2020-07-21 09:08] #1332 closed

[2020-07-21 09:12] Tedko commented on #1098
Is this fixed? Or can anyone reproduce this issue?

[2020-07-21 16:16] Tedko opened #1339 "[Bug] Change `fb` within Image Mode to `platforms`"
# Bug Report

![EddgJeSU8AIxwUk](https://user-images.githubusercontent.com/6687437/88078952-a4092700-cbaf-11ea-995d-47990366c302.png)

@OiCkilL @guanbinrui change back to the previous text (only include `platforms` )

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Comp

[2020-07-22 07:27] Jack-Works commented on #1208
I found a way to work around, will investigate later.

[2020-07-22 08:09] choppu commented on #1217
Hello, I would like to work on this. Is the Gitcoin bounty still valid, as I see that the deadline is already passed?

[2020-07-22 08:11] yisiliu commented on #1217
Hi @choppu , sorry @nazariyv has taken this bounty and the job is almost done at #1338

[2020-07-22 15:56] Tedko commented on #1208
ok

[2020-07-23 03:36] neruthes opened #1340 "[Bug] Cannot exit Personas list on Android"
# Bug Report

## Environment

### System

- OS: Android
- OS Version: *

### Maskbook

- Maskbook Version: *
- Installation: Google Play

## Bug Info

### Expected Behavior

Click "<" to exit Personas list

### Actual Behavior

Nothing happens when it is clicked.

### How To Reproduce

NULL

[2020-07-23 03:50] neruthes opened #1341 "[Bug] Cannot insert Image-Based Payload into Natural Post on Android"
# Bug Report

## Environment

### System

- OS: Android
- OS Version: *

### Maskbook

- Maskbook Version: *
- Installation: Google Play

## Bug Info

### Expected Behavior

When clicking "Finish", the image should be inserted into the Natural Post.

### Actual Behavior

The image is not inserted.

### How To Reproduce

Create a post with Image-Based Payload option enabled.

[2020-07-23 09:13] neruthes commented on #952
This should be delivered together with #1124.

[2020-07-23 09:13] neruthes commented on #1124
This should be delivered together with #952.

[2020-07-24 03:18] #1341 closed

[2020-07-24 03:18] Tedko commented on #1341
duplicate

[2020-07-24 09:07] Tedko commented on #1124
Was discussing about name service related solutions

[2020-07-24 09:13] neruthes commented on #1339
I thought we had an issue for this matter... 🤔

[2020-07-24 14:00] wpmonty commented on #1131
Support for MetaMask in Gitcoin plugin or as P2P payments would be a game changer!

[2020-07-25 06:40] Jack-Works commented on #1131
Yes, we have a plan to support Metamask and did some experiment (but no active change these days)

[2020-07-25 06:43] Jack-Works commented on #1208
Note: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Content_scripts#Using_eval_in_content_scripts a Firefox-only feature may help

[2020-07-27 02:30] septs commented on #1139
Maybe need "Payload Version Control".

[2020-07-27 10:05] guanbinrui commented on #1339
Anyone who has the edit permission can change the Figma document.

https://www.figma.com/file/4DmpRxZk4jDeqrfA5xrPCp/Dashboard-v3?node-id=985%3A0

[2020-07-27 10:40] #1340 closed

[2020-07-28 08:13] Jack-Works commented on #1339
the image has been changed on the figma by someone

[2020-07-28 08:22] Jack-Works commented on #1201
possible candidates:

https://github.com/chunkai1312/muibox

https://github.com/mpontus/react-modal-hook

which one is better? (or both?) @septs @guanbinrui

[2020-07-28 08:22] Jack-Works commented on #1322
wait #1201

[2020-07-28 08:25] #258 closed

[2020-07-28 08:25] #283 closed

[2020-07-28 08:27] #299 closed

[2020-07-28 08:31] Jack-Works commented on #810
Now the polyfill has been enabled for Chrome either.

[2020-07-28 08:33] Jack-Works commented on #1065
is this resolved? @guanbinrui

[2020-07-28 08:34] guanbinrui commented on #1065
resolved

[2020-07-28 08:34] #1065 closed

[2020-07-28 08:35] Jack-Works commented on #1039
fixed in #1343

[2020-07-28 08:36] Jack-Works commented on #1095
this might be closed by #1344

[2020-07-28 08:39] #1171 closed

[2020-07-28 08:41] guanbinrui commented on #1095
No, the user should post with more than one type of payload.

[2020-07-28 08:54] Jack-Works commented on #1258
We're relying on the user identifier. It has to be consistent and public access. For example, they may store each user as a UUID, that UUID cannot be changed but username/nickname can. Since there is no way to know the internal ID so this is a requirement.

There is another possible way to identify the user by their key fingerprint but that requires user never change their public key.

[2020-07-28 11:18] septs commented on #1201
@Jack-Works `react-modal-hook` > `muibox`

[2020-07-28 13:35] #1095 closed

[2020-07-28 13:53] Tedko commented on #1252
did we finish this?

[2020-07-29 04:33] Tedko commented on #970
<img width="130" alt="Screen Shot 2020-07-29 at 12 30 58" src="https://user-images.githubusercontent.com/6687437/88757000-9b0feb00-d197-11ea-9478-06d185bbc990.png">
orz

Anyway this is fixed (tested on chrome ver). will close this issue

[2020-07-29 04:33] #970 closed

[2020-07-29 04:47] #1339 closed

[2020-07-29 04:49] #1333 closed

[2020-07-29 06:38] OiCkilL opened #1353 "[Demand] Typo change"
## Metadata
![image](https://user-images.githubusercontent.com/613988/88764341-5db35980-d1a7-11ea-922e-fc8af539b947.png)

- [x] Before: Full address text
After: Shortened text

![image](https://user-images.githubusercontent.com/613988/88764539-b71b8880-d1a7-11ea-919c-d7604112b36b.png)
- [x] Before: History
After: Activity

![image](https://user-images.githubusercontent.com/613988/88764602-cf8ba300

[2020-07-29 07:13] Tedko commented on #1353
[code]

fixed in `released` branch

[2020-07-29 08:12] Tedko commented on #948
shipped

[2020-07-29 08:12] #948 closed

[2020-07-29 08:32] Tedko opened #1354 "[Bug] Multiple decryption post shown"
# Bug Report

<img width="1342" alt="Screen Shot 2020-07-29 at 16 24 01" src="https://user-images.githubusercontent.com/6687437/88776726-e981b180-d1b8-11ea-9cba-4eedf262fc37.png">
<img width="1342" alt="Screen Shot 2020-07-29 at 16 24 01" src="https://user-images.githubusercontent.com/6687437/88776733-eb4b7500-d1b8-11ea-844b-2c664423a7c7.png">

## Environment

### System

- OS:
- OS Version:

###

[2020-07-30 05:30] neruthes opened #1360 "[Demand] Image Encryption (Stage 2)"
## Metadata

Field | Value
--- | ---
Previous Stage | #1217
Figma Link | https://www.figma.com/file/2ezfQbmv3uXMM4O7zSvZj1/Plugin-Image-Shuffle?node-id=1%3A91
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

Thanks to @nazariyv, image shuffling has been made possible.

[2020-07-31 05:08] neruthes opened #1362 "[Demand] Cross-device synchronization"
## Metadata

Field | Value
--- | ---
Previous Stage | #76
Figma Link |
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

Synchronize data across devices.

## Pair Devices

The user may pair 2 devices.

If 1 device already exists in a pair, this operation will connect t

[2020-07-31 07:17] Jack-Works opened #1363 "Add polyfill for Blob.prototype.arrayBuffer"
see https://mdn.io/blob/arrayBuffer
see https://caniuse.com/#feat=mdn-api_blob_arraybuffer

_Originally posted by @septs in https://github.com/DimensionDev/Maskbook/pull/1338#discussion_r458547642_

We're also using this in #1355

[2020-07-31 07:53] septs commented on #1363
! This polyfill is limited to the Safari specific. !

[2020-07-31 07:57] Jack-Works commented on #1363
yes but we need that

[2020-07-31 09:08] guanbinrui opened #1365 "New release 1.13.0"

[2020-07-31 16:19] #1365 closed

[2020-08-01 03:17] guanbinrui opened #1367 "Hotfix 1.13.0 => 1.13.1"

[2020-08-02 07:23] #1367 closed

[2020-08-02 07:28] Tedko commented on #1360
After discussion w/ @OiCkilL the ` dropdown menu ` is not suitable for this `Image Shuffle`.  Have a complete discussion 1st @neruthes @OiCkilL

[2020-08-02 07:29] Tedko commented on #1354
reproduced by @OiCkilL as well

[2020-08-02 07:32] #1353 closed

[2020-08-02 08:19] neruthes commented on #1354
I reproduced this yesterday.

[2020-08-02 10:07] zhouhanseng opened #1389 "[Bug] Throw error: .firefox profile name cannot be resolved to a profile path"
# Bug Report
Can't init the project, since terminal throws an error:
[code]

![image](https://user-images.githubusercontent.com/63733714/89120858-20730280-d4ec-11ea-8747-480327b34577.png)

## Environment

### System

- OS: macOS Catalina
- OS Version: 10.15.1

### Browser

- Browser: firefox
- Browser Version: 77.0.1

### Maskbook

Local development, master, and firefox branch with the latest comm

[2020-08-02 10:09] Tedko commented on #1389
hi

Try Create the folder manually? That will fix the problem. Thanks

On Sun, Aug 2, 2020 at 18:07 Hancheng Zhou <notifications@github.com> wrote:

[2020-08-02 10:13] zhouhanseng commented on #1389
You mean to create a folder, then clone the repository into it?

[2020-08-02 10:15] Tedko commented on #1389
Create A folder  "/pathtoproject/Maskbook/.firefox "

[2020-08-02 10:22] #1389 closed

[2020-08-02 12:50] zhouhanseng commented on #1324
My previous company [compass.com](compass.com) uses `pnpm`. They have too many apps and packages, so `pnpm` is very suitable for them.

[2020-08-02 12:51] zhouhanseng commented on #1324
My previous company uses pnpm. It has too many apps and packages, so pnpm is very suitable for them to save disk space.

[2020-08-02 12:54] Tedko opened #1390 "[Bug] Add back Img Payload for Chrome Store version"
# Bug Report

As the title

## Environment

### System

- OS:
- OS Version:

### Browser

- Browser:
- Browser Version:

### Maskbook

- Maskbook Version:
- Installation: /* May be "Store", "ZIP", or "Self-Complied" */
- Build Commit: Optionally attach a Commit ID, if it is from an pre-release branch head

## Bug Info

### Expected Behavior

/* Write the expected behavior here. */

### Actual Beha

[2020-08-02 13:22] zhouhanseng opened #1391 "[Bug] Twitter post sent from Firefox failed to decrypt on Chrome"
# Bug Report
Twitter post sent from Firefox failed to decrypt on Chrome

## Environment

### System

- OS: macOS Catalina
- OS Version: 10.15.1

### Browser

- Browser: chrome 84.0.4147.10, firefox 79.0

### Maskbook

- Maskbook Version: 1.13.1 for both chrome and firefox
- Installation: Browser extension

## Bug Info

### Expected Behavior

/* Write the expected behavior here. */
Decrypted on bot

[2020-08-02 13:26] Jack-Works commented on #1324
`ts-results` now supports cjs too. We have already decided to have a try on pnpm in the future (now no enough bandwidth for this)

[2020-08-02 13:38] zhouhanseng commented on #1391
Not sure is this caused by the 'hanchengtest' is newly registered, and twitter noticed me that some functionality may be limited.

[2020-08-02 13:39] zhouhanseng commented on #1391
Not sure if this caused by the account 'hanchengtest' is newly registered, and twitter noticed me that some functionality may be limited.

[2020-08-03 01:26] guanbinrui opened #1392 "Hotfix 1.13.1 => 1.13.2"

[2020-08-03 02:28] neruthes commented on #1360
Discussions are welcomed at https://github.com/DimensionDev/Maskbook-Talks/issues/50

[2020-08-03 02:53] jk234ert commented on #1208
The current solution leads to multiple auto pasting of Twitter on Firefox. Waiting to be fixed

[2020-08-03 02:56] jk234ert commented on #1180
Periodically(1 time/day) performing our E2E test as a tradeoff solution for now.

[2020-08-03 02:57] jk234ert commented on #1152
Related to #1208

[2020-08-03 03:09] Jack-Works opened #1395 "Discussion: Is WorkerDOM possible to use?"
https://github.com/ampproject/worker-dom

1. The main concern is that I'm afraid the `worker-src` CSP directive might block us to create a new Worker for this. (Even we have privileged permission in Chrome and Firefox, we also need to aware of iOS)
2. https://bugs.chromium.org/p/chromium/issues/detail?id=357664 (workaround https://github.com/Rob--W/chrome-api/tree/master/worker_proxy)

Conclusion:

[2020-08-03 08:18] Tedko commented on #1217
move to other issue

[2020-08-03 08:18] #1217 closed

[2020-08-04 01:04] jk234ert commented on #1391
This issue **could be reproduced** even under following setup:
1. Same maskbook persona with the same Twitter account connected
2. Same bio
3. Composing messages with recipient set to only "Myself"

[2020-08-04 01:57] #1251 closed

[2020-08-04 03:39] #1390 closed

[2020-08-04 03:39] #1354 closed

[2020-08-04 05:26] neruthes opened #1399 "[Demand] Plugin: Trader"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

A user can trade immediately under a Post.

## Prototype Overview

![image](https://user-images.githubusercontent.com/2139261/90

[2020-08-04 05:49] neruthes opened #1400 "[Demand] Feedback in Dashboard"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | https://www.figma.com/file/4DmpRxZk4jDeqrfA5xrPCp/Dashboard-v3?node-id=356%3A713
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

A user should be able to submit feedback in Dashboard.

## Receptio

[2020-08-04 06:30] neruthes commented on #1098
Cannot reproduce.

[2020-08-04 06:30] #1098 closed

[2020-08-04 06:41] tzhan28 commented on #1399
WIll provide a more detailed proposal in a few days, cheers

[2020-08-04 07:01] #1392 closed

[2020-08-04 07:10] neruthes opened #1401 "[Demand] Scroll Stability"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

In some webpages, the scrolling can be complicated.

// TODO

## Notes

[2020-08-04 07:29] neruthes commented on #1391
Really strange. Thanks for reporting. 🤔

[2020-08-04 07:59] neruthes opened #1403 "[Demand] UX minor adjustment on Extension Dropdown Menu"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | https://www.figma.com/file/4DmpRxZk4jDeqrfA5xrPCp/Dashboard-v3?node-id=1165%3A1293
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

Minor UX adjustment.

## Components

![image](https://user-images

[2020-08-04 08:12] neruthes opened #1404 "[Demand] Establish presence in stores which we are yet not ready to publish on"
## Metadata

Field | Value
--- | ---
Previous Stage | ...
Figma Link | Figma_Link_Here____
Expected UX prototype due | 2020-W??-5
Actual UX prototype release | -
Expected engineering due | 2020-W??-5
Corresponding Pull Request | -
Completion Version | -

## Introduction

We should establish the presence of the name "Maskbook" in certain software distribution platforms where name collision might ha

[2020-08-04 09:45] Jack-Works commented on #1404
Why would you distribute a browser extension to Linux / Windows package manager? If so, should we also add it to AUR (Arch Linux), scoop (Windows), and choco(Windows)? That makes no sense to me. Further, `npm` `cargo` `pip` `Windows PowerShell Gallery` would you like to add them all?

[2020-08-05 02:24] guanbinrui opened #1406 "Hotfix 1.13.2 => 1.13.3"

[2020-08-05 08:00] neruthes commented on #1404
Good point. This is removed from the list.

[2020-08-06 02:21] OiCkilL commented on #1311
figma link: https://www.figma.com/file/4DmpRxZk4jDeqrfA5xrPCp/Dashboard-v3?node-id=2047%3A0

[2020-08-06 08:24] guanbinrui opened #1410 "[Demand] New Dashboard E2E Cases"
## Introduction

We had got many failures on the Wallets panel so we should add more test cases for Dashboard.

## New Cases

+ Create / Read / Import wallet
+ Add / Edit / Search contact

## Notes

[2020-08-06 09:26] yisiliu commented on #1410
@neruthes Can you provide more user stories for testing on this part?

[2020-08-06 13:08] neruthes commented on #1410
I will be working on this in upcoming days.

[2020-08-07 10:16] Jack-Works opened #1411 "[Task] Prefer useCopyToClipboard?"
Prefer https://github.com/streamich/react-use/blob/master/docs/useCopyToClipboard.md?

[2020-08-08 08:57] Tedko opened #1412 "[Task] Update 'About this extension' on Chrome/Mozilla Web Store"
## Inroduction and Background

The current one:

[code]

Since the privacy policy is already displayed on the same page by Mozilla/Google, lets do some updates; rm the privacy policy link /source code link and update some terms etc.

[code]

[2020-08-08 09:05] Tedko commented on #1208
Fixed.

But autopaste for image payload on twitter @ FF is still broken

[2020-08-08 09:05] #1208 closed

[2020-08-08 11:19] Tedko commented on #1399
These might be helpful:
- https://uniswap.org/blog/ipfs-uniswap-interface/
- https://twitter.com/UniswapProtocol/status/1108241985977094145 Done by https://twitter.com/androolloyd

[2020-08-08 11:20] Tedko commented on #1399
Also we can try make this into a bounty for our community

[2020-08-08 11:24] Tedko opened #1413 "[Bug] AutoPaste on fb results in multi payload on Firefox"
# Bug Report

<img width="1407" alt="Screen Shot 2020-08-08 at 17 00 51" src="https://user-images.githubusercontent.com/6687437/89708790-c1f6ca00-d9ac-11ea-876f-d31a0bf5f788.png">
<img width="1407" alt="Screen Shot 2020-08-08 at 17 01 08" src="https://user-images.githubusercontent.com/6687437/89708792-c58a5100-d9ac-11ea-8271-88b0b4641345.png">

## Environment

### System

- [ ] Windows
    - OS Ve

[2020-08-11 02:46] papac25 opened #1414 "release me"

[2020-08-11 03:56] Jack-Works commented on #1414
?

[2020-08-11 04:39] neruthes commented on #1414
Confusing issue. Will reopen if there is really something to discuss.

[2020-08-11 04:39] #1414 closed

[2020-08-11 04:43] neruthes commented on #1412
LGTM.

Also notice that "\n\n" should be used to divide paragraphs.

[2020-08-11 06:59] neruthes opened #1415 "[Demand] Post Text Markup Integration & Post Text Hover Card Integration"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [x] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other

## Part 1: Introduction and Background

#1399 needs additional features.

## Part 2: Problem to Solve

We have introduced the block version of Post Content Interpretation (Snippet, a.k.a. Post-Affixing Canvas "PAC"). Now we will provide an inline version of Post Cont

[2020-08-11 07:47] #1406 closed

[2020-08-11 08:40] Jack-Works commented on #1415
Dependency https://confluence.dimension.chat/display/~neruthes/2020/05/14/Maskbook%3A+Component%3A+WholePostView

[2020-08-11 09:58] guanbinrui opened #1419 "Hotfix 1.13.3 => 1.13.4"

[2020-08-11 10:40] #1124 closed

[2020-08-11 10:41] #1419 closed

[2020-08-11 11:36] neruthes opened #1422 "[Task] Refactor Post Payload"
## Introduction and Background

#225.

#502.

## Content

https://confluence.dimension.chat/x/qIAf

[2020-08-11 11:43] neruthes commented on #1180
## Discussion Summary

Now we have 2 proposed solutions:

- A dedicated crawling service periodically performs selector operations on specific webpages and compare the innerText with the predefined expectation.
- Make this part of the E2E testing and catch error logs when unexpected innerText vaules appear.

The implementation requires the final decision between the 2 options. Let there be in-dept

[2020-08-11 11:44] septs commented on #1057
Waiting list:
1. a dedicated arweave wallet.
2. enable remote signing server (production stage).

for @yisiliu

[2020-08-11 11:46] Tedko commented on #1057
For 1: already asked Ar team for the wallet etc.

On Tue, Aug 11, 2020 at 19:45 Septs <notifications@github.com> wrote:

[2020-08-11 11:47] septs commented on #1400
i want to solve this problem.

[2020-08-12 04:34] Jack-Works commented on #1131
In #1349 currently, it can only use MetaMask as the wallet provider. I don't have a clue about how to merge the local wallet with the MetaMask wallet in the code level and UI/UX level.
The easiest way to do this is to add a switch control. In local wallet mode, wallets from Metamask are not available and vice versa. But this way might not good for UX (they need to switch between if they need to us

[2020-08-12 04:52] neruthes commented on #1131
I suggest that both Providers should coexist for a long time before we gradually deprecate the native Provider.

 On the UX level, some places require an indicator for Provider. These include:

- Wallets List Item
- Wallet Detail
- Wallet Selection Dialogue

Maskbook should display the same wallet as multiple wallet instances according to their Providers in the list of Wallets, because:

Also noti

[2020-08-12 10:59] septs commented on #1400
@neruthes i think `Name` field are not needed

[2020-08-12 13:21] Tedko commented on #1180
which is easier to implement and to maintain ?:)

[2020-08-12 13:29] Tedko commented on #1412
@guanbinrui update in the next update

[2020-08-12 13:30] guanbinrui commented on #1412
Sure.

[2020-08-12 13:31] guanbinrui opened #1424 "Hotfix 1.13.4 => 1.13.5"
#1412 #1413 #1429 #1428

[2020-08-12 14:16] #1412 closed

[2020-08-13 04:19] septs commented on #1400
![SequenceDiagram1](https://user-images.githubusercontent.com/3842474/90093874-21632a00-dd5f-11ea-8ec0-c791213821fe.png)

first draft (sequence diagram)

[2020-08-13 04:40] septs commented on #1400
@neruthes design a receipt mail template.
tell users that we have received

the feedback interface maybe need a `Upload Debug Info` button.

[2020-08-13 06:44] Tedko commented on #1415
Demo from @OiCkilL

![291597233160_ pic_hd](https://user-images.githubusercontent.com/6687437/90102570-7f017180-dd73-11ea-92b3-009eac1cf89a.jpg)

[2020-08-13 06:48] Tedko commented on #1400
The easiest way for now @septs
ignore the UX. use a mailto link ; fix this issue later-

mailto info@dimension.im

[2020-08-13 06:49] Tedko commented on #1400
for next ver - mailto info@dimension.im
for next next ver or later. use https://github.com/DimensionDev/Maskbook/issues/1400#issuecomment-673245507

[2020-08-13 06:54] neruthes commented on #1415
Good demo. Looking forward to for-review version.

[2020-08-13 07:13] septs commented on #918
@guanbinrui the issue is fixed on new dashboard?

[2020-08-13 07:27] guanbinrui commented on #918
The inconsistencies logics compare to current impl:

+ 3. - vii - 2. There is no choose another dialog in current impl
+ 6. If (the database has 0 wallet): Maskbook automatically creates a wallet whose default name is the initial 6 characters of its wallet address.

[2020-08-13 09:59] neruthes opened #1428 "[Demand] UX: Avoid using words like "Disable" for boolean flags in Settings"
## Classification

- [x] UI/UX

## Part 1: Introduction and Background

![image](https://user-images.githubusercontent.com/2139261/90120831-bdcf0180-dd4a-11ea-8bf8-a692adef0c2b.png)

## Part 2: Problem to Solve

Align to common UX practices.

## Part 3: Expected Behavior

Field | en | zh
--- | --- | ---
Title | Ancient Post Compatibility Mode | 遠古兼容模式
Description | Enable if you need to decrypt an

[2020-08-13 10:04] neruthes opened #1429 "[Bug] Strange Persona Count"
# Bug Report

## Environment

### System

- [x] Windows
    - OS Version: Windows 10, 2004

### Platform/Browser

- [x] Firefox
  - Maskbook Version: 1.13.4
  - Browser Version: *

### Build Variant

- Where do you get Maskbook?
  - [x] Store

## Bug Info

### Actual Behavior

![image](https://user-images.githubusercontent.com/2139261/90121807-fb805a00-dd4b-11ea-85fb-c81984936922.png)

### Expecte

[2020-08-13 10:08] neruthes opened #1430 "[Bug] Unrelated profiles should not be recorded"
# Bug Report

## Environment

### System

- [x] Windows
    - OS Version: Windows 10, 2004

### Platform/Browser

- [x] Firefox
  - Maskbook Version: 1.13.4
  - Browser Version: *

### Build Variant

- Where do you get Maskbook?
  - [x] Store

## Bug Info

### Actual Behavior

Many "unrelated" profiles are recorded in the database. This will unnecessarily increase the database size.

(I suspect th

[2020-08-13 10:12] Tedko commented on #1430
Eventually #Maskbook will record all of these. (For growth and more reasons) For now not sure why we encountered the lag

[2020-08-13 10:13] Tedko commented on #1429
Is 21 your contacts count?

[2020-08-14 03:38] a9angel opened #1431 "[Demand]"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-08-14 03:38] a9angel opened #1432 "[Bug]"
# Bug Report

## Environment

### System

- [ ] Windows
    - OS Version:
- [ ] Mac OS X
    - OS Version:
- [ ] Linux
    - Linux Distribution:
    - OS Version:

### Platform/Browser

- [ ] Chrome
  - Maskbook Version:
  - Browser Version:

- [ ] Firefox
  - Maskbook Version:
  - Browser Version:

- [ ] Android
  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-08-14 03:39] a9angel opened #1433 "[Demand]"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-08-14 03:39] a9angel opened #1434 "release"

[2020-08-14 03:39] a9angel opened #1435 "[Task]"
## Inroduction and Background
/* Describe the background of this task */

## Content

/* Actual content here... */

[2020-08-14 06:57] guanbinrui commented on #1429
For now, this count accumulate by

+ the initialized personas count
+ the uninitialized personas count (It's a BUG fixed by [67919560d72f092a5fb04fbf77023a9b61c34837](https://github.com/DimensionDev/Maskbook/pull/1425/commits/67919560d72f092a5fb04fbf77023a9b61c34837))
+ others personas count (the current DB have got the private key)

[2020-08-14 07:05] guanbinrui commented on #1430
The DB size is the main reason.

[2020-08-14 07:14] guanbinrui commented on #1430
The DB size is the main reason. It happens when the UX part queries DB too frequently.

Maybe we should hide these unrelated profiles in the contact list.

[2020-08-14 09:11] #1431 closed

[2020-08-14 09:12] #1432 closed

[2020-08-14 09:12] #1433 closed

[2020-08-14 09:12] #1434 closed

[2020-08-14 12:53] #1435 closed

[2020-08-14 18:22] Tedko opened #1436 "[Task] update chrome/firefox store picture"
The old one:

<img width="1477" alt="Screen Shot 2020-08-15 at 01 22 52" src="https://user-images.githubusercontent.com/6687437/90280792-1cf15b00-de9e-11ea-861c-647faa01d1a0.png">

replace with:

<img width="1304" alt="Screen Shot 2020-08-15 at 01 31 25" src="https://user-images.githubusercontent.com/6687437/90280815-22e73c00-de9e-11ea-9b92-dcda0ee88666.png">

[2020-08-17 03:01] #1436 closed

[2020-08-17 04:09] neruthes commented on #1430
Hiding in the UI should be good, as long as these surplus profiles do not significantly impact the performance.

Also uncount these unrelated profiles when importing and exporting the database.

[2020-08-17 04:12] neruthes commented on #1429
No.

[2020-08-17 04:12] septs commented on #1131
I think it can be divided into two types of management
- Unmanaged Wallet
Obtained from outside (an external)
- Managed wallet
Obtained from inside (an internal)

[2020-08-17 04:29] neruthes commented on #1429
Is this related to #1337?

[2020-08-17 04:34] Jack-Works commented on #1131
Now in the code (metamask branch) we already have two types of wallets.

Managed wallets and Exotic wallets

[2020-08-17 05:17] yisiliu commented on #1399
We will use https://www.coingecko.com/en/api and https://pro.coinmarketcap.com/ as our trading platform providers.

[2020-08-17 06:51] guanbinrui commented on #1399
More widget:

+ https://www.coingecko.com/en/widgets
+ https://coinmarketcap.com/widget/
+ https://coinlib.io/widgets?w_single_coin_id=859&w_single_pref_coin_id=1505&w_single_width=250&w_all_theme=Dark#w_single
+ https://coinstats.app/en/widgets
+ https://www.coinlore.com/crypto-widgets
+ https://www.tradingview.com/widget/crypto-mkt-screener/
+ https://co-in.io/crypto-price-widget/

[2020-08-17 07:47] neruthes commented on #1131
Now we have 3 competing terminology sets:

- Native & External
- Managed & Unmanaged
- Managed & Exotic

Probably we will have to choose one and use it consistently across discussions. A voting should be good?

[2020-08-17 08:36] Jack-Works commented on #1152
iirc #1351 has been merged into released branch and back to the master branch

[2020-08-17 08:36] #1152 closed

[2020-08-17 08:57] guanbinrui commented on #1429
Yep, the second one is the dirty data.

[2020-08-17 09:22] #954 closed

[2020-08-17 11:30] neruthes opened #1437 "[Demand] Settings page: Experimental Features"
## Catalogue

- [x] UI/UX

## Part 1: Introduction and Background

Sometimes we may want to include experimental features in public releases.

## Part 2: Problem to Solve

Some features need a global config flag to determine whether it should be enabled.

## Part 3: Expected Behavior

This boolean flag will be added as the first item in the "Advanced" section.

![image](https://user-images.githubu

[2020-08-18 06:02] neruthes opened #1439 "[Demand] Update News"
## Catalogue

- [x] UI/UX

## Introduction and Background

We want to let users know what is new in this update.

## UX Changes

### Post Composition View

There should be a banner in the Post Composition View for a brief summary of the latest update, which can be dismissed by the user.

Once dismissed, the notice will not appear at other places.

### Dashboard

When entering Dashboard, the user w

[2020-08-18 06:05] neruthes opened #1440 "[Task] Developer update: 1.15.0"
Release note.

[2020-08-18 06:51] neruthes opened #1442 "[Demand] Some notice when no Persona has a Facebook profile"
## Catalogue

- [x] UI/UX

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

- None.

[2020-08-18 07:12] septs commented on #1258
provide a lookup table system

from `username` get an `platform specific user-id`.

[2020-08-18 08:11] Jack-Works commented on #1258
that's not decentralized

[2020-08-18 08:41] #1428 closed

[2020-08-18 08:41] #1429 closed

[2020-08-18 08:41] #1413 closed

[2020-08-18 09:19] neruthes commented on #1258
This is beyond the scope of this issue and I suspect whether it should be employed in other components.

[2020-08-18 09:23] zhouhanseng opened #1443 "[Bug] Compiling after saving code close firefox unexpectedly"
# Bug Report
Video record: https://www.dropbox.com/s/vayt2z7kf6tf222/Screen%20Recording%202020-08-18%20at%204.57.16%20PM.mov?dl=0

### System
- [x] Mac OS X
    - OS Version: Catalina 10.15.5
### Platform/Browser
- [x] Firefox
  - Maskbook Version:
  - Browser Version: 79.0 (64-bit)
### Build Variant

- Where do you get Maskbook?
  - [ ] Store
  - [ ] ZIP
  - [X] Self-Compiled
    - Build Commit:

[2020-08-18 09:33] zhouhanseng opened #1444 "[Talk] Do we need to use typography?"
## Inroduction and Background

Here [DashboardRouters/Setup.tsx#L133](https://github.com/DimensionDev/Maskbook/blob/master/src/extension/options-page/DashboardRouters/Setup.tsx#L133), if I tried to replace the `<Typography>` with just a `<p>`, it renders the same ui result.

https://material-ui.com/components/typography/:

So as we define our own font-size, font-weight and so on, I think we don't

[2020-08-18 09:44] neruthes commented on #1443
Such strange... 🤔

[2020-08-18 09:52] zhouhanseng opened #1445 "[Talk] Export module from index.ts using asterisk wildcard"
## Inroduction and Background

I started to read the project. In [InjectedComponents/PostDialog.tsx](https://github.com/DimensionDev/Maskbook/blob/f422b63170ce0fb97778d901de7c96c665367b89/src/components/InjectedComponents/PostDialog.tsx#L22), I tired to find where's the declaration of type `Profile`.

I checked the `database/index.ts`:
[code]
I lost myself here. I think we can export module explic

[2020-08-18 09:59] zhouhanseng opened #1446 "[Talk] When to useMemo and useCallback?"
https://kentcdodds.com/blog/usememo-and-usecallback

[2020-08-18 11:16] neruthes opened #1447 "[Bug] Strange scrollbar behavior"
# Bug Report

## Environment

### System

- [x] Windows
    - OS Version: 10, 2004

### Platform/Browser

- [x] Chrome
  - Maskbook Version: *
  - Browser Version: *

### Build Variant

- Where do you get Maskbook?
  - [x] CI

## Bug Info

### Actual Behavior

In certain circumstances, the scroll bar my be flickering.

Tested in the `file-service` branch, when copying the FileKey.

[2020-08-18 11:27] #1445 closed

[2020-08-18 11:30] septs commented on #1443
the project not use _hot module reload_, plz manual refresh.

[2020-08-18 11:31] #1443 closed

[2020-08-18 13:36] Jack-Works commented on #1443
since it has crashed the browser I think you should file the bug to the Firefox issue cracker

[2020-08-18 17:34] Tedko opened #1448 "when `friends` is selected, specific friends in the list is not selected - causing confusion"
<img width="1432" alt="Screen Shot 2020-08-19 at 01 15 12" src="https://user-images.githubusercontent.com/6687437/90545926-f4c66c80-e1bb-11ea-82d4-464e47f663e5.png">
<img width="1432" alt="Screen Shot 2020-08-19 at 01 15 16" src="https://user-images.githubusercontent.com/6687437/90545927-f5f79980-e1bb-11ea-8b4c-252fe8f05314.png">

when `friends` is selected, specific friends in the list is not sel

[2020-08-19 02:22] #1424 closed

[2020-08-19 02:27] neruthes commented on #1448
Could you add some elaboration?

[2020-08-19 03:23] #1057 closed

[2020-08-19 03:23] neruthes opened #1450 "[Demand] Component: WholePostView"
## Catalogue

- [x] UI/UX

## Part 1: Introduction and Background

#1360

#1415

## Part 2: Problem to Solve

## Part 3: Expected Behavior

https://confluence.dimension.chat/x/nIEf

## Notes

- None.

[2020-08-19 03:29] Jack-Works commented on #1450
I'll start to explore the prototype of whole post view.

[2020-08-19 04:16] septs commented on #1057
@yisiliu plz create `[Demand] Integration of Arweave Step 2` todo list.

[2020-08-19 05:58] Tedko commented on #1057
Will Wait Ar team for further coop (Promoting step1 etc) then will start
work on step2.

On Wed, Aug 19, 2020 at 12:16 Septs <notifications@github.com> wrote:

[2020-08-20 05:59] guanbinrui opened #1455 "New release 1.14.0"

[2020-08-20 13:08] #1455 closed

[2020-08-21 04:22] zhouhanseng commented on #1443
Hot module works well on http://localhost:8080/webpack-dev-server/

[2020-08-22 05:58] Tedko opened #1460 "[Task] change image payload default text"
## Inroduction and Background
/* Describe the background of this task */

change it to
[code]

## Content

/* Actual content here... */

[2020-08-22 07:26] Tedko opened #1461 "[Bug] Fail to say hello"
# Bug Report

Several problems:

<img width="1229" alt="Screen Shot 2020-08-22 at 15 18 31" src="https://user-images.githubusercontent.com/6687437/90951183-009b8280-e48b-11ea-8d23-c6f673c5e9a5.png">

- After click `post say hello` fail to pop up the compose window

<img width="1229" alt="Screen Shot 2020-08-22 at 15 18 40" src="https://user-images.githubusercontent.com/6687437/90951237-946d4e80-e4

[2020-08-23 03:09] zhouhanseng opened #1462 "[Bug] You can get started without agree with the privacy policy by visiting url through"
# Bug Report
[screen record](https://www.dropbox.com/s/qp8x5vx8nawecb1/Screen%20Recording%202020-08-23%20at%2011.06.40%20AM.mov?dl=0)

## Environment

### System

- [ ] Windows
    - OS Version:
- [ ] Mac OS X
    - OS Version:
- [ ] Linux
    - Linux Distribution:
    - OS Version:

### Platform/Browser

- [ ] Chrome
  - Maskbook Version:
  - Browser Version:

- [ ] Firefox
  - Maskbook Version:

[2020-08-24 00:17] zhouhanseng commented on #1462
@Tedko I'd like to try this.

[2020-08-24 01:01] #1462 closed

[2020-08-24 02:15] neruthes commented on #1448
I believe that changing from "Select Specific Friends" to "Extra specific users" will be good enough.

[2020-08-24 02:30] Tedko commented on #1448
Why not 'specific contacts' ?

[2020-08-24 02:35] neruthes commented on #1448
Good.

[2020-08-24 05:08] septs opened #1466 "[Demand] Switch to `npm`"
`yarn` package manager

`yarn` compare to `npm`, less functions

- `npm audit fix` (missing)
   https://classic.yarnpkg.com/en/docs/cli/audit/
   see https://github.com/yarnpkg/yarn/issues/7075
- `npm update` (no equivalent function)
   https://classic.yarnpkg.com/en/docs/cli/upgrade/
- npm dedupe (missing)
- npm prune (missing)

References: #696 #1324

[2020-08-24 05:21] Jack-Works commented on #1466
pnpm has those functions too. we have made a consensus about give pnpm a change before.

[2020-08-24 05:22] #1448 closed

[2020-08-24 05:32] septs commented on #1466
`yarn` and `pnpm`, i think it is a community workaround.

**npm** official and did not it as **optional alternative solution** to **end user**.

[2020-08-24 05:57] Jack-Works commented on #1466
we **have made a consensus** to test if pnpm works well on other pkgs when we **have the bandwidth** for this.

not for now.

[2020-08-24 06:05] septs commented on #1324
i disagree, switch to pnpm

[2020-08-24 07:58] OiCkilL opened #1469 "Brand new "About" article"
## Inroduction and Background
Replace the old "About" article.
## Content
The new "About" article is here:

[2020-08-24 16:36] #1461 closed

[2020-08-24 16:43] Tedko commented on #952
@guanbinrui  @OiCkilL

so now we have 2 options:
- user chose `Say Hello` or `Bio`. Back to the `proof post or bio` situation.
- rm bio related feature first. Add it back only when we have ENS like domain ready. ( `alice.maskbook.xyz` can be linked to pub key of Alice by blockchain contracts).

What do you think? I prefer option 1 for now. We can user a relatively centralized key server for the ma

[2020-08-24 16:44] Tedko commented on #952
or we can use Arweave as a key server for `proof post url`<>`fb/twitter uuid/url`

[2020-08-24 17:02] Tedko commented on #1466
not for now

[2020-08-24 17:02] #1466 closed

[2020-08-25 04:15] neruthes commented on #952
Ref: https://github.com/DimensionDev/Maskbook-Talks/issues/49

[2020-08-25 10:49] guanbinrui opened #1472 "Hotfix 1.13.5 => 1.14.1"

[2020-08-25 10:54] #1472 closed

[2020-08-27 04:55] #1469 closed

[2020-08-27 05:09] Tedko commented on #1469
We need other language version as well.
For Japanese @blank71 @mizphses would you like to help us?  we will create a bounty program soon as well :)

[2020-08-27 06:06] jk234ert opened #1479 "[Bug] Hide `File-Service` option in Compose Dialog on mobile platforms"
# Bug Report

## Environment

### System

- [ ] Windows
    - OS Version:
- [ ] Mac OS X
    - OS Version:
- [ ] Linux
    - Linux Distribution:
    - OS Version:

### Platform/Browser

- [ ] Chrome
  - Maskbook Version:
  - Browser Version:

- [ ] Firefox
  - Maskbook Version:
  - Browser Version:

- [x] Android
  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version:
  - iOS V

[2020-08-27 06:21] jk234ert commented on #1321
Retested on the latest Maskbook master branch, this issue could not be reproduced.
This issue should be closed in the upcoming new iOS version.

[2020-08-27 06:45] #1479 closed

[2020-08-27 09:08] mizphses commented on #1469
Here is the new translation file.

[2020-08-27 17:03] Tedko opened #1483 "[Bug] Multiple payload pasted when composing encrypted post"
# Bug Report

As the title. easy to reproduce
<img width="1229" alt="Screen Shot 2020-08-28 at 01 00 53" src="https://user-images.githubusercontent.com/6687437/91472602-482a7000-e8ca-11ea-9e6d-77222b9974a5.png">

## Environment

### System

- [x] Windows
    - OS Version:
- [x] Mac OS X
    - OS Version:
- [x] Linux
    - Linux Distribution:
    - OS Version:

### Platform/Browser

- [x] Chrome

[2020-08-27 17:13] Tedko commented on #1460
right now - https://github.com/DimensionDev/Maskbook/blob/master/src/_locales/en/messages.json

[2020-08-28 01:32] Jack-Works commented on #1460
Please do not specify the date format. Use https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString can make things easier since the time format isn't the important things to notice here.

[2020-08-28 04:06] guanbinrui opened #1485 "Hotfix 1.14.1 => 1.14.2"

[2020-08-28 06:36] #1485 closed

[2020-08-28 09:59] neruthes opened #1488 "[Demand] Red Packet minor text update"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background

![image](https://user-images.githubusercontent.com/2139261/91548560-14286c80-e915-11ea-852d-f205414afa88.png)

https://t.me/maskbook_group/10031

## Part 2: Problem to Solve

Reduce confusion.

## Part

[2020-08-28 16:09] neruthes commented on #1258
I would like to mention that an Image-Based Payload on Twitter might be pasted on Facebook (even under the same username). In this case, the notice should be slightly different.

For example, if the notice reads as "Originally posted by username" when someone on Twitter published it on Twitter, it should read as "Originally posted by twitter.com/username" when seen on Facebook.

[2020-08-29 01:53] Jack-Works commented on #1258
🤦‍♂️

[2020-08-29 06:42] Tedko commented on #1258
Too early to consider this

[2020-08-30 07:14] papac25 opened #1491 "[Task]"
## Inroduction and Background
/* Describe the background of this task */

## Content

/* Actual content here... */

[2020-08-30 07:33] #1491 closed

[2020-08-31 08:37] guanbinrui opened #1495 "Hotfix 1.14.2 => 1.14.3"

[2020-09-01 06:42] Jack-Works commented on #1483
![image](https://user-images.githubusercontent.com/5390719/91810905-48779200-ec61-11ea-801f-34b26aac35ff.png)

Cannot reproduce on 0159f2f4

[2020-09-01 07:32] #1495 closed

[2020-09-01 08:10] #1131 closed

[2020-09-02 05:32] #1460 closed

[2020-09-02 14:38] hging commented on #1488
I want to claim the task.
I will submit some changes about this page.

[2020-09-02 14:39] Tedko commented on #1488
Thx @hging . Will review once u submit

[2020-09-02 15:22] Tedko commented on #952
Fixed by binrui

[2020-09-02 15:22] #952 closed

[2020-09-03 02:44] #1483 closed

[2020-09-03 08:54] #1321 closed

[2020-09-03 17:17] #1488 closed

[2020-09-04 03:27] neruthes opened #1524 "[Demand] Red Packet Plugin i18n"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [x] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Introduction and Background

Later plugins (e.g. File Service and Trader) are now i18n-ready. Let Red Packet align with them as well.

## Subtasks

- [ ] Locale keys normalization // @septs
- [ ] `zh` translation // @neruthes

## Notes

-

[2020-09-04 04:04] guanbinrui opened #1526 "New release 1.15.0"

[2020-09-04 07:39] #1526 closed

[2020-09-04 07:40] guanbinrui commented on #1450
close by #1458.

[2020-09-04 07:40] #1450 closed

[2020-09-04 07:57] guanbinrui opened #1528 "Hotfix 1.15.0 => 1.15.1"

[2020-09-04 09:27] #1528 closed

[2020-09-05 08:54] Tedko opened #1532 "[Bug] Trader View Bug"
# Bug Report

<img width="1364" alt="Screen Shot 2020-09-05 at 13 18 09" src="https://user-images.githubusercontent.com/6687437/92301710-72e68980-ef98-11ea-87f9-81586d145d81.png">
<img width="1364" alt="Screen Shot 2020-09-05 at 02 38 33" src="https://user-images.githubusercontent.com/6687437/92301713-7c6ff180-ef98-11ea-924e-d702189eea13.png">

## Environment

### System

- [ ] Windows
    - OS Ve

[2020-09-05 08:57] #1094 closed

[2020-09-05 09:21] Tedko commented on #1403
how to deal with multiple personas on one SNS?

<img width="1364" alt="Screen Shot 2020-09-05 at 17 19 41" src="https://user-images.githubusercontent.com/6687437/92302117-14bba580-ef9c-11ea-885e-c267f590824d.png">

[2020-09-05 14:34] guanbinrui opened #1534 "Hotfix 1.15.1 => 1.15.2"
#1532

[2020-09-06 09:20] Tedko commented on #1391
@zhouhanseng can you still reproduce?

[2020-09-07 02:22] neruthes commented on #1403
You can switch persona when composing a post.

[2020-09-07 03:28] zhouhanseng opened #1538 "[Bug] Display the failed text of setupGuide button incorrectly"
# Bug Report
![image](https://user-images.githubusercontent.com/63733714/92345650-c245ca80-f0fc-11ea-923b-96ff161e8087.png)

## Environment

### System

- [ ] Windows
    - OS Version:
- [X] Mac OS X
    - OS Version:
- [ ] Linux
    - Linux Distribution:
    - OS Version:

### Platform/Browser

- [X] Chrome
  - Maskbook Version:
  - Browser Version:

- [ ] Firefox
  - Maskbook Version:
  - Browse

[2020-09-07 11:08] #1524 closed

[2020-09-07 12:34] #1532 closed

[2020-09-07 12:34] #1534 closed

[2020-09-07 17:35] Tedko commented on #1403
should user able to decrypt a post to A even if its for B (also persona on the same browser)?

[2020-09-08 02:00] jk234ert commented on #1538
@Jack-Works How about simply reducing the line-height of the text inside the button?

[2020-09-08 02:04] Jack-Works commented on #1538
Or maybe reduce the string length

[2020-09-08 04:24] neruthes commented on #1403
Yes. If the user has both Alice and Bob in the Maskbook client, the user should be able to decrypt a Post (which is shared exclusively to Alice) when the currently logged-in profile belongs to Bob.

[2020-09-08 04:34] guanbinrui opened #1542 "Hotfix 1.15.2 => 1.15.3"
#1503 #1541 #1546

[2020-09-08 06:18] jk234ert opened #1545 "[Demand] Migrate to Ethers.js"
## Catalogue

- [ ] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background

[code]

## Part 2: Problem to Solve
https://github.com/ethers-io/ethers.js/

## Part 3: Expected Behavior

## Notes

[2020-09-08 06:20] neruthes commented on #1440
Done.

[2020-09-08 06:20] #1440 closed

[2020-09-08 12:47] neruthes opened #1546 "[Demand] UX adjust for FakeOriginalPostView"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background

https://confluence.dimension.chat/x/nIEf

## Part 2: Expected Behavior

This component renders almost the original text in the post.

In this view, the Natural Post text should be collapsed into 1 line,

[2020-09-09 03:15] neruthes opened #1547 "[Task] Multi-blockchain wallet support research"
## Inroduction and Background

We are planning to improve the Wallets system to provider better  coverage for some blockchains other than Ethereum.

## Content

- Macro logics
- Interaction Design Prototype

[2020-09-10 03:01] Tedko commented on #1538
@zhouhanseng go ahead and try reduce the string leng

[2020-09-10 07:48] jk234ert opened #1549 "[Bug] Fail to send Red packet on Maskbook mobile apps"
# Bug Report

## Environment

### System

- [ ] Windows
    - OS Version:
- [ ] Mac OS X
    - OS Version:
- [ ] Linux
    - Linux Distribution:
    - OS Version:

### Platform/Browser

- [ ] Chrome
  - Maskbook Version:
  - Browser Version:

- [ ] Firefox
  - Maskbook Version:
  - Browser Version:

- [x] Android
  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version:
  - iOS V

[2020-09-10 09:02] neruthes commented on #1538
It will be good if the error message can be moved away from the button text, e.g. a text label below the button. 🤔

cc @OiCkilL

[2020-09-11 05:27] guanbinrui opened #1550 "[Task] Refactor contract.sh"
## Introduction and Background

Let anyone generate contract typings.

## Content

+ Tracking contract ABIs in the current codebase.
+ Listing the `solcjs`  in the deps list of the project.
+ Rewrite `contract.sh` in JavaScript.

[2020-09-11 07:04] zhouhanseng commented on #1538
@Tedko The max length of english text is 23 to fit in one line. So how about 'Failed Please try again'

![image](https://user-images.githubusercontent.com/63733714/92879676-d0b71d80-f43f-11ea-82ee-579c332da7e9.png)

[2020-09-11 08:02] Jack-Works opened #1552 "[Demand] A new UX "Manual" mode."
## Catalogue

- [x] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background

Today our application is based on finding and injecting DOM. That way is not stable and once it breaks, the user cannot use the application anymore.

## Part 2: Problem to Solve

Provide a new UX design

[2020-09-11 09:13] neruthes commented on #1552
Good new work on the way :)

[2020-09-11 11:22] jk234ert commented on #1538
How about a "Failed icon"(maybe a `!`) on the left of the button, and simple "Retry" on the right?

[2020-09-11 13:20] neruthes commented on #1538
However, I do wonder why this operation might fail. It is a dialogue for the user to confirm whether the automatically detected username is correct and thereby giving the user a chance to correct the value. By confirming, the database will be updated.

In the process, I do not find a place for errors to occur. Can someone enlighten me on this?

[2020-09-11 13:31] zhouhanseng commented on #1538
@neruthes Don't worry, this error is only happened in my dev process, I deleted the database manually for some purpose.

[2020-09-11 13:32] neruthes commented on #1538
In this case, I believe that the error message can be given through `window.alert` since users will not see this error.

[2020-09-11 13:47] zhouhanseng commented on #1538
@neruthes But user may see this error in other situations.

[2020-09-11 14:01] neruthes commented on #1538
For example?

[2020-09-11 14:02] zhouhanseng commented on #1538
@neruthes I don't know。。。

[2020-09-11 14:02] neruthes commented on #1538
Ok. We will be revising this decision when we find any example.

[2020-09-12 09:03] #1542 closed

[2020-09-13 02:31] Jack-Works opened #1554 "`Flags.matrix_based_service_enabled && process.env.NODE_ENV === 'development'` to use both flag and tree shaking"
`Flags.matrix_based_service_enabled && process.env.NODE_ENV === 'development'` to use both flag and tree shaking

_Originally posted by @Jack-Works in https://github.com/DimensionDev/Maskbook/pull/1544#r485342546_

[2020-09-13 09:37] guanbinrui opened #1556 "Hotfix 1.15.3 => 1.15.4"

[2020-09-13 10:17] Tedko commented on #1556
good

[2020-09-13 10:17] Tedko commented on #1556
is the file size problem of ff fixed?

[2020-09-13 11:02] guanbinrui commented on #1556
The size problem is fixed in another place. This PR fixes a validation error.

![FF](https://user-images.githubusercontent.com/52657989/93016399-7959ae80-f5f3-11ea-88a7-7aa3cc4950d6.png)

[2020-09-13 11:02] #1556 closed

[2020-09-14 02:21] jk234ert commented on #1093
Added a simple checklist in the origin post, @Jack-Works @zhouhanseng

[2020-09-14 04:52] yisiliu opened #1559 "[Bug]"
# Bug Report

## Environment

### System

- [ ] Windows
    - OS Version:
- [x] Mac OS X
    - OS Version:
- [ ] Linux
    - Linux Distribution:
    - OS Version:

### Platform/Browser

- [x] Chrome
  - Maskbook Version: 1.15.3
  - Browser Version: 85.0.4183.102

- [ ] Firefox
  - Maskbook Version:
  - Browser Version:

- [ ] Android
  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbo

[2020-09-14 07:46] #1559 closed

[2020-09-15 01:24] Jack-Works opened #1563 "[Demand] Set a React Error boundary when rendering plugins"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-09-15 13:38] septs opened #1569 "[Task] Japanese l10n Copywriting Review"
https://github.com/DimensionDev/Maskbook/compare/74fc437fd0724c166858a35a807321fc9b45b6de...master - File Changed Tab -> Search "src/_locales/ja/messages.json" file.

Wait for 1.16 release

[2020-09-15 14:20] Jack-Works commented on #1311
I think we had this UI now. Why it is not used in "Select specific friend"?

![image](https://user-images.githubusercontent.com/5390719/93222502-9a600200-f7a1-11ea-8705-e69ea18bbc68.png)

[2020-09-15 17:29] neruthes opened #1570 "[Demand] Recipient selection feature simplification"
## Catalogue

- [ ] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background

The reliability of recipient selection feature has always been in difficulty. We will hide unreliable recipient options till they become reliable.

## Part 2: Expected Behavior

Only the following optio

[2020-09-16 02:46] Jack-Works commented on #1570
Where is select specific friends?

[2020-09-16 03:32] jk234ert commented on #1093
@zhouhanseng Plz test & try to resolve any found issues refer to the checklist in the origin page.

[2020-09-16 06:04] Tedko commented on #1570
add back ```specific friends```

[2020-09-16 06:39] Tedko commented on #1549
i can reproduce on  mainnet --

![IMG_7948](https://user-images.githubusercontent.com/6687437/93301065-785e9200-f82a-11ea-97e1-cc1e2e5abdb5.PNG)

[2020-09-16 07:33] jk234ert opened #1572 "[Bug] Signature Verification State should be removed"
# Bug Report

## Environment

### System

- [x] Windows
    - OS Version: All
- [x] Mac OS X
    - OS Version: All
- [x] Linux
    - Linux Distribution: All
    - OS Version: All

### Platform/Browser

- [x] Chrome
  - Maskbook Version:
  - Browser Version:

- [x] Firefox
  - Maskbook Version:
  - Browser Version:

- [x] Android
  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Ve

[2020-09-16 09:19] jk234ert opened #1574 "[Bug] File-Service is buggy on Maskbook Mobile"
# Bug Report

## Environment

### System

- [ ] Windows
    - OS Version:
- [ ] Mac OS X
    - OS Version:
- [ ] Linux
    - Linux Distribution:
    - OS Version:

### Platform/Browser

- [ ] Chrome
  - Maskbook Version:
  - Browser Version:

- [ ] Firefox
  - Maskbook Version:
  - Browser Version:

- [x] Android
  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version: 1.15.3

[2020-09-16 09:25] guanbinrui opened #1575 "Hotfix 1.15.4 => 1.15.5"

[2020-09-16 11:51] Tedko commented on #1311
Wondering too. Let’s add it. Should be super fast.

On Tue, Sep 15, 2020 at 22:20 Jack Works <notifications@github.com> wrote:

[2020-09-16 20:38] neruthes commented on #1570
Missed it when writing. Included now.

[2020-09-17 08:18] yisiliu opened #1581 "[Demand] Added red packet history"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [x] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background
Our existing red packet history is kind of broken. If a transaction receipt is not received locally, it won't show up in our red packet history even though it is confirmed on the network.

## Part 2: Pro

[2020-09-18 05:34] Jack-Works opened #1582 "[Task] Switch to browser.contentScripts.register()"
- [x] Firefox OK (native)
- [ ] Chrome (with polyfill) https://github.com/fregante/content-scripts-register-polyfill/
- [ ] iOS (Not OK)

[2020-09-18 15:05] neruthes commented on #1258
## Discussion Summary

Postponed indefinitely. Will consider resuming this in Jan 2021.

[2020-09-18 16:32] Tedko opened #1584 "[Bug] Unable to locate MagicURL payload"
# Bug Report

How to reproduce:
1. Post MagicURL like _

<img width="1332" alt="Screen Shot 2020-09-18 at 23 43 38" src="https://user-images.githubusercontent.com/6687437/93622321-80c3f200-fa0f-11ea-91b4-24a051e8e98b.png">

2.
<img width="1332" alt="Screen Shot 2020-09-18 at 23 43 50" src="https://user-images.githubusercontent.com/6687437/93622327-83bee280-fa0f-11ea-98d1-6eb3627fd848.png">

## Env

[2020-09-19 02:37] Jack-Works commented on #1258
Explain?

[2020-09-19 07:48] neruthes commented on #1258
Due to the request from Suji.

[2020-09-20 03:45] Tedko commented on #1575
seems this is published already on chrome store. will close this one -

[2020-09-20 03:45] #1575 closed

[2020-09-20 09:11] #1572 closed

[2020-09-21 02:40] neruthes opened #1585 "[Bug] Feature "View & Modify Recipients" gone"
# Bug Report

## Environment

### System

- [x] Windows
    - OS Version:
- [x] Mac OS X
    - OS Version:
- [x] Linux
    - Linux Distribution:
    - OS Version:

### Platform/Browser

- [x] Chrome
  - Maskbook Version:
  - Browser Version:

- [x] Firefox
  - Maskbook Version:
  - Browser Version:

- [ ] Android
  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-09-21 03:04] Tedko opened #1586 "[Bug] Multi tweet content showed, bug due to trading-view plugin"
# Bug Report

https://twitter.com/defidude/status/1307874197583147008/photo/1
<img width="1423" alt="Screen Shot 2020-09-21 at 11 03 13" src="https://user-images.githubusercontent.com/6687437/93730176-0f946280-fbfa-11ea-89a8-923f2d608a44.png">

## Environment

### System

- [ ] Windows
    - OS Version:
- [ ] Mac OS X
    - OS Version:
- [ ] Linux
    - Linux Distribution:
    - OS Version:

### P

[2020-09-21 03:05] Tedko commented on #1584
should be a quick fix @Jack-Works ?

[2020-09-21 09:14] guanbinrui opened #1590 "[Task] Add a way for opening dialogs in the content page from the options page."
## Introduction and Background

## Scenes

+ Open connect wallet dialog in the current SNS provider's page by clicking a 'Connect' button in the extension popup component.
+ The RedPacket plugin needs to open a select token dialog which is provided by the Wallet plugin.

## Requirements

+ Only open the dialog on the current activated page. Should not like the `<ImmersiveGuide />` which opens a si

[2020-09-22 00:28] neruthes opened #1592 "[Demand] Contact Group Management"
## Catalogue

- [ ] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background

| Status
| ---
| WIP

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-09-22 14:09] Tedko commented on #1584
@zhouhanseng

[2020-09-22 15:12] zhouhanseng commented on #1584
I'd like to try it tomorrow since I'm solving a similar problem.

[2020-09-23 04:28] zhouhanseng commented on #1584
I turn off maskbook, try type ``` hhh \n Install google.com```, then `google.com ` does not display as well. So this is not our bug.

[2020-09-23 07:22] #1585 closed

[2020-09-23 09:09] Tedko commented on #1584
This is our bug. We need to decrypt the content regardless how Twitter render it

[2020-09-23 18:03] Tedko opened #1596 "[Bug] wallet rename bug intro-ed by the new test version"
# Bug Report

<img width="238" alt="Screen Shot 2020-09-24 at 02 03 05" src="https://user-images.githubusercontent.com/6687437/94051471-27423580-fe0a-11ea-9aec-35644d13e8d2.png">
<img width="230" alt="Screen Shot 2020-09-24 at 02 03 09" src="https://user-images.githubusercontent.com/6687437/94051477-290bf900-fe0a-11ea-9bc5-a5aa1d5eb3ba.png">

## Environment

### System

- [ ] Windows
    - OS Vers

[2020-09-24 03:49] Jack-Works opened #1599 "[Task] Unresolved reviews in Uniswap"
Unresolved reviews in #1523

1. [x] Please make src/web3/hooks/useContract.ts cleaner
2. [ ] src/utils/hooks/useAsyncTimes.ts should be composed by useAsyncRetry and useInterval
3. [x] #1590
4. [ ] Concerns about hard coding `width` is not friendly to mobile.

[2020-09-24 04:50] zhouhanseng commented on #1584
The last words 'to decrypt it.' are deleted manually, yes?

[2020-09-24 05:07] #1581 closed

[2020-09-24 15:07] Jack-Works opened #1603 "[Refactor] PostInfo redesign"
The current design doesn't support modern Maskbook features well.

It should:

- [ ] Support multiple TypedMessage in a single post (Current way is hacky)
- [ ] Support multiple sources to get TypedMessage (Current way is ugly)
- [ ] Support "knowing" the knowledge of TypedMessage
- [ ] Based on the TypedMessage tree transformation

Other changes:

- [ ] Encrypt and decrypt should not call network

[2020-09-24 15:11] #1584 closed

[2020-09-24 15:12] Jack-Works opened #1604 "[Refactor] Plugin message & service need re-design"
Currently, all plugins share a PluginMessageCenter.

Supposed to be:

- [x] Each plugin has its own message channel.
- [x] PluginService.invokePlugin should be deprecated because it is global, and using string pattern to call APIs which is not friendly to navigation despite it is getting type-checked. Each plugin should create their own "AsyncCall" instance (or even not using it at all) like what

[2020-09-24 15:14] guanbinrui opened #1605 "New release 1.16.0"

[2020-09-24 15:15] Jack-Works opened #1608 "[Refactor] It's time for a plugin entry api (in the composition UI)"
We have hard-coded at least 2 plugins (counts pr in, it's 3) in the composition UI.

It's time to abstract an API for it to DRY

[2020-09-24 15:31] #1605 closed

[2020-09-24 15:44] Jack-Works opened #1609 "[Tooling] Code-splitting & HMR"
Investigate other's work on code-splitting, hot-module-reload in this region.

[2020-09-24 15:45] Jack-Works opened #1610 "[Demand] A better UI on auto paste failed"
Now we're using prompt which is not ergonomic for users.

[2020-09-25 00:57] Jack-Works opened #1611 "[Refactor] Remove useCapturedEvents"
This is no longer needed in React 17

[2020-09-25 03:47] septs commented on #1569
[code]

request 1.15 to 1.16 changes, cc @mizphses @blank71

[2020-09-25 04:38] Jack-Works opened #1612 "[Task] Migrate to JSX new transform"

[2020-09-25 07:17] guanbinrui opened #1614 "Hotfix 1.16.0 => 1.16.1"
# Bug Report

## Environment

### System

- [ ] Windows
    - OS Version:
- [ ] Mac OS X
    - OS Version:
- [ ] Linux
    - Linux Distribution:
    - OS Version:

### Platform/Browser

- [ ] Chrome
  - Maskbook Version:
  - Browser Version:

- [ ] Firefox
  - Maskbook Version:
  - Browser Version:

- [ ] Android
  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-09-25 09:04] neruthes opened #1618 "[Demand] Persona Backup UX Adjustment"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
    - /* List it here */

## Part 1: Introduction and Background

Some users have reported that they confused exporting Personas with creating database backups.

We will adjust the UX to address this challenge.

## Part 2: Expected Behavior

// TODO

## Notes

- None.

[2020-09-25 11:19] blank71 commented on #1569
What does "一份 gas 費用將會產生，用於發佈" mean? English is "Notice: A small gas fee will occur for publishing.".
I'm not familiar to cryptocurrency but I know "gas fee" that will occur when the transaction happened. Is it right?

I have no idea to translate  "發佈" "publishing" in Japanese.
"注意: 取引には少量の Gas が発生します。" is my translation.
Any idea?

[2020-09-25 11:20] Tedko commented on #1569
注意: 取引には少量の Gas が発生します is good!! Thx!

[2020-09-25 12:29] #1596 closed

[2020-09-25 12:29] Tedko commented on #1596
fixed already

[2020-09-25 12:50] Tedko commented on #1618
will intro a quick fix first

[2020-09-25 12:51] Tedko commented on #1608
👍🏻👍🏻

[2020-09-27 10:02] #1569 closed

[2020-09-29 03:00] guanbinrui opened #1628 "Hotfix 1.16.1 => 1.16.2"

[2020-09-29 04:22] #1628 closed

[2020-09-29 04:22] #1614 closed

[2020-09-29 04:22] guanbinrui opened #1632 "Hotfix 1.16.2 => 1.16.3"

[2020-09-29 07:28] #1570 closed

[2020-09-30 05:06] guanbinrui opened #1638 "Hotfix 1.16.3 => 1.16.4"

[2020-09-30 08:40] jk234ert commented on #1399
Close this issue since the trader plugin is already published

[2020-09-30 08:40] #1399 closed

[2020-09-30 09:13] septs opened #1645 "New release 1.17.0"
see https://github.com/DimensionDev/Maskbook/pull/1644#pullrequestreview-499214848

[2020-09-30 09:13] #1645 closed

[2020-09-30 09:15] septs opened #1647 "[Demand] Generate Git info file in firefox store build"
see https://github.com/DimensionDev/Maskbook/pull/1644#pullrequestreview-499214848

[2020-09-30 09:23] septs opened #1648 "[Demand] Improve maintainer bot"
### use regex strict checking title

[code]

### automate bound milestone

1. `(1.13, 1.14]`
bound to 1.13.0 milestone
2. `(1.14, 1.15]`
bound to 1.14.0 milestone

[2020-09-30 09:24] Jack-Works commented on #1647
oh wait. maybe it is impossible. the build step requires build definitely same files, which is impossible when reviewer don't have a .git folder but CI have. @septs

[2020-09-30 09:31] septs commented on #1647
no, no, no

release bot, update version and update `git-info.json`

but the file only firefox build use it.

(this file can also tell us firefox build time)

[2020-09-30 15:00] #1609 closed

[2020-10-01 05:18] #1632 closed

[2020-10-01 05:18] #1638 closed

[2020-10-02 05:03] Tedko opened #1653 "[Demand] Provide a range of photos to use as backdrop for image payload"
<img width="669" alt="Screen Shot 2020-10-02 at 01 04 15" src="https://user-images.githubusercontent.com/6687437/94889667-96292980-04af-11eb-8d0d-a7159d2d1efb.png">
<img width="1451" alt="Screen Shot 2020-10-02 at 01 01 57" src="https://user-images.githubusercontent.com/6687437/94889670-99241a00-04af-11eb-8853-beac206a8217.png">

## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook

[2020-10-02 08:50] Tedko opened #1654 "[Demand] Display USD value of token"
## Catalogue
on debank
<img width="1086" alt="Screen Shot 2020-10-02 at 16 47 53" src="https://user-images.githubusercontent.com/6687437/94905331-49554b00-04cf-11eb-906d-d0a9ded10bec.png">
on our wallet
<img width="734" alt="Screen Shot 2020-10-02 at 16 48 09" src="https://user-images.githubusercontent.com/6687437/94905342-4fe3c280-04cf-11eb-8bbc-8f3eff94c1c7.png">

- [ ] UI/UX
- [ ] Maskbook Core

[2020-10-02 11:20] guanbinrui opened #1656 "[Release] Hotfix 1.16.4 => 1.16.5"

[2020-10-02 13:02] Tedko commented on #1549
@jk234ert any update here?

[2020-10-03 01:04] #1084 closed

[2020-10-03 01:13] Tedko opened #1659 "[Bug] Coingecko & CMC link mis match"
# Bug Report

<img width="1343" alt="Screen Shot 2020-10-03 at 09 11 17" src="https://user-images.githubusercontent.com/6687437/94979957-8d406280-0558-11eb-903f-a55102405f12.png">

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Ve

[2020-10-03 02:54] guanbinrui commented on #1586
It looks like the original post didn't hide in yours. But I reproduce it in another way. The replacement post was injected twice if refresh the page while the photo was opening.

<img width="949" alt="reproduce" src="https://user-images.githubusercontent.com/52657989/94981692-d697ae80-0566-11eb-963a-8fb654232685.png">

[2020-10-03 03:02] guanbinrui opened #1660 "[Bug] Fail to fetch red packet info without the wallet."
# Bug Report

## Environment

### System

- [x] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-10-03 15:21] Tedko commented on #1659
fix in 1.16.5 by https://github.com/DimensionDev/Maskbook/commit/fb8ad3e7544fcfbc983ed690f888fde1ad842269

[2020-10-03 15:21] #1659 closed

[2020-10-03 15:25] Tedko commented on #1093
@jk234ert @Jack-Works @guanbinrui Let's just release a version with the current functionalities? and fix ` Reply Post Detection` later? For now there's no way to use it on fb

[2020-10-03 15:43] Jack-Works commented on #1093
The code LGTM for me. I have asked for reviews days ago.

Cc @septs @guanbinrui

[2020-10-04 05:33] jk234ert commented on #1549
I think the latest version 1.16.3 has fixed this issue

[2020-10-04 06:42] Tedko commented on #1549
Seem like on iOS its still 1.15.4 now. waiting for store review?

[2020-10-04 14:31] #1660 closed

[2020-10-04 14:32] #1656 closed

[2020-10-04 15:03] guanbinrui opened #1665 "[Release] Hotfix 1.16.5 => 1.16.6"

[2020-10-04 15:03] guanbinrui commented on #1665
Should take 16ffd46e00061d63e545bfae8b522693b62cf9e0.

[2020-10-04 16:08] #1093 closed

[2020-10-04 16:42] Tedko commented on #1653
@xiazhiming ming 想法？

[2020-10-04 17:13] Tedko opened #1668 "[Bug] iOS bugs"
# Bug Report

- [x]  permission

![IMG_8295](https://user-images.githubusercontent.com/6687437/95021922-7f005c80-06a6-11eb-945c-a3c7a8ab2689.PNG)

require permission on mobile (which should not needed on iOS)

- [x] strange hinting color on compose box (not sure how to reproduce):

![IMG_8294](https://user-images.githubusercontent.com/6687437/95022039-37c69b80-06a7-11eb-9a48-2ee8e8e71962.PNG)

- [

[2020-10-04 17:19] Tedko commented on #1311
@zhouhanseng wanna try this?

[2020-10-04 17:20] Tedko commented on #1311
try this start from oct8 the 1st working day>?

[2020-10-04 17:23] Tedko commented on #1668
5. Auto paste still failed on iOS.

cc @jk234ert

[2020-10-05 08:43] zhouhanseng commented on #1311
hey, I'd like to do it.

[2020-10-05 08:46] Jack-Works commented on #1311
I thought we have a ui for this maybe it's not in use

[2020-10-05 08:48] zhouhanseng commented on #1311
have ui code already been done?

[2020-10-05 09:13] Jack-Works commented on #1311
https://www.github.com/DimensionDev/Maskbook/tree/master/src%2Fcomponents%2Fshared%2FSelectPeopleAndGroups this ui support search

[2020-10-05 19:38] Tedko opened #1669 "[Bug] magic link is buggy for growth hack (404)"
# Bug Report

<img width="1351" alt="Screen Shot 2020-10-06 at 02 45 38" src="https://user-images.githubusercontent.com/6687437/95123936-4f745180-0785-11eb-8fb0-a8c1824b9765.png">
<img width="1351" alt="Screen Shot 2020-10-06 at 02 45 53" src="https://user-images.githubusercontent.com/6687437/95123941-50a57e80-0785-11eb-85bc-10d4a71c69f5.png">

## Environment

### System

- [ ] Windows

  - OS Ver

[2020-10-05 19:38] Tedko commented on #1669
eg https://twitter.com/calchulus/status/1312958370085658625?s=21

[2020-10-05 19:38] Tedko commented on #1669
eg https://twitter.com/calchulus/status/1312958370085658625?s=20

[2020-10-06 01:37] #1665 closed

[2020-10-06 01:41] guanbinrui opened #1670 "[Release] New release 1.17.0"

[2020-10-06 02:09] #1670 closed

[2020-10-06 02:10] guanbinrui opened #1671 "[Release] New release 2.0.0"

[2020-10-06 02:10] #1671 closed

[2020-10-06 02:10] #1669 closed

[2020-10-06 02:11] guanbinrui opened #1673 "[Release] New release 1.17.0"

[2020-10-06 06:19] zhouhanseng commented on #1311
`<SelectPeopleAndGroupsUI />` is using on other place, and since `<SelectRecipientsDialogUI />` already had its own UI, so we should not import the whole ``<SelectPeopleAndGroupsUI />`` to `<SelectRecipientsDialogUI />`. I just copy the search input and its search logic with some changes.

[2020-10-07 11:00] Tedko opened #1677 "[Bug] Even if dont have any ETH in wallet, we should display ETH = 0"
<img width="1416" alt="Screen Shot 2020-10-07 at 18 56 49" src="https://user-images.githubusercontent.com/6687437/95322517-34155d80-08cf-11eb-9732-53d80b08fef3.png">

example addr:
0x959FD7Ef9089B7142B6B908Dc3A8af7Aa8ff0FA1

[2020-10-08 07:55] zhouhanseng commented on #1552
I like this idea.

[2020-10-08 16:15] Tedko opened #1680 "[Bug] For the append recipient - should we able to add `everyone` ?"
# Bug Report

<img width="1391" alt="Screen Shot 2020-10-08 at 23 58 04" src="https://user-images.githubusercontent.com/6687437/95485568-82f0ef00-09c4-11eb-8a5d-de1998edea82.png">

```Add Eveyone in the {append recipient } part```

its technically doable. I guess we should do so as well. Take the reference from Wechat Moments --

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Ma

[2020-10-09 09:12] #1311 closed

[2020-10-09 17:58] Tedko commented on #1677
update:

seems the ETH=0 is displayed at the bottom

<img width="1386" alt="Screen Shot 2020-10-10 at 01 57 06" src="https://user-images.githubusercontent.com/6687437/95616270-1d703180-0a9c-11eb-97a8-77d7e84d7557.png">

[2020-10-09 18:56] Tedko commented on #1677
This is the right implementation  -

<img width="1407" alt="Screen Shot 2020-10-10 at 02 55 22" src="https://user-images.githubusercontent.com/6687437/95621364-249b3d80-0aa4-11eb-8a7d-7d9b84a2f690.png">

[2020-10-10 01:04] #531 closed

[2020-10-10 01:05] #975 closed

[2020-10-10 01:06] Jack-Works commented on #1033
is it already implemented?

[2020-10-10 01:07] #1039 closed

[2020-10-10 03:07] guanbinrui commented on #1033
<img width="445" alt="test-01" src="https://user-images.githubusercontent.com/52657989/95644362-b62c9e80-0ae8-11eb-9b93-f01cf59c4e88.png">

[2020-10-10 06:50] #1677 closed

[2020-10-10 07:41] Jack-Works opened #1687 "[Task] IDBDatabase/transaction durability"
## Introduction and Background

https://developer.mozilla.org/en-US/docs/Web/API/IDBDatabase/transaction

`durability`: `"default"`, `"strict"`, or `"relaxed"`

jakearchibald/idb#204

## Content

/_Actual content here..._/

[2020-10-10 12:58] #1673 closed

[2020-10-11 03:33] Tedko opened #1693 "[Bug] upgraded from last version to 1.17, wallet db broken"
# Bug Report

## Environment

User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:81.0) Gecko/20100101 Firefox/81.0
Version: v1.16.5-45-g479ed81c
Tag Name: v1.17.0
Build Date: 2020-10-10T12:03:51.385Z
Commit Hash: 479ed81c9787b4cfacbd3a41ab5e3ddd4d28fc74
Commit Date: 2020-10-10T11:57:49.000Z
Remote URL: git@github.com:DimensionDev/Maskbook.git
Branch Name: released

## Bug Info

### Actua

[2020-10-11 05:10] guanbinrui opened #1694 "[Release] Hotfix 1.17.0 => 1.17.1"

[2020-10-11 05:59] #1694 closed

[2020-10-12 07:44] septs opened #1698 "[Demand] Disable gundb related functions"
## Catalogue

- [ ] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

Current gundb service stopped.

[2020-10-12 07:54] septs commented on #1698
see https://github.com/amark/gun/issues/1015

[2020-10-12 08:00] jk234ert opened #1699 "[Bug] Tap "Close" button in dashboard leads to blank screen"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version: 1.16.5

[2020-10-12 08:03] jk234ert opened #1700 "[Bug] Tap "QR Code" in import persona page leads to blank screen"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version: 1.16.5

[2020-10-12 08:05] Jack-Works opened #1701 "[Task] Add more ErrorBoundary to prevent whole Maskbook fails in a blank screen"

[2020-10-12 08:06] jk234ert opened #1702 "[Bug] The "clock" button in wallet page should be removed"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version: 1.16.5

[2020-10-12 08:16] jk234ert opened #1703 "[Bug] The "Find your username" dialog in mobile apps need re-designed"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [x] Android

  - Maskbook Version: 1.16.5
  - Android Version: 1.16.5

- [x] iOS
  - Maskbook Vers

[2020-10-12 08:31] #810 closed

[2020-10-12 08:32] Jack-Works commented on #1216
these two options has been hided

[2020-10-12 08:32] #1216 closed

[2020-10-12 08:35] Jack-Works commented on #1680
What do you mean by "Everyone"? Everyone in the group or literally "everyone" that installs Maskbook? AFAIK the latter one is not possible in the current mechanism

[2020-10-12 12:16] guanbinrui opened #1706 "[Release] Hotfix 1.17.1 => 1.17.2"

[2020-10-12 15:04] #1610 closed

[2020-10-13 05:28] Jack-Works opened #1710 "[Task] Split into multiple isolated packages and become monorepo?"
According to the discussion yesterday, splitting codebase into multiple isolated packages may help it easier to port maskbook core into other software, or improve the robustness of the software like what @septs did for the file service.

Should we do this in the future?

A question, which one to use?

1.  [yarn workspace](https://yarnpkg.com/features/workspaces) (+ [lerna](https://github.com/lerna

[2020-10-13 06:28] septs commented on #1710
i want to be a two subrepo, wallet + post transceiver.

[2020-10-13 06:36] septs opened #1711 "[Task] Publish unstable edition to Chrome Store (unlisted)"
Pre-work:
1. Modify release bot, add release to unstable branch function
2. Release first unstable edition to Chrome Store
3. Publish a Maskbook News, about the idea.

TODO:
1. unstable branch name need meet or vote.
2. release branch focus on "cumulative updates"?
3. unstable branch focus on "beta channel"?

[2020-10-13 06:59] guanbinrui commented on #1710
Vote yes for this.

We should make some rules for those pkgs like a fixed prefix (maybe `@deimensiondev/mask-`) should be used in every pkg's name and what should have in each pkg (`docs/` `locales/` `src/` `test/` `README.md` etc).

Here is a simple list of pkgs I caught:

+ mask core pkgs
+ service pkgs (a service run in the background page)
+ helper pkgs
+ plugin pkg (a mask compatible plugin)

[2020-10-13 07:10] guanbinrui commented on #1711
FYI: I have added a `build` field into the CI progress which could be `'stable' | 'beta' | 'insider'`.

[2020-10-13 07:12] septs commented on #1710
@guanbinrui Can be turned into a shell application (Dependency inversion principle)

[code]

[2020-10-13 07:35] Jack-Works commented on #1710
Multiple repos are hard to use if you want to sync them.

I'm not mean by we _should_ publish those packages to some registry or something, it is used to "isolate" the unrelated parts in our program.

I'm also not suggesting we should move _everything_ into the monorepo (if they are really independent or unrelated to Maskbook).

[2020-10-13 07:47] guanbinrui commented on #1710
`lerna` or `rush` ?

Register free is OK. I think it's important to make some rules that every pkg adheres to.

That makes sense.

[2020-10-13 07:58] Jack-Works opened #1713 "[Task] Avoid event leaking"
## Introduction and Background

To avoid conflict with SN native keyboard shortcut (today).

To avoid SN get pressed keys (future).

## Content

Possible solutions:

*   Load every content in an iframe (iframe cannot be transparent)
*   Load every sensitive content that receives keyboard input in a new window (what about mobile)?

[2020-10-13 17:58] papac25 opened #1717 "[Demand]"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-10-13 18:27] #1717 closed

[2020-10-14 04:57] guanbinrui commented on #1703
@OiCkilL has designed it before. Here it is [Mobile](https://www.figma.com/file/qsKvUPU1xQ9GmeVjEd0IGY/UIkit---Mobile?node-id=65%3A8265).

[2020-10-14 05:13] #1611 closed

[2020-10-14 05:15] Jack-Works commented on #1710
IIRC they both need all packages in the same repo

[2020-10-14 06:20] #390 closed

[2020-10-14 09:23] Jack-Works opened #1721 "[Bug] locale tool should order keys by alphabet order"

[2020-10-14 09:29] yisiliu opened #1722 "[Bounty] Solana and Serum in Maskbook"
## Introduction and Background

Maskbook is designed and developed as a chain agnostic tool, which relies on no chains and in another word, supports all the chains. Currently, Maskbook is focusing on DAPPs on Ethereum but we would like to integrate more chains into our extension to provide users more options. Therefore, we are redesigning our internal wallet into a multi-chain wallet and by the ti

[2020-10-14 09:39] septs commented on #1721
The not is bug.

[2020-10-14 09:40] #1721 closed

[2020-10-14 10:02] Jack-Works commented on #1721
Ok then I mean "feature". I want it to be ordered

[2020-10-14 10:06] yisiliu opened #1724 "[Bounty] Subscan Improvement"
## Introduction and Background

Maskbook now supports a trader plugin where token market info would display when a user hover their mouse on a token hashtag starting with "$" on Twitter. It shows the price, trending, supporting exchanges and a Uniswap interface if there exists a swapping pair. [Subscan](https://polkadot.subscan.io/) is a block explorer in Polkadot network that work like Etherscan

[2020-10-14 10:13] septs commented on #1721
@Jack-Works i think, this is BAD IDEA.

[2020-10-14 10:53] jk234ert commented on #1668
@zhouhanseng
Plz try to fix the issues listed above.
Remember to test on the desktop after modification to avoid the unexpected appearance.

[2020-10-15 17:51] Tedko opened #1726 "[Demand] Link back to CMC"
## Catalogue

<img width="1416" alt="Screen Shot 2020-10-16 at 01 49 48" src="https://user-images.githubusercontent.com/6687437/96167427-f610dd00-0f51-11eb-974e-413a000b328d.png">

discussed with CMC, and would want to add:
click the line chart part -> jump to the CMC link of the token *(here $FIL )

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography

[2020-10-16 01:45] guanbinrui opened #1727 "[Demand] Uniswap Share Link"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [x] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-10-16 06:36] #1702 closed

[2020-10-16 09:57] #1693 closed

[2020-10-16 13:32] Tedko opened #1733 "[Bug] Cannot encrypt post when chose only specific recipient"
# Bug Report

- [ ] Part1: Webcrypto bug #1734

- [x] Part2: GunDB up again

- [ ] Part3: GunDB fix (upgrade to v2020 or bug fix from Mark side )

/_What happened?_/
<img width="356" alt="Screen Shot 2020-10-16 at 21 27 11" src="https://user-images.githubusercontent.com/6687437/96264118-70933880-0ff6-11eb-8fca-42410a7c16a4.png">

Can not encrypt post when chose only specific recipient. Can reprodu

[2020-10-16 13:38] Tedko commented on #1698
:( wait for his ver bump script?

[2020-10-16 13:38] Tedko commented on #1733
related w/ #1698?

[2020-10-16 13:42] Tedko commented on #1726
@zhouhanseng

[2020-10-16 13:56] #1706 closed

[2020-10-16 13:58] septs commented on #1698
@Tedko flag-based hidden gundb related function on until gundb available again?

CC @yisiliu

[2020-10-16 14:37] zhouhanseng commented on #1726
kk

Suji Yan <notifications@github.com> 于2020年10月16日周五 下午9:42写道：

[2020-10-16 15:07] Jack-Works commented on #1733
Yeah of course

[2020-10-16 16:14] septs opened #1734 "[Bug] Cannot implement EC mechanism on Compose Recipient to specific people."
![image](https://user-images.githubusercontent.com/3842474/96282601-84966480-100d-11eb-8aa3-e822c6ecab91.png)

[2020-10-16 17:56] Tedko commented on #1733
<img width="490" alt="Screen Shot 2020-10-17 at 01 56 22" src="https://user-images.githubusercontent.com/6687437/96292533-f8d80480-101b-11eb-89a1-e95ac15d9b9a.png">

@septs @Jack-Works

[2020-10-16 17:57] Tedko commented on #971
will use 角色 for now

[2020-10-16 17:57] #971 closed

[2020-10-16 18:01] Tedko commented on #1100
this is only related w/ old fb ui. fixed now

[2020-10-16 18:01] #1100 closed

[2020-10-16 18:12] Tedko commented on #1130
<img width="1444" alt="Screen Shot 2020-10-17 at 02 11 32" src="https://user-images.githubusercontent.com/6687437/96293899-173eff80-101e-11eb-977b-92a75a79032b.png">

Will need a quick fix otherwise no way to ues ```...``` of the wallet

(normal case below)

<img width="1444" alt="Screen Shot 2020-10-17 at 02 12 14" src="https://user-images.githubusercontent.com/6687437/96293969-33db3780-101e-11eb

[2020-10-16 18:15] Tedko commented on #1130
Also may require a display area length limit (32  char; for anything longer than that do ```you name abcd ....```) in case some one just break it through change the name at the Database json level.

[2020-10-16 18:18] Tedko commented on #1680
```literally "everyone" that installs Maskbook?```

why? cant just add that AES key?

[2020-10-16 18:22] Tedko commented on #1447
able to reproduce. tiny bug

[2020-10-16 18:26] Tedko commented on #365
I feel this will largely affect adblock? @Jack-Works  and when will google do the next step?

[2020-10-16 18:44] #934 closed

[2020-10-16 19:04] Tedko commented on #1090
This is fixed since we now use a diff wallet choce model

<img width="477" alt="Screen Shot 2020-10-17 at 03 03 39" src="https://user-images.githubusercontent.com/6687437/96298669-6b011700-1025-11eb-9b08-40fa9ad2cd19.png">

but whats the meaning of default wallet then? Or we dont need that? @xiazhiming @guanbinrui

[2020-10-16 19:06] Tedko commented on #1090
For now when I claim the red packet i will have the token -> into the wallet selected in the popup.

However, user might use the popup selected wallet for other purpose. it does not necessary mean that is the one needed for users. The usage of default wallet is also now questionable umm

[2020-10-16 19:09] #1090 closed

[2020-10-16 19:15] Tedko opened #1735 "[Bug] Mount point bug when composing on Fb"
# Bug Report

<img width="1331" alt="Screen Shot 2020-10-17 at 03 11 27" src="https://user-images.githubusercontent.com/6687437/96299591-e1eadf80-1026-11eb-91ac-bcbd3b867b03.png">
<img width="1331" alt="Screen Shot 2020-10-17 at 03 11 32" src="https://user-images.githubusercontent.com/6687437/96299595-e2837600-1026-11eb-8c5e-a5dabab2bbf6.png">

Once you have sth in the compose box the mount point

[2020-10-16 19:23] Tedko commented on #1400
@septs @zhouhanseng
We cant leave a buggy feedback there!
options:
1. just  mailto info@dimension.im
2. fix the whole feedback loop asap.

TBH lets do 1 to save some time. I will leave this to @zhouhanseng for now.

@septs Respond the [AT] msg accordingly pls

[2020-10-16 20:17] Tedko commented on #1653
feat: default select everyone as share target #1705 is done.
Will rename this issue

[2020-10-16 21:31] Tedko opened #1736 "[Demand] No need for `Default Wallet` any more?"
https://github.com/DimensionDev/Maskbook/issues/1090

With the current implementation seems no need for `Default Wallet` ?

## Catalogue

- [x] UI/UX

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-10-17 02:15] Jack-Works commented on #1735
I thought it is a feature?

[2020-10-17 02:16] Jack-Works commented on #365
I have no idea about how manifest v3 is going on now

[2020-10-17 02:18] Jack-Works commented on #1680
Share to someone and everyone have a significant difference in the payload.

[2020-10-17 02:22] Jack-Works commented on #1733
https://github.com/DimensionDev/Maskbook/blob/ce1126e3728b2830fe8fd469f269a669dd9b48d3/src/_background_loader.0.ts#L4-L4

but we're loading that lib, strange

[2020-10-17 02:34] septs commented on #807
https://www.atlassian.com/migration/journey-to-cloud

[2020-10-17 08:13] Tedko commented on #1735
umm I don't think so umm

[2020-10-17 08:15] Tedko commented on #1733
So part1 is ok and the only problem is gun?

[2020-10-17 08:17] Tedko commented on #1698
Let's keep the server running.

[2020-10-17 08:18] Tedko commented on #1680
Ok. Will need to upgrade later.

[2020-10-17 08:55] #1033 closed

[2020-10-17 14:31] Jack-Works commented on #1733
maybe we have both problem

[2020-10-17 14:31] #1700 closed

[2020-10-17 14:34] Jack-Works commented on #1734
I will investigate this later.

[2020-10-18 03:40] Tedko opened #1737 "[Bug] Import DB json file not working on Android Mask.io (blocked by Gecko)"
# Bug Report

https://dimension.chat/group/maskbook-mobile?msg=KycCgrFZmzPLvDTdF

in short the android ver cannot import /restore json db properly

video https://mega.nz/file/7wgCWKAA#LnLdyE-vYf7dKK6sH3mh4PxAtBDkIBZo0Tnpxre8jsA

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

-

[2020-10-19 03:23] jk234ert commented on #1699
@zhouhanseng The root cause of this issue is, when the app launched, the dashboard is the FIRST and ONLY "tab". The "close" button simply calls `window.close` to close the dashboard "tab", then there is only a blank view left.

A temp solution could be, when the user closes the dashboard, use "browser.tab.query" to check whether there is a fb/twitter tab left, if not, use "brower.tab.create" to cr

[2020-10-19 05:44] zhouhanseng commented on #1699
How about hiding the close button when there's no tab left?

[2020-10-19 07:58] #1735 closed

[2020-10-19 08:13] #1256 closed

[2020-10-19 10:46] #1130 closed

[2020-10-19 16:33] Tedko commented on #1734
keep me posted

[2020-10-19 16:33] Tedko commented on #1727
any update?

[2020-10-19 16:41] Tedko opened #1749 "[Bug] iOS Mask Twitter hinting color bug"
# Bug Report

<img width="325" alt="Screen Shot 2020-10-20 at 00 40 26" src="https://user-images.githubusercontent.com/6687437/96480486-de489a00-126c-11eb-9823-54786e69daec.png">

The hinting color is buggy

## Environment

### System

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version

[2020-10-19 16:41] Tedko commented on #1749
assign to @zhouhanseng

[2020-10-19 16:41] Tedko commented on #1733
keep me posted for the fixing process

[2020-10-19 16:53] Tedko commented on #1654
closed by https://github.com/DimensionDev/Maskbook/pull/1741

[2020-10-19 16:53] #1654 closed

[2020-10-19 16:54] Tedko commented on #1547
#1722 will do a bounty with $SOL team

[2020-10-19 16:57] Tedko opened #1750 "[Demand] When clicked copy wallet addr button, pop up `wallet addr copied` instead of `Done!`"
## Catalogue

The current one is not clear enough.

<img width="1549" alt="Screen Shot 2020-10-20 at 00 45 36" src="https://user-images.githubusercontent.com/6687437/96485735-3da7a980-126f-11eb-9491-645acff807c0.png">

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

#

[2020-10-19 17:02] Tedko commented on #1749
#1668

[2020-10-19 17:07] Tedko opened #1751 "[Bug] Need a `Copy` button when auto paste fail (especially for mobile maskbook)"
# Bug Report
<img width="560" alt="Screen Shot 2020-10-20 at 00 43 12" src="https://user-images.githubusercontent.com/6687437/96488418-8b70e180-1270-11eb-803a-b5aad1f2ed94.png">

No way to copy it on mobile .

In the previous ver, iOS did create a popup can click `Copy` just 1-click

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux

[2020-10-19 17:21] Tedko opened #1752 "[Bug] Fb `Red Packet` image payload is gray (blocked by Stego-JS)"
# Bug Report
<img width="1549" alt="Screen Shot 2020-10-20 at 01 10 34" src="https://user-images.githubusercontent.com/6687437/96489801-814fe280-1272-11eb-80c3-01b1c7f6d21e.png">

Any specific reason?

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Ve

[2020-10-19 19:39] Tedko commented on #1751
A good example

<img width="881" alt="Screen Shot 2020-10-20 at 03 01 15" src="https://user-images.githubusercontent.com/6687437/96503439-d77a5100-1285-11eb-9178-71365243d4fb.png">

[2020-10-19 19:40] Tedko commented on #1750
a good example

<img width="881" alt="96503439-d77a5100-1285-11eb-9178-71365243d4fb" src="https://user-images.githubusercontent.com/6687437/96503488-ec56e480-1285-11eb-83b1-5f0172df87d6.png">

[2020-10-20 01:28] jk234ert commented on #1737
Strange behavior in importing backup files on Android geckoview. Need further investigation.

[2020-10-20 05:53] zhouhanseng commented on #1751
Assign to @zhouhanseng

[2020-10-20 06:21] Jack-Works opened #1754 "[Demand] A general component: Floating dialog"
It should:

- Not blocking background click like a normal dialog
- Draggable on mobile (like what we did in #1322)
- Behave like a [bottom sheet](https://material.io/components/sheets-bottom#standard-bottom-sheet) on mobile

[2020-10-20 06:44] Jack-Works commented on #1734
fixed by #1753

[2020-10-20 06:44] #1734 closed

[2020-10-20 18:14] moxis opened #1759 "[Bug] Can't create Red Packet with Tether"
# Bug Report

## Environment

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [X] Firefox

  - Maskbook Version: 1.17.2
  - Browser Version: 81.0.2

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS Version:

### Build Variant

- Where do you get Maskbook?
  - [X] Store
  - [ ] ZIP
  - [ ] Self-Compiled
    - Build

[2020-10-21 02:14] zhouhanseng commented on #1749
@Tedko

@jk234ert and I still can't find the reason.

[2020-10-21 02:32] jk234ert commented on #1759
Thanks for your detailed issue information.
@guanbinrui

[2020-10-21 02:42] Jack-Works commented on #1749
@zhouhanseng maybe related to auto-theme detection (it might think current page is in the dark mode)

[2020-10-21 02:45] zhouhanseng commented on #1750
assign to @zhouhanseng

[2020-10-21 02:53] jk234ert commented on #1751
@zhouhanseng
1. Plz check why the dialog popup not correctly centered on mobile.
2. Consider adding a "Copy" action button?

[2020-10-21 03:01] zhouhanseng commented on #1751
done yesterday :  https://github.com/DimensionDev/Maskbook/pull/1757

BradGao <notifications@github.com> 于2020年10月21日周三 上午10:53写道：

[2020-10-21 03:08] #1751 closed

[2020-10-21 03:09] Tedko commented on #1751
Merged and closed.

One question: the copy paste will not work for img payload right?

[2020-10-21 03:12] zhouhanseng commented on #1751
I will do some research.

Suji Yan <notifications@github.com> 于2020年10月21日周三 上午11:09写道：

[2020-10-21 03:48] #1750 closed

[2020-10-21 03:57] Tedko commented on #1759
@yisiliu

[2020-10-21 04:14] #1698 closed

[2020-10-21 04:15] septs commented on #807
Migrate Failed.

[2020-10-21 04:15] #807 closed

[2020-10-21 06:23] Jack-Works commented on #1612
wait for TypeScript 4.1 RC (release on ~ Nov 3)

[2020-10-21 06:42] zhouhanseng commented on #1751
Well, I find that we can copy the image just like the text, and will make a
PR next.

周汉成 <z308114274@gmail.com> 于2020年10月21日周三 上午11:12写道：

[2020-10-21 06:49] guanbinrui commented on #1759
Learn more [Tether contract source code](https://etherscan.io/address/0xdac17f958d2ee523a2206206994597c13d831ec7#code).

[2020-10-21 07:11] #1258 closed

[2020-10-21 08:11] Jack-Works opened #1764 "[Task] Upgrade block chain related dependencies to latest"
Upgrade the following packages to the latest version

*   ! @ethersproject/\*
*   ! @uniswap/sdk
*   @walletconnect/client
*   eth-contract-metadata
*   web3
*   web3-core
*   ! typechain

("!" prefix means it might containing breaking changes)

[2020-10-21 08:12] zhouhanseng commented on #1751
https://github.com/DimensionDev/Maskbook/pull/1763

[2020-10-21 08:12] Jack-Works opened #1765 "[Task] Upgrade d3 to v6"
Changelog: https://github.com/d3/d3/releases

[2020-10-21 08:13] Jack-Works opened #1766 "[Task] Upgrade @msgpack/msgpack to v2"

[2020-10-21 08:47] #1125 closed

[2020-10-21 12:52] xiazhiming commented on #1736
的确没有默认这个需求。

[2020-10-21 12:54] guanbinrui commented on #1736
I'm removing this from UI.

[2020-10-22 02:24] #1701 closed

[2020-10-22 05:11] Jack-Works commented on #1363
done

[2020-10-22 05:11] #1363 closed

[2020-10-22 05:12] Jack-Works commented on #1322
closed by #1681

[2020-10-22 05:17] #1411 closed

[2020-10-22 05:17] #1322 closed

[2020-10-22 07:44] #1563 closed

[2020-10-22 10:57] zhouhanseng commented on #1749
No, the normal color of text in dark mode is different from this color.

[2020-10-22 13:26] Jack-Works commented on #1749
Maybe you can print out the theme actually used to figure out why

[2020-10-22 13:53] Tedko commented on #1749
can u reproduce

[2020-10-22 14:05] Tedko commented on #1759
any update? @guanbinrui

[2020-10-22 15:17] zhouhanseng commented on #1749
no

[2020-10-22 19:54] Tedko commented on #1749
On real iOS or simulator

[2020-10-23 02:36] zhouhanseng commented on #1749
simulator

[2020-10-23 02:36] Tedko commented on #1749
try real iOS

[2020-10-23 03:30] guanbinrui opened #1770 "[Bug] Add WalletConnect connection status"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-10-23 04:16] Tedko commented on #1770
Also MetaMask or should we do separate?

[2020-10-23 04:46] guanbinrui opened #1771 "[Bug] Version number is gone"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-10-23 09:47] Jack-Works opened #1775 "Wait for TypeScript-DOM-lib-generator#930 merged."
It can be removed after https://github.com/microsoft/TypeScript-DOM-lib-generator/pull/930

_Originally posted by @zhouhanseng in https://github.com/DimensionDev/Maskbook/pull/1763#r510119668_

[2020-10-23 09:49] guanbinrui commented on #1726
@zhouhanseng CoinGecko should not able to jump.

[2020-10-23 10:13] #1726 closed

[2020-10-23 13:14] guanbinrui opened #1777 "[Demand] WalletConnet Mobile Linking"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [x] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

Learn more https://docs.walletconnect.org/mobile-linking

[2020-10-23 13:20] guanbinrui opened #1779 "[Release] New release 1.18.0"

[2020-10-23 13:57] #1779 closed

[2020-10-23 15:14] guanbinrui opened #1781 "[Bug] The invalid CMC coin link"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-10-26 03:19] guanbinrui opened #1782 "[Bug] Wrong theme color in light mode."
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-10-26 03:45] #1771 closed

[2020-10-26 04:04] septs opened #1783 "[Demand] Integrated new encrypting image solution (image shuffle)"
## Catalogue

- [ ] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

1. active discovery based on metadata, need decrypt image (post)
2. encrypt and decrypt image in WebWorker
3. \[TODO\] manual mode (need

[2020-10-26 04:18] Tedko commented on #1749
@zhouhanseng

[2020-10-26 04:18] #1736 closed

[2020-10-26 04:19] Tedko commented on #1699
any update on this?

[2020-10-26 04:56] Jack-Works commented on #1782
https://github.com/DimensionDev/Maskbook/blob/7fb6dd5b2c74c3627dafb9b4e37cff39818c3f9d/src/extension/options-page/DashboardComponents/WalletAssetsTable.tsx#L33-L33

Because you're using this

[2020-10-26 04:57] Jack-Works commented on #1782
The default table in the light theme should look like

![](https://user-images.githubusercontent.com/5390719/97135252-be443980-178a-11eb-92d7-97b7a9d099bd.png)

[2020-10-26 05:09] Jack-Works commented on #1749
Is the color overwritten by a Twitter CSS? Maybe we should try to open the ShadowRoot mode on iOS again

[2020-10-26 05:10] Jack-Works commented on #1554
closed by #1778

[2020-10-26 05:10] #1554 closed

[2020-10-26 05:12] jk234ert commented on #1699
We moved back to the old implementation: Open FB website when you close the only dashboard tab.
This is still confusing, we are developing a new mobile UX (similar to friendly app) to completely fix all these weird UX

[2020-10-26 05:12] #1699 closed

[2020-10-26 05:27] jk234ert opened #1784 "[Demand] A separate menu bar on mobile app"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
The current Mask Network mobile app is comprised of a bunch of WebViews. The app works as a mobile runtime of our JavaScript code, leaving all features implemented by the JavaScript code.

## Part 2: Problem

[2020-10-26 06:13] #1608 closed

[2020-10-26 06:24] jk234ert opened #1786 "[Bug] Fail to download encrypted image payload in new "Manually Copy" dialog"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version:1.18.0
  -

[2020-10-26 07:11] Tedko commented on #1786
this ux actually is very strange. Download is for pasting it (upload) to the twitter/fb?

[2020-10-26 07:19] guanbinrui opened #1788 "[Release] Hotfix 1.18.0 => 1.18.1"
#1781 #1782

[2020-10-26 07:32] jk234ert commented on #1786
It's part of the "Manually Paste" feature, which means to provide an alternative solution for users when our auto-paste broken.

Auto-paste is good for sure, but easy to break. Image auto-paste is more fragile, so we could have the image copy(Download in specific platforms) for user to manually copy(download) the image, then use Twitter/fb's official way to upload.

[2020-10-26 07:43] Jack-Works commented on #1786
Oh, strange... IDK if it a bug of Safari...

[2020-10-27 03:36] #1782 closed

[2020-10-27 03:36] #1781 closed

[2020-10-27 04:05] #1788 closed

[2020-10-27 04:54] jk234ert commented on #1777
A link generated by WalletConnect **without** a specific wallet looks like:
`wc:683A78D3-95A5-40F8-89CC-00387F0BE2F8@1?bridge=https%3A%2F%2Fbridge.walletconnect.org&key=1be88ff699e2b32f97dbf7168ba47485dfc515712273a5d936cb99467eeefca3`

A link generated by WalletConnect that specified to connect to MetaMask looks like:
`https://metamask.app.link/wc?uri=wc%3Ac0535a0d-e54e-491a-90ac-93594c997eb9%401%

[2020-10-27 06:48] guanbinrui opened #1795 "[Release] Hotfix 1.18.1 => 1.18.2"

[2020-10-27 08:11] #1795 closed

[2020-10-27 08:11] guanbinrui opened #1796 "[Release] Hotfix 1.18.1 => 1.18.2"

[2020-10-27 09:40] septs commented on #1711
https://github.com/DimensionDev/browser-extension-action

[2020-10-27 09:46] #1796 closed

[2020-10-27 18:10] aahutsal commented on #1547
Why not use the `WalletConnect` protocol as the base?

[2020-10-27 18:10] aahutsal commented on #1722
Why not use the `WalletConnect` protocol as the base?

[2020-10-28 02:05] zhouhanseng opened #1800 "[Task] add inline !important style for react"
## Introduction and Background

To solve https://github.com/DimensionDev/Maskbook/issues/1749, preventing from any override to the color of link, we decided to give the link an inline style with a `!important` color. But we found `<Link style={{color: theme.palette.primary.main + ' !important'}}>` does not work.

Then we adopted this [temporary solution](https://stackoverflow.com/a/45669262): http

[2020-10-28 02:25] yisiliu commented on #1722
@aahutsal We are planning to integrate `WalletConnect` as an option in our internal wallet but we still need to have our own wallet for users who don't have `WalletConnect`. And, does `WalletConnect`support Solana or any other blockchains? In our new wallet architecture, we are not limited to any specific chain to support all the exciting systems.

[2020-10-28 02:29] Tedko commented on #1722
@yisiliu @aahutsal yeah i think `WalletConnect` dont support SOL or other chain.

[2020-10-28 02:51] aahutsal commented on #1722
@Tedko @yisiliu by default `WalletConnect` supports only `ETH` (aka `ERC20`) network. But with some modifications we've done for `NEO` network, it supports non-ERC20.  That's how I've found your project request on `gitcoin.co` and placed my bid there.

[2020-10-28 02:57] yisiliu commented on #1722
@aahutsal sounds great! My next questions will be 1. does it support all elliptic curves or even RSA(eg Arweave)? and 2. can it run as a local service with a local storage so that users won't need to install WalletConnect wallets? Thank you!

[2020-10-28 03:02] aahutsal commented on #1722
@yisiliu
1. Currently it does support only a limited set of requirements `NEO` network guys requested. But since I see the need for other blockchains in similar integration we might probably start a new project (aka grant) on gitcoin.co, collect funds, gather requirements, and implement all other features requested.
2. I've updated my previous comment, please, check it open repo and read diagrams

[2020-10-28 04:08] yisiliu commented on #1722
@aahutsal thanks bro! I am quite busy this week but I will try my best to explore your repo and will get back to you soon. I really appreciate your proposal and I am looking forward to our potential cooperation!

[2020-10-28 04:32] #1749 closed

[2020-10-28 05:39] aahutsal commented on #1722
@yisiliu I'm also leaving tomorrow till Monday. Schedule the meeting if you wish here: https://calendly.com/ahutsal

[2020-10-28 06:28] yisiliu commented on #1722
@aahutsal Booked on Nov 3rd! Thanks.

[2020-10-28 08:44] #1668 closed

[2020-10-28 11:45] #1800 closed

[2020-10-30 05:47] guanbinrui opened #1807 "[Release] Hotfix 1.18.2 => 1.18.3"

[2020-10-30 07:03] septs commented on #1711
- [ ] Auto Build and Publish nightly edition maskbook at daily (UTC+0 00:00, UTC+8 08:00)
- [ ] Extension Name modify to `Maskbook (Nightly)`
- [ ] Maskbook Popup and Dashboard use nightly edition special logo (like Firefox nightly edition)
- [ ] Nightly edition, need legal document (may be)

[2020-10-30 10:26] Jack-Works opened #1809 "[Task] Figure out what is https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/user_scripts"
Figure out the API

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/user_scripts

[2020-10-31 14:51] Tedko commented on #1733
any update? P1 issues need immediate fix

[2020-10-31 14:55] Tedko commented on #1733
tested on v1.18.2 on chrome and v 1.17.2 on iOS seems this is fixed already. Will close this and reopen if reproduced

[2020-10-31 14:55] #1733 closed

[2020-10-31 15:15] Tedko opened #1810 "[Demand] UX [Poll] rename into [Poll(beta)]"
<img width="667" alt="Screen Shot 2020-10-31 at 23 11 32" src="https://user-images.githubusercontent.com/6687437/97782862-f86c6b80-1bce-11eb-858a-b52ac7f8548a.png">

We should tell our user if a func is in beta or not.

## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction an

[2020-10-31 15:16] Tedko commented on #1810
@zhouhanseng

[2020-10-31 15:35] Tedko opened #1811 "[Bug] `Hide token` func in Mask.io Wallet is not working"
# Bug Report

Reproduce:

Goto dashboard - hide token - (even refreshing) not working.

But if you add a token (which you dont have **any** through `+ token` func -- you can hide token successfully.

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Vers

[2020-10-31 16:03] Tedko opened #1812 "[Bug] `Wake up` locked MetaMask when using wallet func (red packet, trade etc)"
# Bug Report

How to reproduce:

Lock the MM or wait to make it locked (looks like below)

<img width="364" alt="Screen Shot 2020-10-31 at 23 27 32" src="https://user-images.githubusercontent.com/6687437/97783799-f5747980-1bd4-11eb-8033-e7cc5fc405ff.png">

Then try use the MM wallet to do sth require wallet (send/receive red packet etc)

Then it looks like this:
<img width="1421" alt="Screen Shot

[2020-10-31 16:04] Tedko commented on #1759
is this fixed? @guanbinrui

[2020-10-31 16:12] Tedko commented on #1403
will close for now and deal w/ ```switch persona when composing a post.``` later

[2020-10-31 16:12] #1403 closed

[2020-10-31 16:20] Tedko commented on #1210
@zhouhanseng can you fix this? should be a quick fix

[2020-10-31 16:25] Tedko commented on #976
update:

- Now able to decrypt Twitter img payload on ios/android

[2020-10-31 16:26] Tedko commented on #367
close for now. will re evaluate later

[2020-10-31 16:26] #367 closed

[2020-10-31 16:35] septs commented on #1810
This effect may be better

Code:

[code]

[2020-10-31 16:38] Tedko commented on #1810
Agree with Septs
On Sun, Nov 1, 2020 at 00:35 Septs <notifications@github.com> wrote:

[2020-10-31 16:43] septs commented on #1810
[code]

section title of plugin, such may be better.

[2020-10-31 19:42] Tedko opened #1813 "[Bug] (Need fix on mobile) Breaking DOM change on You-Know-Where"
# Bug Report

For PC browser:

<img width="1421" alt="Screen Shot 2020-11-01 at 00 36 42" src="https://user-images.githubusercontent.com/6687437/97788370-632f9e00-1bf3-11eb-8e0c-66bca8bb6aef.png">
<img width="1424" alt="Screen Shot 2020-11-01 at 00 19 08" src="https://user-images.githubusercontent.com/6687437/97788372-64f96180-1bf3-11eb-89fa-5fda841fd040.png">

- Decryption/Detecting Failed;
- Enc

[2020-10-31 19:42] Tedko commented on #1813
@jk234ert @Jack-Works @zhouhanseng

[2020-10-31 19:43] Tedko commented on #1813
#1180

[2020-10-31 19:44] Tedko commented on #1813
@septs restart #1180 yourself? this priority is higher than the image shuffle

[2020-10-31 19:46] Tedko commented on #1711
do u need admin account to do sth from my side?

[2020-10-31 19:47] Tedko commented on #1586
try fix? @zhouhanseng

[2020-10-31 19:53] Tedko commented on #1759
Tested w/ MM wallet and internal wallet, seems this is not fixed:

<img width="1421" alt="Screen Shot 2020-11-01 at 03 50 27" src="https://user-images.githubusercontent.com/6687437/97788711-cc181580-1bf5-11eb-8dbe-2af76ce92b06.png">
<img width="1432" alt="Screen Shot 2020-11-01 at 03 52 59" src="https://user-images.githubusercontent.com/6687437/97788712-ccb0ac00-1bf5-11eb-8c7d-1d7e3d1b063b.png">

[2020-10-31 19:53] Tedko commented on #1759
should be bug from @yisiliu 's side

[2020-10-31 19:56] Tedko commented on #1574
Tested on iOS. working well

[2020-10-31 20:14] Tedko commented on #1303
duplicated issue

[2020-10-31 20:14] #1303 closed

[2020-10-31 20:15] Tedko commented on #1391
@zhouhanseng can you still reproduce?

[2020-10-31 20:23] Tedko opened #1814 "[Bug] `Auto-paste failed` alert not working accurately"
# Bug Report

Even the auto-paste is working well still the alert pop-up;

- On iOS/Android compose encrypted text msg on fb(twitter is fine):
![IMG_8590](https://user-images.githubusercontent.com/6687437/97789229-ad1b8280-1bf9-11eb-9f0b-db52abbf99d5.PNG)

- On Web, compose img payload on twitter etc
<img width="1431" alt="Screen Shot 2020-10-31 at 22 56 09" src="https://user-images.githubusercont

[2020-10-31 20:30] Tedko commented on #1437
will come back later

[2020-10-31 20:30] #1437 closed

[2020-10-31 20:31] #1047 closed

[2020-10-31 20:35] Tedko commented on #1400
tested. the `mailto:` is working

[2020-10-31 20:36] Tedko commented on #1054
do we still need this issue for now?

[2020-10-31 20:38] #1401 closed

[2020-10-31 20:45] Tedko commented on #1574
will close for now

[2020-10-31 20:45] #1574 closed

[2020-11-02 02:10] Jack-Works commented on #1054
Maybe, yes

[2020-11-02 02:12] Jack-Works commented on #1814
Yes, because the detect of auto-paste is also not reliable

[2020-11-02 02:16] Jack-Works commented on #1810
Don't use html because the api doesn't support proving html. Maybe use a "beta: true" when registering plugin

[2020-11-02 02:59] septs commented on #1810
add idea, add a `PluginStage` enum.

[code]

[2020-11-02 04:32] #1210 closed

[2020-11-02 05:39] jk234ert commented on #1814
As a fallback solution when our auto-paste not working, I suggest to re-design the "Auto-paste alert" to a "Manually paste dialog".
An example would be like:
1. Whenever a new encrypted message (Text Or Image payload) generated, Mask Network tries to auto-paste the payload into the compose dialog.
2. Do NOT check whether the auto-paste work as expected, always display the "Manually paste dialog",

[2020-11-02 05:44] jk234ert commented on #1813
@Tedko Chrome and FF store 1.18.3 released. This issue should be fixed on Chrome & FF.
Still testing on Mobile

[2020-11-02 06:10] guanbinrui opened #1827 "[Release] Hotfix 1.18.3 => 1.18.4"

[2020-11-02 06:20] #1807 closed

[2020-11-02 06:48] zhouhanseng commented on #1391
Unable to develop on Firefox, I had reported this issue to jack.

[2020-11-02 08:32] zhouhanseng commented on #1391
@Tedko I can still reproduce this.

[2020-11-02 08:47] Tedko commented on #1391
@Jack-Works any idea?

[2020-11-02 09:03] Jack-Works commented on #1391
I'll fix firefox version later

[2020-11-02 11:39] #1810 closed

[2020-11-02 17:53] Tedko commented on #1813
Fixed on PC

[2020-11-02 17:58] Tedko opened #1831 "[Bug] Hide Transak in the released ver until its useable"
# Bug Report

At least fix the wrong email, make the default blank.

[2020-11-02 17:59] #1092 closed

[2020-11-02 18:00] Tedko commented on #1727
@guanbinrui @Jack-Works @septs update?

[2020-11-02 18:03] Tedko commented on #1180
@jk234ert @septs we need this asap for any breaking DOM. otherwise the outcome will be disaster

[2020-11-02 18:07] Tedko commented on #1549
![photo_2020-11-03_02-06-33](https://user-images.githubusercontent.com/6687437/97903023-6359a600-1d79-11eb-882d-1abd03b69201.jpg)

[2020-11-02 18:10] Tedko opened #1832 "[Bug] Red Packet related issue"
# Bug Report

- [x] #1549

- [ ] #1759

- [ ] #1752

- [x] #1833

- [x] #1834

[2020-11-02 18:12] Tedko commented on #1814
@Jack-Works @jk234ert
at least we need a timeout like 15s. otherwise the dialog will be there for a long time

[2020-11-02 18:13] Tedko commented on #1814
again this UX is not usable.. will only create confusion

[2020-11-02 18:17] Tedko opened #1833 "[Bug] The helper of paying gas of Red Packet is not working?"
# Bug Report

no tx for `0x9972D940c9a23F84Fcf92867d18F28D75D010e5e` for a while.

while the latest one https://etherscan.io/txs?a=0x26760783c12181efa3c435aee4ae686c53bdddbb is few days ago and no one used the helper successfully.

[2020-11-02 18:21] Tedko commented on #1752
any reason behind? @guanbinrui

[2020-11-02 18:28] Tedko commented on #1549
try to send 0.01eth Red packet. the tx went through but got this problem    (   https://github.com/DimensionDev/Maskbook/issues/1549#issuecomment-720636565 ).
ps tx: https://etherscan.io/tx/0xe3f4140269e61754f1553cbbc18a034608cdc68ce1dd330d0433cfb3cf339fab

[2020-11-02 18:33] Tedko commented on #1711
@OiCkilL need an icon etc for this

[2020-11-02 18:35] Tedko commented on #1737
@jk234ert any update?

[2020-11-02 18:38] Tedko opened #1834 "[Demand] How to return token from unclaimed red packet?"
1. Is the red packet history able to function and read RP history?
2. How to return token from unclaimed red packet? Is it doable? Need an FAQ @zhouhanseng wanna help write up?
3. Need an alert system or something to tell the user?

[2020-11-02 18:50] Tedko opened #1835 "[Bug] Red packet Claiming bug"
# Bug Report

See comments here:

https://twitter.com/QIAN_Stablecoin/status/1321800343819182080

Also:

<img width="629" alt="Screen Shot 2020-11-03 at 02 49 09" src="https://user-images.githubusercontent.com/6687437/97906764-2f817f00-1d7f-11eb-8dee-3d6c448a511c.png">

maybe related with #1833

[2020-11-03 01:23] Jack-Works opened #1837 "Task: Re-design changes in #1826"
#1826

[2020-11-03 01:28] Jack-Works commented on #1752
It deliberated hard-coded on Facebook but I'm not clear why. @guanbinrui left a comment in the code says:

[2020-11-03 01:28] Jack-Works commented on #1752
https://github.com/DimensionDev/Maskbook/blob/7390500ffe0c5de9beb04f8f9cf3e67841558554/packages/maskbook/src/social-network-provider/facebook.com/tasks/uploadToPostBox.ts#L24-L24

[2020-11-03 01:35] Jack-Works commented on #1814
draft a fix in #1838

[2020-11-03 01:36] Jack-Works commented on #1180
or we need to develop #1552

[2020-11-03 01:40] #1811 closed

[2020-11-03 01:44] Jack-Works opened #1839 "[Task] Design plugin hooks for Post Dialog post shell overwrite and Theme overwrite"
RedPacket and #1798 can benefit from this API

[2020-11-03 02:00] Jack-Works commented on #1839
also allow specify custom image payload base image

[2020-11-03 02:26] zhouhanseng commented on #1586
@Tedko
@guanbinrui and I can't reproduce it now.

[2020-11-03 03:45] zhouhanseng commented on #1834
1. Read red packet history is **read-only call** which is fast and gas free, it is doable, I checked our current ABI, it seems like need an update to the smart contract to support history query.
2. We can transfer token to anyone include ourselves. This had been done, after the red packet outdated we can refund.
3. Maybe we can put the history list in dashboard, and user can refund by clicking a b

[2020-11-03 06:43] guanbinrui commented on #1831
It's useable from v1.18.3.

[2020-11-03 06:44] #1831 closed

[2020-11-03 07:41] aahutsal commented on #1722
@yisiliu thanks for approval. Unfortunately, I have been late for a meeting that been scheduled 30 mins ago. Can we reschedule for today afternoon?

[2020-11-03 07:46] yisiliu commented on #1722
@aahutsal yes I did email you for the link lol. I am not sure if I am gonna make it this afternoon. Can we do it tomorrow afternoon?

[2020-11-03 07:50] aahutsal commented on #1722
sure, tomorrow would work for me

[2020-11-03 08:24] aahutsal commented on #1722
Please, schedule yourself: https://calendly.com/ahutsal

[2020-11-03 08:24] aahutsal commented on #1722
Okay. You booked Friday. Would work for me. Tty then.

[2020-11-03 08:36] yisiliu commented on #1722
@aahutsal That wasn't me. I just booked tomorrow.

[2020-11-03 15:15] aahutsal commented on #1722
My bad. That was not you :) See you've booked tomorrow. Talk then.

[2020-11-04 02:15] guanbinrui opened #1844 "[Release] New release 1.19.0"

[2020-11-04 03:45] OiCkilL commented on #1711
![MB--Logo--Geo--ForceCircle--Nightly](https://user-images.githubusercontent.com/613988/98066855-37cade80-1e93-11eb-8881-2961f4aa682a.png)

[MB--Logo--Geo--ForceCircle--Nightly.zip](https://github.com/DimensionDev/Maskbook/files/5485388/MB--Logo--Geo--ForceCircle--Nightly.zip)

[2020-11-04 07:13] guanbinrui opened #1846 "[Release] Hotfix 1.18.4 => 1.18.5"

[2020-11-04 07:14] #1844 closed

[2020-11-04 07:27] #1846 closed

[2020-11-04 07:55] guanbinrui opened #1848 "[Release] Hotfix 1.19.1 => 1.19.2"

[2020-11-04 11:32] #1848 closed

[2020-11-05 06:29] aahutsal commented on #1722
@yisiliu could you please clarify how many "new blockchains other than Ethereum" should be integrated with the scope of a current project?

[2020-11-05 08:41] yisiliu commented on #1722
@aahutsal for now we are looking at: Ethereum, Polkadot and its parachains, Solana, NEAR, and Arweave(quite different tbh).

[2020-11-05 13:39] zhouhanseng commented on #1812
2 things to confirm: Can we detect if MM has locked? Can we open the MM popup through code?

[2020-11-05 17:38] Tedko opened #1852 "[Bug] Append Recipients `close X` button not working"
# Bug Report

<img width="1431" alt="Screen Shot 2020-11-06 at 01 37 10" src="https://user-images.githubusercontent.com/6687437/98276293-b7aa9300-1fd0-11eb-8752-9e1160b29162.png">

## Environment

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ]

[2020-11-05 17:42] Tedko commented on #1834
3-> assigned to @guanbinrui

[2020-11-05 17:47] Tedko commented on #1770
lets prioritized this one @guanbinrui

[2020-11-05 17:51] Tedko commented on #1759
@yisiliu @guanbinrui

[2020-11-05 17:57] Tedko opened #1853 "[Bug] Append Recipient `Search box` missing"
# Bug Report

<img width="1013" alt="Screen Shot 2020-11-06 at 01 56 04" src="https://user-images.githubusercontent.com/6687437/98278360-72d42b80-1fd3-11eb-8d69-63e631c6f8b1.png">

[2020-11-05 18:02] Tedko opened #1854 "[Bug] version number display is missing"
latest chrome store vr: 1.19.2

<img width="1431" alt="Screen Shot 2020-11-06 at 02 00 54" src="https://user-images.githubusercontent.com/6687437/98278756-060d6100-1fd4-11eb-97ff-fbe22855db39.png">

[2020-11-05 18:10] Tedko commented on #1854
@guanbinrui any bug introed by the recent update?

[2020-11-05 23:27] guanbinrui opened #1855 "[Release] Hotfix 1.19.2 => 1.19.3"

[2020-11-06 00:34] zhouhanseng commented on #1852
@Tedko how to reproduce?

[2020-11-06 01:20] #1853 closed

[2020-11-06 03:30] guanbinrui opened #1858 "[Release] Hotfix 1.19.3 => 1.19.4"

[2020-11-06 03:48] #1855 closed

[2020-11-06 04:48] zhouhanseng opened #1860 "[Task] Decide write our own mm extension-provider or not"
## Content

[extension-provider](https://github.com/MetaMask/extension-provider) has not been updated for long time. It still uses `metamask-inpage-provider@1.1.0`, which only has a few features and does not include `ethereum.request()`.

Need to confirm if we can use `ethereum.request()` to detect if metamask is locked https://github.com/DimensionDev/Maskbook/issues/1812

[2020-11-06 04:52] Tedko commented on #1852
Send a post to 'myself' and try append recp

[2020-11-06 04:54] guanbinrui opened #1861 "[Release] Hotfix 1.19.4 => 1.19.5"
#1770

[2020-11-06 04:54] #1858 closed

[2020-11-06 04:54] #1827 closed

[2020-11-06 05:01] guanbinrui commented on #1854
![test](https://user-images.githubusercontent.com/52657989/98328224-2bc85380-2030-11eb-877a-f0699a8b05fe.png)

Strange. It's Ok on my end.

[2020-11-06 06:53] #1852 closed

[2020-11-06 09:30] aahutsal commented on #1722
By Ethereum you mean Ethereum only, or all ERC20? It's quite a lot.

[2020-11-08 18:49] developerfred commented on #1722
@yisiliu What is the Maskona Solet wallet for fee for swaps made on twitter?

[2020-11-09 01:41] jk234ert opened #1865 "[Bug] Fail to decode red packet payload on mobile on twitter"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version:
  - iOS V

[2020-11-09 02:02] Jack-Works commented on #1865
@jk234ert iOS only?

[2020-11-09 02:27] guanbinrui commented on #1834
Yes, we have this feature built.

<img width="1128" alt="test" src="https://user-images.githubusercontent.com/52657989/98493714-18a6c500-2276-11eb-92e8-4d5d83639532.png">

[2020-11-09 02:31] guanbinrui opened #1866 "[Bug] Version absence on the about dialog"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-11-09 02:44] guanbinrui opened #1867 "[Bug] Should prohibit the use of test networks"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-11-09 02:57] guanbinrui commented on #1752
Wait for the new version of Stego-JS.

[2020-11-09 03:10] guanbinrui opened #1868 "[Demand] The responsive drawer for better UX on the mobile device"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

https://material-ui.com/components/drawers/#responsive-drawer

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-11-09 03:17] guanbinrui commented on #1868
Dup of #1784

[2020-11-09 03:17] guanbinrui commented on #1784
We can use [Drawer](https://material-ui.com/components/drawers/#responsive-drawer) on both side.

[2020-11-09 03:17] #1868 closed

[2020-11-09 03:28] #1814 closed

[2020-11-09 05:39] Tedko commented on #1722
For Ethereum it will be a full useable wallet for our mask.io internal wallet. That include erc20/721; try the latest ones you can actually see we already have 721 beta.

[2020-11-09 08:59] guanbinrui opened #1873 "[Task] Tracking ABIs in the codebase"
## Introduction and Background

Contract ABIs are not tracking in the codebase now. We should create an `abis/` folder for keeping those files.

/_Describe the background of this task_/

## Content

+ Tracking contract ABIs in the current codebase.
+ Listing the `solcjs`  in the deps list of the project.
+ Rewrite `contract.sh` in JavaScript.

[2020-11-09 09:07] Jack-Works commented on #1873
packages/eth-abis/

[2020-11-09 11:08] #1833 closed

[2020-11-09 11:22] #1861 closed

[2020-11-09 11:25] guanbinrui commented on #1865
This issue caused by `eval` used in the `template` function which provided by `lodash`.

[2020-11-09 11:32] #1865 closed

[2020-11-09 11:32] #1866 closed

[2020-11-10 04:43] Jack-Works commented on #1860
if we need to write one, please move it to another repo 👀

[2020-11-10 04:45] guanbinrui commented on #1860
Why we need `ethereum.request()`?

[2020-11-10 04:53] Jack-Works commented on #976
so close this?

[2020-11-10 06:06] Tedko commented on #1854
after upgrading i cant reproduce as well. will close this for now

[2020-11-10 06:06] #1854 closed

[2020-11-10 06:19] zhouhanseng commented on #1860
Using `ethereum._metamask.isUnlocked()` to detect if mm is locked. If it is locked then calling `ethereum.request({ method: 'eth_requestAccounts', params: [] })` could popup mm dashboard. These two methods are neither supported by old extension-provider.

[2020-11-10 07:02] zhouhanseng commented on #1812
https://www.dropbox.com/s/272rf515r5xzp4h/unlock-mm.mov?dl=0

[2020-11-11 02:57] zhouhanseng commented on #1784
Can we use [floating-action-button](https://material.io/components/buttons-floating-action-button)?

[2020-11-11 03:07] Jack-Works commented on #1784
We have that in our UI lib https://material-ui.com/components/floating-action-button/

[2020-11-11 05:02] Jack-Works commented on #1604
File Service: #1880

[2020-11-11 11:39] Tedko commented on #1834
seems this is fixed.

Right now we need:

- FAQ on this feature @tsuki
- UX improve （现在不明显） low priority

[2020-11-11 11:40] #1834 closed

[2020-11-11 11:42] Tedko opened #1881 "[Demand] Red packet return money FAQ etc"
Right now we need:

- FAQ on this feature -> tsuki
- UX improve （现在不明显） low priority

[2020-11-11 11:57] Tedko commented on #1549
Tried 0.01 eth Redpack and went through. (ios latest testflight)

[2020-11-11 11:57] #1549 closed

[2020-11-11 12:04] Tedko opened #1882 "[Bug] Red Packet get stuck (cannot reproduce easily)"
<img width="1603" alt="Screen Shot 2020-11-11 at 19 59 28" src="https://user-images.githubusercontent.com/6687437/98809808-24061600-2459-11eb-8318-89304cd6f5dd.png">

# Bug Report

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskboo

[2020-11-11 12:08] Tedko commented on #1813
Tested on ios tf 1.19. not fixed yet

[2020-11-11 12:10] Tedko commented on #1860
whats the pro and con

[2020-11-11 12:11] Tedko commented on #1812
👍🏻👍🏻 cool fix

[2020-11-11 12:14] Tedko commented on #1737
@jk234ert

[2020-11-11 12:17] jk234ert commented on #1737
It's caused by the new version of Android GeckoView, we are still working on it

[2020-11-11 12:18] Tedko commented on #1737
ok😂

On Wed, Nov 11, 2020 at 20:17 BradGao <notifications@github.com> wrote:

[2020-11-11 12:19] Tedko commented on #1737
can we downgrade or stay at a stable ver?

[2020-11-11 12:21] #1337 closed

[2020-11-11 12:24] zhouhanseng commented on #1860
@Tedko

We have just forked a temporal [package](https://github.com/DimensionDev/extension-provider) for MetaMask/extension-provider. Before they accept our [PR](https://github.com/MetaMask/extension-provider/pull/15) we can use the forked version.

[2020-11-11 12:25] Tedko commented on #1860
Ok. I will ping MM team

On Wed, Nov 11, 2020 at 20:24 Hancheng Zhou <notifications@github.com>
wrote:

[2020-11-11 13:58] Jack-Works commented on #1737
Curious the reason

[2020-11-12 00:19] danfinlay commented on #1860
We've now published the inpage-provider update as `@metamask/extension-provider@2.0.0`, thanks for the help!

[2020-11-12 02:10] jk234ert commented on #1737
Sadly file Import & Export inside a browser extension has been buggy in GeckoView for a long duration.
On older version @Tlaster have developed a patch to resolve, we need to update the patch for the new GeckoView version.

[2020-11-12 04:35] zhouhanseng commented on #1860
@danfinlay Hi, so glad to see this publish is so fast!

There's one more issue:

Currently we can call `ethereum.request()` to popup metamask dashboard to prompt user to unlock when metamask is locked. But if I have called `ethereum.request()`, then I call it again, it will throw an error: `Object: Already processing eth_requestAccounts. Please wait.(-1)`, which cause it is unable to popup again.

[2020-11-12 04:38] Tedko commented on #1737
is upstream from Firefox accepting PRs 😂?

On Thu, Nov 12, 2020 at 10:10 BradGao <notifications@github.com> wrote:

[2020-11-12 05:02] Jack-Works opened #1884 "[Demand] Settings/state internal implementation need an isolated API"
Now we're using `createGlobalSettings` for the internal state (for example, currently connected wallet type) which is a misuse. Because `createGlobalSettings` will persistent the stored value but it may not make sense for things like `currently connected wallet type`.

|                          | Persistent ✔         | Persistent ❌      |
|--------------------------|----------------------|-------

[2020-11-12 05:50] #1604 closed

[2020-11-12 05:51] Jack-Works opened #1886 "[Demand] On-demand open Gun connection and run it in Web Worker"

[2020-11-12 08:52] yisiliu opened #1892 "[Bounty] Online Event Registration Plugin"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [x] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other

## Part 1: Introduction and Background

Many events are relying on social networks to spread to and attract more users. However, Twitter does not support enclosing an event into a single post. All we can do is to share an eventbrite link in the tweet and let the othe

[2020-11-12 13:26] Tedko commented on #1892
Maybe take a look of `kickback` ?

[2020-11-12 17:59] Tedko commented on #1892
https://kickback.events/

[2020-11-13 01:34] jk234ert opened #1896 "[Bug] New mobile app dashboard design & related modification"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
Our mobile app UX need refinement

## Part 2: Problem to Solve
1. A global entry for Mask Network dashboard page needed. Instead of an unstable injected one inside Twitter/Fb
2. A native navigation/menu bar

[2020-11-13 02:02] #1770 closed

[2020-11-13 02:02] #1867 closed

[2020-11-13 03:40] #1860 closed

[2020-11-13 07:04] jk234ert opened #1903 "[Demand] separate external URL & universal link"
## Catalogue

- [ ] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
To make mobile apps working with other WalletConnect support apps, Mask Network mobile app need to know how to handle specific URL & link opening event sent from webview.

## Part 2: Problem to Solve
Now we

[2020-11-13 07:05] septs commented on #1903
CC @Jack-Works

[2020-11-13 07:20] Jack-Works commented on #1903
LGTM

[2020-11-13 08:20] zhouhanseng commented on #1812
close by https://github.com/DimensionDev/Maskbook/pull/1883

[2020-11-13 08:20] #1812 closed

[2020-11-13 09:14] guanbinrui opened #1906 "[Demand] Able to choose the gas price for transactions which send by the managed wallet"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [x] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-11-14 08:57] Tedko opened #1907 "[Demand] Able to send token directly within Mask Wallet"
## Catalogue

- [ ] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

Now we need to enable the user to send token / NFT directly within the wallet page;
Few steps:
- Able to send token in internal wallet
- Able to send NFT in internal
- Able to send in external

## Part 2: P

[2020-11-15 15:26] Tedko commented on #1813
Not fixed on Android and iOS yet. @jk234ert need speed up

[2020-11-15 15:31] Tedko commented on #1813
cc @Jack-Works

[2020-11-15 15:32] Tedko commented on #1777
update? @septs @jk234ert

[2020-11-15 15:36] Tedko commented on #409
abandoned

[2020-11-15 15:36] #409 closed

[2020-11-15 15:41] Tedko commented on #976
@jk234ert @Jack-Works not able to decrypt img payload on iOS TF ver again.

eg Case: https://twitter.com/suji_yan/status/1327057013310799872?s=20

[2020-11-15 15:43] Tedko commented on #976
Oh its working... its just very slow on ios tf ver

[2020-11-15 15:48] Tedko commented on #976
I will close this issue and open other following ups

Now we can:
- Decrypt img payload on both iOS and Android on Twitter;
- For fb this bug is blocked by #1813

We need to followup on
- Decryption speed is very slow for img payload
- Fix Fb after #1813
- Able to send img payload through ios/android

[2020-11-15 15:48] #976 closed

[2020-11-15 15:53] #1546 closed

[2020-11-15 15:54] #953 closed

[2020-11-15 15:56] Tedko commented on #976
Also
`Able to send img payload through ios/android`
is related with #1786

[2020-11-15 15:58] Tedko commented on #1547
Will close this issue for now

[2020-11-15 15:58] #1547 closed

[2020-11-15 16:04] Tedko opened #1909 "[Bug] Able to send img payload through mobile Mask.io"
# Bug Report

followup of #976;
Now blocked by #1786 ;

But we still need to study whats the best way to send img payload through mobile Mask.io; Download locally and upload again is not the best way.

[2020-11-15 16:05] Tedko commented on #1813
Also need to fix decrypt  img payload  #976

[2020-11-16 07:07] Jack-Works commented on #1813
Let me check out this

[2020-11-16 08:24] guanbinrui opened #1913 "[Bug] Duplicate RedPacketRecord in DB"
# Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [x] Chrome

  - Maskbook Version:
  - Browser Version:

- [x] Firefox

  - Maskbook Version:
  - Browser Version:

- [ ] Android

  - Maskbook Version:
  - Android Version:

- [ ] iOS
  - Maskbook Version:
  - iOS V

[2020-11-16 08:40] zhouhanseng commented on #1784
https://github.com/DimensionDev/Maskbook/issues/1896

[2020-11-16 09:10] Jack-Works commented on #1813
Decryption on mobile failed with `decode image failed`, not the reason for DOM finding cc @guanbinrui .

https://scontent-hkg4-2.xx.fbcdn.net/v/t1.0-0/cp0/e15/q65/p526x395/125216073_719102385685163_2824552710096681592_o.jpg?_nc_cat=104&ccb=2&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=LFMYNZynJtoAX-sBUNQ&_nc_ht=scontent-hkg4-2.xx&tp=3&oh=bf05ed4be70468b30a31f59a76e788b5&oe=5FD83C25

here is an example

[2020-11-16 09:14] Jack-Works commented on #1813
![](https://user-images.githubusercontent.com/5390719/99233970-e88b9300-282e-11eb-9bdb-dc679356c859.png)

[2020-11-16 19:11] Tedko opened #1915 "[Demand] Transak/Fiat Entrypoint"
## Catalogue

- [ ] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

This demand relies on 1. Trader Plugin 2. Finish of enhanced search (see picture below)
![12831605511860_ pic_hd](https://user-images.githubusercontent.com/6687437/99296761-32519900-2882-11eb-8f67-ed443bf46

[2020-11-17 06:26] Tedko opened #1917 "[Bug] ETH icon display error in Mask wallet"
<img width="1611" alt="Screen Shot 2020-11-17 at 14 18 42" src="https://user-images.githubusercontent.com/6687437/99354160-dec26800-28e0-11eb-93c2-caaab13f2c7b.png">

[2020-11-17 09:29] zhouhanseng commented on #1917
@Tedko This bug is caused by bad network so that image download failed which leads to use the default icon. The current default icon does not make sense, we should load local ETH fallback icon when network request failed.

But it is impossible to give fallback for [all assets](https://github.com/trustwallet/assets/tree/master/blockchains/ethereum/assets), so please provide an address of common-use

[2020-11-17 09:37] Jack-Works opened #1918 "[Task] Stop using SWR?"
Pros:

- Auto-revalidation when focus changed

Cons:

- https://github.com/vercel/swr/discussions/600 it's a foot gun

[2020-11-17 11:33] aahutsal commented on #1722
@Tedko @yisiliu I'm working on `docker-compose` that's intended to run all nodes for blockchains listed (Ethereum, PolkadotSolana, NEAR, and Arweave). My PIXELBOOK 2019 with 16GB RAM gets slow running all of that. Besides that - it would take agest and gigabytes to sync nodes running.

I think we should consider moving these nodes to some public IP and probably scaling them horizontally (similar t

[2020-11-17 11:38] developerfred commented on #1722
@aahutsal try use gitpod.io for running your nodes.

[2020-11-17 12:07] jk234ert commented on #1777
Please add the following wallet apps support in the next version @septs :
1. Rainbow
2. MetaMask
3. Trust
4. imToken

Because only the above four apps successfully connected on iOS in my test

[2020-11-17 12:15] aahutsal commented on #1722
Thanks, @developerfred . I'll ask you once I need your assistance.

[2020-11-17 12:26] jk234ert commented on #1784
Close this issue since detailed changes are listed in #1897

[2020-11-17 12:26] #1784 closed

[2020-11-17 12:37] developerfred commented on #1722
@aahutsal No worries, at any time

[2020-11-17 13:08] aahutsal commented on #1722
@yisiliu @Tedko I guess you got my previous message - I'm not asking where to get the more powerful machine to finish that project. I own a bunch of hardware locally. I'm talking about the challenges your end-users will be faced with.

[2020-11-17 13:11] Tedko commented on #1722
Gotcha. I will ping public chain folks see whether they have the solution. -

[2020-11-17 13:13] aahutsal commented on #1722
kk

[2020-11-17 13:58] Jack-Works opened #1919 "[Task] Extending MUI component variants / prop for our customized component"
Material UI v5 does have support for this but we need to upgrade from `v5-alpha.5` to newer. I'll do the upgrading if the v5 solution seems good.

[2020-11-17 14:59] Tedko commented on #1722
For Near:
https://rpc.mainnet.near.org

For Solana i guess they also have the rpc solution :_)

[2020-11-17 15:18] aahutsal commented on #1722
Well, I know that most of the services run their own HTTP REST endpoints. I've considered that long ago. This solution has its own pros and cons. I'll explain in detail in the email I'm working on. Will sent to @yisiliu and ask CC you. Since the gitcoin project is a contest project I guess it's reasonable to keep discussing via email privatelly.

[2020-11-17 15:19] Tedko commented on #1722
No problem. my email: suji.yan [AT] dimension.im

[2020-11-18 06:41] #1813 closed

[2020-11-18 10:51] #1917 closed

[2020-11-18 15:49] Tedko commented on #1882
cannot reproduce

[2020-11-18 15:49] #1882 closed

[2020-11-19 01:05] jk234ert opened #1924 "[Demand] Interface used for communication between mobile app native & JavaScript"
## Catalogue

- [ ] UI/UX
- [x] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
As we are optimizing our mobile app UX, many native features need to fetch the actual value from the JS side (e.g. connected personas, preferences), we need an interface for mobile app native to interact wit

[2020-11-19 01:21] jk234ert commented on #1703
Let's divide this issue into the following modification requests:
- [ ] Make the username input field disabled before Maskbook could properly retrieve the logged-in username value.
- [ ] Change the title and hint text as following (all these text below are DRAFT version, list here as a sample ) :
   - [ ] Before username retrieved:
           1. Title: "Looking for your username"
           2. Hin

[2020-11-19 01:35] Jack-Works commented on #1703
In older version it can be folded

[2020-11-19 05:20] Jack-Works opened #1926 "Add "universal-link" to `webextension-polyfill` repo"
Would you like to add a PR to `webextension-polyfill` also?

_Originally posted by @Jack-Works in https://github.com/DimensionDev/Maskbook/pull/1904#r522813905_

[2020-11-19 05:31] #1926 closed

[2020-11-19 05:47] aahutsal commented on #1722
@Tedko can you confirm you received the email I've sent a few hours ago?

[2020-11-19 08:47] guanbinrui commented on #1120
This issue is fixed.

[2020-11-19 08:47] #1120 closed

[2020-11-19 08:50] guanbinrui commented on #1269
Had talked to @OiCkilL before. This edition could be droped.

[2020-11-19 08:50] #1269 closed

[2020-11-19 08:52] guanbinrui commented on #1315
This issue has been resolved.

[2020-11-19 08:52] #1315 closed

[2020-11-19 09:14] septs commented on #1903
#1904 #1926 DimensionDev/webextension-polyfill#11

[2020-11-19 09:14] #1903 closed

[2020-11-19 10:03] yisiliu commented on #1722
I think so. Thank you!

[2020-11-19 10:04] Tedko commented on #1722
We received thx

On Thu, Nov 19, 2020 at 18:03 Yisi Liu <notifications@github.com> wrote:

[2020-11-19 11:49] Jack-Works commented on #1201
Bump

[2020-11-19 11:50] Jack-Works commented on #1279
Bump

[2020-11-19 11:50] Jack-Works commented on #1271
Bump

[2020-11-20 04:00] guanbinrui commented on #1727
Closed by #1772.

[2020-11-20 04:00] #1727 closed

[2020-11-21 06:58] jk234ert commented on #1777
Progress:
iOS:
- [x] Connet with other wallet apps
- [ ] Send tx to other wallet apps

Android:
- [ ] Connet with other wallet apps
- [ ] Send tx to other wallet apps

[2020-11-22 07:55] Jack-Works commented on #1324
I'll open a new issue for discussion

[2020-11-22 07:55] #1324 closed

[2020-11-22 08:04] Jack-Works opened #1937 "[Discussion] npm, pnpm, yarn or yarn 2"
|                           | npm | pnpm | yarn 1 | yarn 2 | yarn 2 with PNP |
|---------------------------|-----|------|--------|--------|-----------------|
| Workspace                 | ✔   | ✔    | ✔      | ✔      | ✔               |
| Prevent accidental import | ❌   | ✔    | ❌      | ❌      | ✔               |
| Modify package install    | ❓   | ✔    | ❓      | ✔      | ✔               |
| Mod

[2020-11-22 08:06] Jack-Works commented on #1937
Please vote (via Github reaction) or comment.

🎉 = npm
🚀 = pnpm
♥ = yarn
👀 = yarn 2

[2020-11-22 08:08] Jack-Works commented on #1937
Please vote (via Github reaction) or comment and address your argument.

Should we use PNP (Plug and Play)? pnpm and yarn 2 support this feature.

Reaction with 👍 or 👎

[2020-11-22 08:11] Jack-Works commented on #1937
Please vote (via Github reaction) or comment and address your argument.

Which one to use?

🎉 = lerna (works with npm, yarn and yarn 2)
🚀 = rush (works with npm 5 and pnpm)
👀 = npm/pnpm/yarn workspace only

[2020-11-22 13:15] septs opened #1938 "[Discussion] Use `urlcat` build url?"
see https://github.com/balazsbotond/urlcat

![](https://github.com/balazsbotond/urlcat/raw/master/docs/urlcat-basic-usage.svg)

sample code:
[code]

CC @guanbinrui @Jack-Works @zhouhanseng

[2020-11-22 13:20] Jack-Works commented on #1938
Are we built URL frequently?

[2020-11-23 01:53] jk234ert opened #1939 "[Bug] Recursive event loop on mobile"
## Bug Report

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

### Platform/Browser

- [ ] Chrome

  - Maskbook Version:
  - Browser Version:

- [ ] Firefox

  - Maskbook Version:
  - Browser Version:

- [] Android

  - Maskbook Version:
  - Android Version:

- [x] iOS
  - Maskbook Version:
  - iOS V

[2020-11-23 02:18] guanbinrui opened #1940 "[Demand] Update the UI of composition entrance"
## Catalogue

- [x] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background

https://www.figma.com/file/xKe7ox6o2tchhifrqIEO2n/small-logos-in-twitter?node-id=0%3A1&viewport=109%2C403%2C0.24948465824127197

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

[2020-11-23 02:25] jk234ert opened #1941 "[Demand] Implementing Connective-based messaging interface for Android app"
## Catalogue

- [x] UI/UX
- [] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [ ] Other
  - /_List it here_/

## Part 1: Introduction and Background
To implement the new Android app UX, Android app native needs a way to communicate with JS, since we are using GeckoView, the best (maybe only) solution is to use GeckoView's Connective-based messaging featur

[2020-11-23 02:47] Jack-Works commented on #1941
@jk234ert We should use the native messaging as JSON RPC channel so it will be easier to extends two-way communication.

[2020-11-23 02:48] Jack-Works commented on #1941
If iOS and Android implements the same set of RPC methods, it is possible to abstract them better.

Today:

[code]

[2020-11-23 03:05] jk234ert commented on #1941
I'm afraid Android GeckoView does not support our RPC methods, need some investigation

[2020-11-23 04:58] Jack-Works commented on #1941
We just use the Connection-based port to transfer messages. It doesn't care about what is inside.

[2020-11-23 05:21] Jack-Works commented on #1939
I'm sorry I have slow internet connection and sometimes outage this week

[2020-11-23 05:22] Jack-Works commented on #1937
@guanbinrui @zhouhanseng

[2020-11-23 05:32] #318 closed

[2020-11-23 05:32] #185 closed

[2020-11-23 05:32] #200 closed

[2020-11-23 05:32] #34 closed

[2020-11-23 05:32] #644 closed

[2020-11-23 05:32] #645 closed

[2020-11-23 05:32] #599 closed

[2020-11-23 05:32] #973 closed

[2020-11-23 05:32] #142 closed

[2020-11-23 05:32] #1050 closed

[2020-11-23 05:32] #1101 closed

[2020-11-23 05:40] septs commented on #1938
CC @guanbinrui @zhouhanseng

[2020-11-23 06:34] Tedko commented on #1107
is this one finished? @yisiliu

but i guess we can close this issue for now

[2020-11-23 06:39] septs commented on #1107
@Tedko Upstream has been completed, but i need redesign working in WebWorker

see https://github.com/DimensionDev/Stego-JS/pull/12
see https://github.com/DimensionDev/Stego-JS/pull/5#issuecomment-720313632

[2020-11-23 07:20] septs commented on #1939
https://github.com/DimensionDev/webextension-polyfill/commit/1bd22b9f078bcb0426202e920b3acb5b2e447375

[2020-11-23 08:23] Tedko commented on #1107
ok. Keep going

On Mon, Nov 23, 2020 at 14:39 Septs <notifications@github.com> wrote:

[2020-11-23 08:54] septs commented on #1091
Bump

[2020-11-23 09:26] Jack-Works commented on #1937
One of the problem of the dependencies hoisting is that, you're getting modules you _don't_ want in the top level. For example, this is what we get when running `yarn why @babel/core` in our project. Generally this is not a serious problem but imagine what will happen if a conflicting TypeScript definition is being hoisted. TypeScript will auto-discover `@types/` and merge those types you don't wa

[2020-11-23 09:48] #1940 closed

[2020-11-23 09:54] Jack-Works opened #1945 "[Task] Give MutationObserverWatcher a better ad-hoc default preset"
[code]

This pattern is repeating in our codebase which can be simplified.

[2020-11-23 12:07] Jack-Works opened #1946 "[Demand] Storybook current is unavailable"
storybook current is unavailable.

![image](https://user-images.githubusercontent.com/3842474/99938148-28f48f00-2da2-11eb-8c8a-701002a62349.png)

_Originally posted by @septs in https://github.com/DimensionDev/Maskbook/issues/1933#issuecomment-731984427_

[2020-11-23 14:54] septs commented on #1946
https://github.com/storybookjs/storybook/issues/13219

[2020-11-23 15:18] Jack-Works commented on #1946
It's not an upstream problem I guess. If you adjust ts-loader config in storybook it might be fixed

[2020-11-24 00:34] yisiliu opened #1947 "[Bounty] Extend Image Encryption in Twitter"
## Catalogue

- Platform
  - [x] Gitcoin
  - [ ] Hackerlink
  - [ ] Mask
- Experience
  - [ ] Beginner
  - [x] Intermediate
  - [ ] Advanced
- Category
  - [x] Mask Core Feature
  - [ ] Mask Plugin
  - [ ] Security/Cryptography Feature
  - [ ] Documentation
  - [ ] Design
  - [ ] Other
    - [ ] /_List it here_/
- Time Commitment
  - [x] 2 weeks
- Bounty Size
  - [x] 500 DAI

## Part 1: Problem De

[2020-11-24 00:36] yisiliu commented on #1947
@nazariyv are you interested in this?

[2020-11-24 03:55] #1938 closed

[2020-11-24 04:37] septs commented on #1107
Stego-JS Web Worker-ization need wait for #1905 done.

[2020-11-24 05:30] septs opened #1948 "[Demand] Use Semantic Pull Requests Bot"
Status check that ensures your pull requests follow the Conventional Commits spec

see https://probot.github.io/apps/semantic-pull-requests/

CC @Jack-Works @guanbinrui @zhouhanseng @yisiliu

[2020-11-24 06:51] Jack-Works commented on #1938
What's your conclusion? @septs

[2020-11-24 07:51] guanbinrui opened #1949 "[Release] New release 1.20.0"

[2020-11-24 08:52] #1126 closed

[2020-11-24 09:06] Jack-Works commented on #1948
that notifies me. This checker should not apply for the release PR

[2020-11-24 09:55] nazariyv commented on #1947
@yisiliu absolutely! :+1:

[2020-11-24 10:06] #1946 closed

[2020-11-24 10:24] #1945 closed

[2020-11-24 10:27] Jack-Works commented on #1918
@guanbinrui @septs we should stop using `swr` in new code. it is not friendly to multiple fetcher therefore easily to cause bugs

[2020-11-24 10:28] #1612 closed

[2020-11-24 10:32] Jack-Works commented on #1937
npm 7 (with workspace support) is still in early stage, and in npm 7 peer dependencies will be auto installed. that might break something. @septs

[2020-11-24 10:42] septs opened #1951 "[Demand] Use BEM method naming locale key?"
## Catalogue

- [ ] UI/UX
- [ ] Maskbook Core Feature
- [ ] Maskbook Plugin Feature
- [ ] Security/Cryptography Feature
- [x] Other
  - Locale

## Part 1: Introduction and Background

Normalization locale key naming

## Part 2: Problem to Solve

## Part 3: Expected Behavior

## Notes

see http://getbem.com/introduction/

[2020-11-24 10:43] septs commented on #1951
CC @Jack-Works @guanbinrui @zhouhanseng any idea?

[2020-11-24 10:55] Jack-Works commented on #1951
No, we should use i18n namespace to separate them

[2020-11-24 11:15] septs commented on #1951
@Jack-Works start it (migrate to namespace)

[2020-11-24 12:09] yisiliu commented on #1947
@nazariyv approved. Thanks for your contribution!

[2020-11-24 12:26] jk234ert commented on #1896
- [x] JS side modificaiton
- [x] iOS modification
- [ ] Android modification

[2020-11-24 12:34] jk234ert opened #1952 "[Bug] Use <a> tag to trigger file downloading on mobile"
## Bug Report
We have some features that trigger file downloading when users click the corresponding button/links:

1. Backup Database. `browser.downloads.download` is used.
2. Encrypted image download in the new "Manually Image Paste" dialog. <a> tag is used with URL like "blob://xxxxxx.png"

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

[2020-11-24 15:52] septs commented on #1777
@Jack-Works native code is un-done.

[2020-11-25 02:05] #1951 closed

[2020-11-25 03:17] zhouhanseng commented on #1952
On Android, do you need to [request the permission](https://github.com/mozilla-mobile/focus-android/issues/14#issuecomment-304454973) first?

[2020-11-25 06:47] septs opened #1955 "[Task] Redesign locale kit"
@septs how to let the locale kit support this PR?

_Originally posted by @Jack-Works in https://github.com/DimensionDev/Maskbook/issues/1953#issuecomment-733500801_

[2020-11-25 06:58] Jack-Works commented on #1955
Without the new locale kit my pr cannot be merged because it will break the workflow

[2020-11-25 07:05] jk234ert commented on #1941
Detailed requirement:

- [ ] Following the official GeckoView [doc](https://firefox-source-docs.mozilla.org/mobile/android/geckoview/consumer/web-extensions.html#assets-messaging-background-js), add the following code scripts, ensure the code evaluated during Maskbook initialization, App native need to call send messages right after app finish launching to present proper UI to users:
[code]

- [ ]

[2020-11-25 07:11] Jack-Works commented on #1941
@jk234ert did you investigate my previous comment? We should use it has a low level messaging port.

[2020-11-25 12:26] jk234ert commented on #1941
Per as I know our current JSON RPC implementation on iOS is based on iOS's userContentController, a platform-specific interface similar to GeckoView's connect-based messaging. Refer to [GeckoView Doc](https://firefox-source-docs.mozilla.org/mobile/android/geckoview/consumer/web-extensions.html)

Another difference is iOS WKWebview and Android AOSP WebView provide an `evaluateJavaScript` method to

[2020-11-25 12:42] Jack-Works commented on #1941
The channel is platform-specific it's true. But after we make the two-way connection we can run any protocol on it.

On iOS, webview is sending messages to native by `window.webkit.messageHandlers.*.postMessage`, native is receiving message by `WKUserContentController`. And native is sending messages by `evaluateJavaScript` and webview is receiving messages by `document.addEventListener`. The comm

[2020-11-25 13:00] #1886 closed

[2020-11-26 01:12] jk234ert commented on #1941
The way to establish a `two-way` connection is restricted by platforms.
What we have a space to design are:
1. Should we wrap the connection method used on iOS and Android into a unified JS interface?
2. How we design the protocol/message, a simple string-type command like `getXXXValue` or a JSON-RPC message with a similar structure as the one being used on iOS.

The first question is not related

[2020-11-26 01:19] Jack-Works commented on #1941
Yes, when there are no platform-specific problems.

I strongly prefer the latter one, it's easier to extend in the future.

[2020-11-26 01:37] #1703 closed

[2020-11-26 01:39] jk234ert commented on #1952
Permission related stuff would be handled by GeckoView & system, we just use a <a> tag to trigger the event

[2020-11-26 03:22] Tedko opened #1956 "[Bug] fb fanpage img-payload decryption failed due to compression too much"
## Bug Report

take a look of https://www.facebook.com/masknetwork (fan page of fb) and the DOM is different than other timeline. The decryption process cannot work properly.

(The `post encrypted post` process and auto paste etc are  working fine.)

## Environment

### System

- [ ] Windows

  - OS Version:

- [ ] Mac OS X

  - OS Version:

- [ ] Linux

  - Linux Distribution:
  - OS Version:

##

[2020-11-26 04:01] Tedko opened #1957 "[Bug] `Comment` auto paste failed on fb red packet image payload post"
## Bug Report

https://www.facebook.com/suji.yan.me/posts/3257169381072384 example
<img width="421" alt="Screen Shot 2020-11-26 at 11 59 25" src="https://user-images.githubusercontent.com/6687437/100306743-0b603900-2fdf-11eb-9129-a1bd9d8668ee.png">

basically the post encrypted  comment will fail to auto paste (disappear)

## Environment

### System

- [ ] Windows

  - OS Version:

- [x] Mac OS X

[2020-11-26 08:11] zhouhanseng commented on #1956
@Tedko How to test the decryption process on the masknetwork page?

[2020-11-26 08:17] Tedko commented on #1956
@zhouhanseng let me post a test post

[2020-11-26 08:19] Tedko commented on #1956
@zhouhanseng take a look  https://www.facebook.com/masknetwork
<img width="1772" alt="Screen Shot 2020-11-26 at 16 19 06" src="https://user-images.githubusercontent.com/6687437/100325097-1d53d300-3003-11eb-87fb-c4b731d1d3ed.png">

[2020-11-26 08:25] zhouhanseng commented on #1957
I can't reproduce it.

<img src="https://user-images.githubusercontent.com/63733714/100325679-ea5e0f00-3003-11eb-8c9c-f41616d199da.png" width=700 />

[2020-11-26 08:26] Tedko commented on #1957
comment not post

[2020-11-26 08:37] Tedko commented on #1957
@zhouhanseng try to comment on my latest img payload post to reproduce

[2020-11-26 08:39] zhouhanseng commented on #1957
reproduced

Suji Yan <notifications@github.com> 于2020年11月26日周四 下午4:37写道：

[2020-11-26 09:08] jk234ert commented on #1941
Implmentation continues in #1959

[2020-11-26 09:18] jk234ert commented on #1939
Root caused confirmed on iOS native side.

[2020-11-26 09:18] #1939 closed

[2020-11-26 09:31] #1144 closed

[2020-11-26 09:31] #1141 closed

[2020-11-26 09:31] #1118 closed

[2020-11-26 09:31] #1261 closed

[2020-11-26 09:31] #921 closed

[2020-11-26 09:31] #1252 closed

[2020-11-26 09:31] #1395 closed

[2020-11-26 09:31] #1404 closed

[2020-11-26 09:31] #1410 closed

[2020-11-26 09:31] #918 closed

[2020-11-26 09:31] #1430 closed

[2020-11-26 09:31] #1439 closed

[2020-11-26 09:31] #987 closed

[2020-11-26 09:31] #1442 closed

[2020-11-27 06:48] jk234ert commented on #1941
Channel implementation done

[2020-11-27 08:00] #1941 closed

[2020-11-27 08:21] #1948 closed

[2020-11-27 08:59] zhouhanseng commented on #1956
This isn't caused by DOM mismatch. There is probably a bug during image encryption.

[2020-11-27 10:01] zhouhanseng commented on #1956
@septs Facebook compresses the image on fanpage too much which probably causes this issue.

fanpage:
![image](https://user-images.githubusercontent.com/63733714/100436406-4a26e980-30da-11eb-9f21-ace600133679.png)

normal page:
![image](https://user-images.githubusercontent.com/63733714/100436569-7e020f00-30da-11eb-8b60-e070a8e09f61.png)

[2020-11-27 15:07] #1362 closed

[2020-11-29 12:39] nazariyv commented on #1947
I am still working on this

[2020-11-29 12:42] yisiliu commented on #1947
@nazariyv How long do you think it'll take to finish the bounty? Just checking in

[2020-11-29 13:10] Tedko commented on #1956
@guanbinrui seems problem need to be solved by new stego-js

[2020-11-29 13:16] Tedko opened #1962 "[Demand] Add a copy button for exporting wallet&Persona pri-key/mem-words"
## Catalogue

- [x] UI/UX
  - /_List it here_/

## Part 1: Introduction and Background

<img width="1506" alt="Screen Shot 2020-11-29 at 21 08 10" src="https://user-images.githubusercontent.com/6687437/100542906-0376f200-3288-11eb-9341-2ccf8e57e729.png">

We need a copy button (OR click the gray area to copy). This is pretty important for mobile

## Part 2: Problem to Solve

## Part 3: Expected Be

[2020-11-29 13:46] Tedko commented on #1956
#1752

also hows the stage of new stego js?

[2020-11-29 13:51] Tedko commented on #1759
will have a speedy fix and upgrade on contract

[2020-11-29 13:54] Tedko commented on #1391
@zhouhanseng @Jack-Works  can we still reproduce?

[2020-11-29 13:57] Tedko commented on #1447
Another strange bug:

<img width="1421" alt="Screen Shot 2020-11-29 at 21 55 47" src="https://user-images.githubusercontent.com/6687437/100543993-e04f4100-328d-11eb-95c4-39a61719300a.png">
![Uploading Screen Shot 2020-11-29 at 21.55.39.png…]()

you will have this notif under the img payload